<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/c81a1e63cb.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
   integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="./css/styles.css">
  <title>Buscar clientes</title>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/2.1.0/css/dataTables.dataTables.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.2/css/responsive.dataTables.css">
  <script src="https://cdn.datatables.net/2.1.0/js/dataTables.js"></script>
  <script src="https://cdn.datatables.net/plug-ins/2.1.0/i18n/es-ES.json"></script>
</head>


<body class="body-interno"  th:each="datosColaborador : ${datosColaborador}">

	<!--Boton flotante de ws-->
	 <a href="https://wa.me/541157442608?text=Nani estética" target="_blank" class="boton-flotante">
	   <i class="fa-brands fa-whatsapp"></i>
	 </a>
  
<nav>
  <div class="navbar navbar1 navbar-expand-md">
    <div class="container-fluid navbar2">
      <button class="navbar-toggler mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse navbarlogo" id="navbarTogglerDemo01">
        <a th:href="@{/homeColaborador(emailColaborador=${datosColaborador.email})}">
          <div class="imagen-logo ajuste-texto-menu">
            <img src="./imagenes/Nani-removebg-preview.png" class=" img-logo-nav" alt="">
          </div>
        </a>
        <ul class="navbar-nav navbar4 container-fluid p-0">
			<li class="nav-item">
            <a class="nav-link py-1 ajuste-texto-menu" th:href="@{/homeColaborador(emailColaborador=${datosColaborador.email})}">Home</a>
          </li>
		  <li class="nav-item">
		             <a class="nav-link py-1 ajuste-texto-menu" th:href="@{/misdatosColaborador(emailColaborador=${datosColaborador.email})}">Mis datos</a>
		           </li>
		  	  <li class="nav-item">
		  	     <a class="nav-link py-1 ajuste-texto-menu" th:href="@{/listarPacientesOcultosColaborador(emailColaborador=${datosColaborador.email}, idColaborador=${datosColaborador.id})}">Clientes</a>
		  	   </li>
          <li class="nav-item">
            <a class="nav-link py-1 ajuste-texto-menu" th:href="@{/misturnos(email=${datosColaborador.email})}">Profesionales</a>
          </li>
          <li class="nav-item">
         <a class="nav-link  py-1 ajuste-texto-menu" th:href="@{/misturnos(emailColaborador=${datosColaborador.email}, idColaborador=${datosColaborador.id})}">Turnos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  py-1 ajuste-texto-menu" th:href="@{/index}">Cerrar Sesion</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
      
      

	<main class="">
		<div class="main-interno">
			<h3>Buscar clientes</h3>
			<section class=" section-misdatos">
				<div class="container-fluid form-misdatos d-block  justify-content-center align-items-center ">
					<div>
						<p class="text-center fs-5 mb-5">Ingrese el nombre, dni o email del cliente para realizar un busqueda</p>
					</div>

					<div class="">
						<div class="mb-3">
							<form id="formularioBuscador" th:action="@{/buscadorPacientesColaborador}" method="post">
								<div>
									<input  type="text" class="form-control mb-3" id="dato" name="dato" placeholder="Buscar por nombre o DNI">
									<input  type="hidden" id="email" name="emailColaborador" th:value="${datosColaborador.email}"></input>
									<!--Obtenemos el valor de la variable usuariosEmail del metodo listarUsuariosOcultos que a su vez la obtenemos de la pagina homeAdmin y darle al boton buscar la pasa al metod buscarPorDni-->
								</div>
								<div class="mt-5 text-center">
									<button id="submitBuscar" type="submit" class="bn632-hover bn26">Buscar</button>
								</div>
								</form>
	</div>
		</div>
			</div>
				</section>
								
			<section th:if="${usuarios}">
				<form id="formularioTabla" class="alinear-tabla" th:action="@{/datosPersonalesPacienteColaborador}" method="post">
					
					<div class="container-fluid">
												<table id="myTable" class="table table-striped display responsive nowrap tablaUsuario" style="width:100%">
													<thead>
														<tr class="">
															<th class="text-center">Seleccionar</th>
															<th class="text-center">DNI</th>
															<th class="text-center">ID</th>
															<th class="text-center">Nombre</th>
															<th class="text-center">Apellido</th>
															<th class="text-center">Email</th>
															<th class="text-center">Rol</th>
															<th class="text-center">Activo</th>
															<th class="text-center">Multa</th>
														</tr>
													</thead>
													
													<tbody>
														<!--El valor de la variable para el each viene del metodo listarUsuariosVisibles-->
														<tr class="" th:each="usuarios : ${usuarios}">
															<td class="text-center">
																<div class="">
																	<input class="form-check-input" type="radio" name="idCliente" th:value="${usuarios.id}" id="idUsuario">
																</div>
															</td> 
															<td class="text-center" th:text="${usuarios.dni}"></td>
															<td class="text-center" th:text="${#strings.substring(usuarios.id, usuarios.id.length() - 12)}"></td>
															<td class="text-center" th:text="${#strings.toUpperCase(usuarios.nombre)}"></td>
															<td class="text-center" th:text="${#strings.toUpperCase(usuarios.apellido)}"></td>
															<td class="text-center" th:text="${#strings.toLowerCase(usuarios.email)}"></td>
															<td class="text-center" th:text="${usuarios.rol}"></td>
															<td class="text-center" th:text="${usuarios.activo ? 'SI' : 'NO'}"></td>
															<td class="text-center" th:text="${usuarios.multa ? 'SI' : 'NO'}"></td>
															<input hidden type="text" id="usuarioEmail" name="usuarioEmail"
															th:value="${usuarios.email}"></input>
														</tr>    
													</tbody>
												</table>
											</div>
								
					
					<div class="text-center">
							<button id="submitVerPerfil" type="submit" class="bn632-hover bn26">Ver perfil</button>
						</div>
						<input hidden type="text"  name="emailColaborador" th:value="${datosColaborador.email}"></input> <!--El valor de la variable viene del metodo listarUsuariosOcultos que a su vez viene del homeAdmin-->
						<input hidden type="text"  name="dato" th:value="${dato}"></input>
						<input hidden type="text"  name="idColaborador" th:value="${datosColaborador.id}"></input>
				</form>
			</section>
		</div>
		
		
<!--Modal mensajes de error, el script esta en el archivo buscadorPaciente.js-->
		<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true"
     th:classappend="${showModalError} ? 'show d-block' : ''" th:style="${showModalError} ? 'display: block;' : 'display: none;'">
    <div class="modal-dialog">
        <div style="background-color: #ebdf9d;" class="modal-content">
            <div class="modal-header border border-0 d-flex justify-content-center ">
			<img src="../imagenes/icons8-emoji-de-advertencia-48.png" alt="">
            </div>
            <div class="modal-body text-black lh-sm">
                <p class="text-center" th:utext="${error}"></p>
            </div>
            <div class="modal-footer border border-0">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

</main>


	<footer class="d-flex row p-0">
	    <div class="divfooter col-lg-6 mb-3">
	      <p class="mb-3 text-center titulos-footer">CONTACTOS</p>
	      <div class="mb-4">
	        <p class="mb-0 text-center"><img class="iconos" src="/imagenes/icons8-gps-50.png" alt="">Rivadavia 730,
	          B1625 Belén de Escobar</p>
	        <p class="text-center mt-0">Provincia de Buenos Aires</p>
	      </div>
	      <div class="mb-4 text-center">
	        <p><img class="iconos" src="/imagenes/icons8-teléfono-celular-50.png" alt="">+54 (11)5744-2608</p>
	      </div>
	      <div class="mb-4 text-center">
	        <p><img class="iconos" src="/imagenes/icons8-whatsapp-50negro.png" alt="">+54 (11)5744-2608</p>
	      </div>
	      <div class="mb-4 text-center">
	        <p class=""><img class="iconos pe-1" src="/imagenes/icons8-correo-50.png" alt="">estoesunaprueba@gmail.com</p>
	      </div>
	      <div class="text-center iconos3 mt-5 pb-4">
	        <div class="">
	          <a class="link" href="#"><img class=" iconos2" src="/imagenes/icons8-instagram-50 black.png" alt=""></a>
	        </div>
	        <div>
	          <a class="link" href="#"><img class=" iconos2" src="/imagenes/icons8-tik-tok-50 black.png" alt=""></a>
	        </div>
	        <div>
	          <a class="link" href="#"> <img class=" iconos2" src="/imagenes/icons8-facebook-50 black.png" alt=""></a>
	        </div>
	        <div>
	          <a class="link" href="#"><img class=" iconos2" src="/imagenes/icons8-youtube-play-50 black.png" alt=""></a>
	        </div>
	      </div>
	    </div>
		
		
		
		<div class="divfooter col-lg-6">
			<p class=" text-center mb-4 titulos-footer">UBICACIÓN</p>
			<iframe class="w-100 rounded rounded-2" 
			   src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3294.081216388164!2d-58.80112362527934!3d-34.3484110440581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bb61bb0df3ff2f%3A0xd3ede6174bb9f023!2sGMP%2C%20Rivadavia%20730%2C%20B1625%20Bel%C3%A9n%20de%20Escobar%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1722992578537!5m2!1ses!2sar"
			   width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
			 </iframe>
		</div>
	</footer>

	
<!--Bloque script/thymeleaf para asignarles valores dinamicos a las variables que vamos a pasar al archivo historicoDeTurnos.js
NoTA: dentro del archivo .js no podemos trabajar con las variables de thymeleaf por eso le asignamos cada valor a una variable
acá dentro deñ html y luego pasamos esa variable al archivo .js-->
<script th:inline="javascript">
var showModalError = /*[[${showModalError}]]*/ false;
var showModalExito = /*[[${showModalExito}]]*/ false;
</script>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/responsive/3.0.2/js/dataTables.responsive.js"></script>
<script src="https://cdn.datatables.net/responsive/3.0.2/js/responsive.dataTables.js"></script>
<script src="../js/buscadorPaciente.js"></script> <!--Hoja de todos los scripts de la toda la pagina de historico de turnos-->
</html>