<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/c81a1e63cb.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="stylesheet" href="../css/styles.css">
        <title>Formulario</title>
      </head>
<body class="body-misdatos" th:each="datosCliente : ${datosCliente}">
	

  <a href="#" target="_blank" class="boton-flotante">
    <i class="fa-brands fa-whatsapp"></i>
  </a>
  <nav>
    <div class="navbar navbar1 navbar-expand-md">
      <div class="container-fluid navbar2">
        <button class="navbar-toggler mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbarlogo" id="navbarTogglerDemo01">
          <a th:href="@{/homeCliente(email=${datosCliente.email})}">
            <div class="imagen-logo ajuste-texto-menu">
              <img src="../imagenes/Nani-removebg-preview.png" class=" img-logo-nav" alt="">
            </div>
          </a>
          <ul class="navbar-nav navbar4 container-fluid p-0">
			<li class="nav-item">
              <a class="nav-link  py-1 ajuste-texto-menu" th:href="@{/homeCliente(email=${datosCliente.email})}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-1 ajuste-texto-menu" th:href="@{/misdatosCliente(email=${datosCliente.email})}">Mis datos</a> <!--Le pasamos el mail a la pagina misdatosCliente para que cargue todos los datos-->
            </li>
            <li class="nav-item">
              <a class="nav-link py-1 ajuste-texto-menu" th:href="@{/tratamientos(email=${datosCliente.email}, idCliente=${datosCliente.id})}">Solicitar turno</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  py-1 ajuste-texto-menu" th:href="@{/misturnos}">Mis turnos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  py-1 ajuste-texto-menu" th:href="@{/misconsultas}">Mis consultas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-1 ajuste-texto-menu" th:href="@{/cambiarContrasenaCliente(email=${datosCliente.email})}">Cambiar contraseña</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link  py-1 ajuste-texto-menu" th:href="@{/index}">Cerrar sesion</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>


<main class="main-interno">
    <h3 class="">Formulario</h3>
    <section class=" section-misdatosS">
      <p class="text-center fs-4">Antes de seleccionar tu turno te pedimos por favor que completes estos datos por unica vez para ahorrar
       tiempo a la hora de tu consulta y brindarte un servicio mas personalizado.
      </p>
      <div class="container-fluid form-misdatos ">
         <form th:action="@{/guardarFormularioTurnos}" method="post">
			 
			 <div class="mb-3 row">
            <div class="col-md-6">
              <label for="fuma" class="form-label texto-label">¿fuma?</label>
              <select id="fuma" name="fuma" class="form-select rounded-0 " aria-label="Default select example">
            		<option th:value="Seleccione" th:text="Seleccione" th:selected="${fuma == '' || fuma == null}"></option>
                    <option th:value="SI" th:text="SI" th:selected="${fuma == 'SI'}"></option>
                    <option th:value="NO" th:text="NO" th:selected="${fuma == 'NO'}"></option>

            
             <!-- <option selected>Seleccione</option>
              <option value="SI">SI</option>
              <option value="NO">NO</option> -->
            </select>
          </div>
          <div class="col-md-6">
            <label for="drogas" class="form-label texto-label">¿Consume alguna droga?</label>
            <select id="drogas" name="drogas" class="form-select rounded-0 " aria-label="Default select example">
            <option th:value="Seleccione" th:text="Seleccione" th:selected="${drogas == '' || drogas == null}"></option>
            <option th:value="SI" th:text="SI" th:selected="${drogas == 'SI'}"></option>
            <option th:value="NO" th:text="NO" th:selected="${drogas == 'NO'}"></option>
          </select>
        </div>
      </div>
      
       <div class="mb-3 row">
            <div class="col-md-6">
              <label for="alcohol" class="form-label texto-label">¿Aproximadamente cual es su consumo de alcohol?</label>
              <select id="alcohol" name="alcohol" class="form-select rounded-0 " aria-label="Default select example">
			  <option th:value="Seleccione" th:text="Seleccione" th:selected="${alcohol == '' || alcohol == null}"></option>
              <option th:value="Poco" th:text="Poco" th:selected="${alcohol == 'Poco'}"></option>
              <option th:value="Moderado" th:text="Moderado" th:selected="${alcohol == 'Moderado'}"></option>
              <option th:value="Mucho" th:text="Mucho" th:selected="${alcohol == 'Mucho'}"></option>
          <!--    <option selected>Seleccione</option>
              <option value="Poco">Poco</option>
              <option value="Moderado">Moderado</option>
              <option value="Mucho">Mucho</option> -->
            </select>
          </div>
          <div class="col-md-6">
            <label for="deportes" class="form-label texto-label">¿Realiza algun deporte?</label>
            <select id="deportes" name="deportes" class="form-select rounded-0 " aria-label="Default select example">
            <option th:value="Seleccione" th:text="Seleccione" th:selected="${deportes == '' || deportes == null}"></option>
            <option th:value="SI" th:text="SI" th:selected="${deportes == 'SI'}"></option>
            <option th:value="NO" th:text="NO" th:selected="${deportes == 'NO'}"></option>
          </select>
        </div>
      </div>
      
      <div class="mb-3 row">
            <div class="col-md-6">
              <label for="ejercicios" class="form-label texto-label">¿Realiza algun ejercicio?</label>
              <select id="ejercicios" name="ejercicios" class="form-select rounded-0 " aria-label="Default select example">
              <option selected>Seleccione</option>
              <option value="SI">SI</option>
              <option value="NO">NO</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="deporte" class="form-label texto-label">AGREGAR PREGUNTA</label>
            <select id="deporte" name="deporte" class="form-select rounded-0 " aria-label="Default select example">
            <option selected>Seleccione</option>
            <option value="SI">SI</option>
            <option value="NO">NO</option>
          </select>
        </div>
      </div>
      
      <div class="mb-3 row">
  <div class="col-md-6">
    <label for="medicamentos" class="form-label texto-label">¿Toma algun medicamento?</label>
    <select id="medicamentos" name="medicamentos" class="form-select rounded-0 " aria-label="Default select example">
    <option selected>Seleccione</option>
    <option value="SI">SI</option>
    <option value="NO">NO</option>
  </select>
</div>
<div class="col-md-6">
  <label for="nombreMedicamento" class="form-label texto-label">¿Indique el nombre del medicamento?</label>
  <input type="text" name="nombreMedicamento" class="form-control" id="nombreMedicamento" placeholder="">
</div>
</div>
			 
          <div class="mb-3 row">
            <div class="col-md-6">
              <label for="embarazo" class="form-label texto-label">¿Estas embarazada?</label>
              <select id="embarazo" name="embarazo" class="form-select rounded-0 " aria-label="Default select example">
              <option selected>Seleccione</option>
              <option value="SI">Si</option>
              <option value="NO">No</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="amamantando" class="form-label texto-label">¿Estas amamantando?</label>
            <select id="amamantando" name="amamantando" class="form-select rounded-0 " aria-label="Default select example">
            <option selected>Seleccione</option>
            <option value="SI">SI</option>
            <option value="NO">NO</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-md-6">
          <label for="alcohol" class="form-label texto-label">¿Consumes bebidas alcoholicas?</label>
          <select id="alcohol" class="form-select rounded-0 " aria-label="Default select example">
          <option selected>Seleccione</option>
          <option value="Regularmente">Regularmente</option>
          <option value="Muy pocas veces">Muy pocas veces</option>
          <option value="No bebo alcohol">No bebo alcohol</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="ciclo_menstrual" class="form-label texto-label">Ciclo menstrual</label>
        <select id="ciclo_menstrual" name="ciclo_menstrual" class="form-select rounded-0 " aria-label="Default select example">
        <option selected>Seleccione</option>
        <option value="Regular">Regular</option>
        <option value="Irregular">Irregular</option>
      </select>
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-md-6">
      <label for="alteracion_hormonal" class="form-label texto-label">¿Has presentado alguna alteración hormonal?</label>
      <select id="alteracion_hormonal" name="alteracion_hormonal" class="form-select rounded-0 " aria-label="Default select example">
      <option selected>Seleccione</option>
      <option value="SI">SI</option>
      <option value="NO">NO</option>
    </select>
  </div>
  <div class="col-md-6">
    <label for="vitaminas" class="form-label texto-label">¿Tomas alguna vitamina?</label>
    <select id="vitaminas" name="vitaminas" class="form-select rounded-0 " aria-label="Default select example">
    <option selected>Seleccione</option>
    <option value="SI">SI</option>
    <option value="NO">NO</option>
  </select>
</div>
</div>
<div class="mb-3 row">
  <div class="col-md-6">
    <label for="corticoides" class="form-label texto-label">¿Tomas algun corticoide?</label>
    <select id="corticoides" name="corticoides" class="form-select rounded-0 " aria-label="Default select example">
    <option selected>Seleccione</option>
    <option value="SI">SI</option>
    <option value="NO">NO</option>
  </select>
</div>
<div class="col-md-6">
  <label for="cual_corticoide" class="form-label texto-label">¿Cual corticoide?</label>
  <input type="text" class="form-control" id="cual_medicamento" placeholder="">
</div>
</div>

    	<div class="mb-3 row">
          <div class="col-md-6">
            <label for="hormonas" class="form-label texto-label">¿Tomas hormonas?</label>
            <select id="hormonas" name="hormonas" class="form-select rounded-0 " aria-label="Default select example">
            <option selected>Seleccione</option>
            <option value="SI">SI</option>
            <option value="NO">NO</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="metodo_anticonceptivo" class="form-label texto-label">¿Tomas algun anticonceptivo?</label>
          <select id="metodo_anticonceptivo" name="metodo_anticonceptivo" class="form-select rounded-0 " aria-label="Default select example">
          <option selected>Seleccione</option>
          <option value="NO">No</option>
          <option value="Pastillas">Pastilla</option>
          <option value="Parche">Parche</option>
          <option value="Chip">Chip</option>
          <option value="Inyeccion">Inyeccion</option>
          <option value="Diu">Diu</option>
        </select>
      </div>
    </div>
    
    <div class="mb-3 row">
  <div class="col-md-6">
    <label for="sufre_enfermedad" class="form-label texto-label">¿Tienes algun tipo de enfermedad?</label>
    <select id="sufre_enfermedad" name="sufre_enfermedad" class="form-select rounded-0 " aria-label="Default select example">
    <option selected>Seleccione</option>
    <option value="SI">SI</option>
    <option value="NO">NO</option>
  </select>
</div>
<div class="col-md-6">
  <label for="cual_enfermedad" class="form-label texto-label">Mencione cual enfermedad</label>
  <input type="text" name="cual_enfermedad" class="form-control" id="cual_enfermedad" placeholder="">
</div>
</div>

    <div class="mb-3 row">
      <div class="col-md-6">
        <label for="tiroides" class="form-label texto-label">¿Paciente con tiroides?</label>
        <select id="tiroides" name="tiroides" class="form-select rounded-0 " aria-label="Default select example">
        <option selected>Seleccione</option>
        <option value="SI">SI</option>
        <option value="NO">NO</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="paciente_oncologica" class="form-label texto-label">¿Paciente oncologico?</label>
      <select id="paciente_oncologica" name="paciente_oncologica" class="form-select rounded-0 " aria-label="Default select example">
      <option selected>Seleccione</option>
      <option value="SI">SI</option>
      <option value="NO">NO</option>
    </select>
  </div>
</div>

<div class="mb-3 row">
  <div class="col-md-6">
    <label for="fractura_facial" class="form-label texto-label">¿Tienes una fractura facial?</label>
    <select id="fractura_facial" name="fractura_facial" class="form-select rounded-0 " aria-label="Default select example">
    <option selected>Seleccione</option>
    <option value="SI">SI</option>
    <option value="NO">NO</option>
  </select>
</div>
  <div class="col-md-6">
    <label for="tiene_implantes" class="form-label texto-label">¿Tiene implantes?</label>
    <select id="tiene_implantes" name="tiene_implantes" class="form-select rounded-0 " aria-label="Default select example">
    <option selected>Seleccione</option>
    <option value="SI">SI</option>
    <option value="NO">NO</option>
  </select>
</div>
</div>

  <div class="mb-3 row">
<div class="col-md-6">
  <label for="cirugia_estetica" class="form-label texto-label">¿Tienes alguna cirugia estetica?</label>
  <select id="cirugia_estetica" name="cirugia_estetica" class="form-select rounded-0 " aria-label="Default select example">
  <option selected>Seleccione</option>
  <option value="SI">SI</option>
  <option value="NO">NO</option>
</select>
</div>
<div class="col-md-6">
  <label for="indique_cirugia_estetica" class="form-label texto-label">Indique cirugia estetica</label>
  <input type="text" name="indique_cirugia_estetica" class="form-control" id="indique_cirugia_estetica" placeholder="">
</div>
</div>

<div class="mb-3 row">
  <div class="col-md-6">
    <label for="marca_pasos" class="form-label texto-label">¿Tienes marca pasos?</label>
    <select id="marca_pasos" name="marca_pasos" class="form-select rounded-0 " aria-label="Default select example">
    <option selected>Seleccione</option>
    <option value="SI">SI</option>
    <option value="NO">NO</option>
  </select>
</div>
<div class="col-md-6">
  <label for="horas_sueno" class="form-label texto-label">¿Cuantas horas de sueño al dia?</label>
  <select id="horas_sueno" name="horas_sueno" class="form-select rounded-0 " aria-label="Default select example">
  <option selected>Seleccione</option>
  <option value="Mas de ocho horas">Mas de ocho horas</option>
  <option value="Menos de ocho horas">Menos de ocho horas</option>
</select>
</div>
</div>

    <div class="mb-3 row">
<div class="col-md-6">
  <label for="exposicion_sol" class="form-label texto-label">¿horas de exposicion al sol tienes al día?</label>
  <input type="number" name="exposicion_sol" class="form-control" id="exposicion_sol" placeholder="Horas aproximadas de exposicion">
</div>
  <div class="col-md-6">
    <label for="protector_solar" class="form-label texto-label">¿Usas protector solar?</label>
    <select id="protector_solar" name="protector_solar" class="form-select rounded-0 " aria-label="Default select example">
    <option selected>Seleccione</option>
    <option value="SI">SI</option>
    <option value="NO">NO</option>
  </select>
</div>
</div>

<div class="mb-3 row">
  <div class="col-md-6">
    <label for="reaplica_protector" class="form-label texto-label">¿Reaplica el protector solar durante el dia?</label>
    <select id="reaplica_protector" name="reaplica_protector" class="form-select rounded-0 " aria-label="Default select example">
    <option selected>Seleccione</option>
    <option value="SI">SI</option>
    <option value="NO">NO</option>
  </select>
</div>
<div class="col-md-6">
      <label for="consumo_carbohidratos" class="form-label texto-label">¿Cual es su consumo de carbohidratos?</label>
    <select id="consumo_carbohidratos" name="consumo_carbohidratos" class="form-select rounded-0 " aria-label="Default select example">
    <option selected>Seleccione</option>
    <option value="Poco">Poco</option>
    <option value="Moderado">Moderado</option>
    <option value="Abundante">Abundante</option>
  </select>
</div>
</div>

<div class="mb-3 row">
  <div class="col-md-6">
    <label for="tratamientosFacialesAnteriores" class="form-label texto-label">¿Te has hecho tratamientos faciales anteriormente?</label>
    <select id="tratamientosFacialesAnteriores" name="tratamientosFacialesAnteriores" class="form-select rounded-0 " aria-label="Default select example">
    <option selected>Seleccione</option>
    <option value="SI">SI</option>
    <option value="NO">NO</option>
    
  </select>
</div>
<div class="col-md-6">
  <label for="resultados_tratamiento_anterior" class="form-label texto-label">¿Resultado del tratamiento aterior?</label>
    <select id="resultados_tratamiento_anterior" name="resultados_tratamiento_anterior" class="form-select rounded-0 " aria-label="Default select example">
    <option selected>Seleccione</option>
    <option value="Bueno">Bueno</option>
    <option value="Regular">Regular</option>
    <option value="Malo">Malo</option>
  </select>
</div>
</div>


<div class="mb-3 row">
  <div class="col-md-6">
    <label for="motivo_consulta" class="form-label texto-label">¿Cual es el motivo de la consulta?</label>
    <select id="motivo_consulta" name="motivo_consulta" class="form-select rounded-0 " aria-label="Default select example">
    <option selected>Seleccione</option>
    <option value="Enfermedad de la piel">Enfermedad de la piel</option>
    <option value="Condicion de la piel">Condicion de la piel</option>
    <option value="Prevencion">prevencion</option>
    <option value="Otro">otro</option>
  </select>
</div>
<div class="col-md-6">
  <label for="cuidado_de_piel" class="form-label texto-label">¿como te cuidas las piel y que productos usas?</label>
  <input type="text" name="cuidado_de_piel" class="form-control" id="cuidado_de_piel" placeholder="">
</div>
	<input type="hidden" class="form-control" name="tratamiento" id="tratamiento" th:value="${tratamiento}" placeholder="">
	<input type="hidden" class="form-control" name="idCliente" id="idCliente" th:value="${datosCliente.id}" placeholder="">
	<input type="hidden" class="form-control" name="email" id="email" th:value="${datosCliente.email}" placeholder="">
</div>
	<div th:if="${error}" class="fs-5 mt-3 text-danger fw-bold text-center">
	     		<p th:text="${error}"></p>
	  		  </div>



        <div class="boton-de-registro mt-4  text-center">
          <a href="#"><button class="bn632-hover bn26">Guardar</button></a>
        </div>
        <div class="text-center mt-2 ">
          <a class="m-2 fs-5 " href="">Cambiar contraseña</a>
        </div>
        
        </form>
      </div>
    </section>
  </main>

    
  <footer class="d-flex row p-0">
    <div class="divfooter col-lg-4">
      <p class="mb-3 text-center titulos-footer-general">CONTACTOS</p>
      <div class="mb-4">
        <p class="mb-0 text-center"><img class="iconos" src="../imagenes/icons8-gps-50.png" alt="">Pablo Podesta 451,
          B1625 Belén de Escobar</p>
        <p class="text-center mt-0">Provincia de Buenos Aires</p>
      </div>
      <div class="mb-4 text-center">
        <p><img class="iconos" src="../imagenes/icons8-teléfono-celular-50.png" alt="">+54 (11)1111-1111</p>
      </div>
      <div class="mb-4 text-center">
        <p><img class="iconos" src="../imagenes/icons8-whatsapp-50negro.png" alt="">+54 (11)1111-1111</p>
      </div>
      <div class="mb-4 text-center">
        <p class=""><img class="iconos pe-1" src="../imagenes/icons8-correo-50.png" alt="">estoesunaprueba@gmail.com</p>
      </div>
      <div class="text-center iconos3  pb-2">
        <div class="">
          <a class="link" href="#"><img class=" iconos2" src="../imagenes/icons8-instagram-50 black.png" alt=""></a>
        </div>
        <div>
          <a class="link" href="#"><img class=" iconos2" src="../imagenes/icons8-tik-tok-50 black.png" alt=""></a>
        </div>
        <div>
          <a class="link" href="#"> <img class=" iconos2" src="../imagenes/icons8-facebook-50 black.png" alt=""></a>
        </div>
        <div>
          <a class="link" href="#"><img class=" iconos2" src="../imagenes/icons8-youtube-play-50 black.png" alt=""></a>
        </div>
      </div>
    </div>
  
    <div class="divfooter col-lg-4">
      <p class="text-center titulos-footer-general">COMENTARIOS</p>
      <div class="mb-3">
        <label for="exampleFormControlInput21" class="form-label texto-label">NOMBRE</label>
        <input type="text" class="form-control footer-interno" id="exampleFormControlInput21" placeholder="Nombre completo">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput22" class="form-label texto-label">TELEFONO</label>
        <input type="text" class="form-control footer-interno" id="exampleFormControlInput22" placeholder="11 - 1111 - 1111">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput23" class="form-label texto-label">EMAIL</label>
        <input type="email" class="form-control footer-interno" id="exampleFormControlInput23" placeholder="name@example.com">
      </div>
      <div class="mb-2">
        <label for="exampleFormControlTextarea24" class="form-label texto-label">COMENTARIO</label>
        <textarea class="form-control areatexto" id="exampleFormControlTextarea24" rows="3"></textarea>
      </div>
    </div>
  
    <div class="divfooter col-lg-4">
      <p class=" text-center mb-4 titulos-footer-general">UBICACIÓN</p>
      <iframe class="w-100 rounded rounded-2"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4400.61749400772!2d-58.79359358225364!3d-34.353920874961496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bb61b6066f6bc1%3A0xdc195365f6a5a98d!2sPablo%20Podesta%20451%2C%20B1625%20Bel%C3%A9n%20de%20Escobar%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1697767903353!5m2!1ses-419!2sar"
        width="600" height="303" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>
</html>