<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/c81a1e63cb.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="stylesheet" href="../css/styles.css">
        <title>Formulario</title>
      </head>
<body class="body-misdatos" th:each="datosCliente : ${datosCliente}">
	

  <a href="#" target="_blank" class="boton-flotante">
    <i class="fa-brands fa-whatsapp"></i>
  </a>
  <nav>
    <div class="navbar navbar1 navbar-expand-md">
      <div class="container-fluid navbar2">
        <button class="navbar-toggler mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbarlogo" id="navbarTogglerDemo01">
          <a th:href="@{/homeCliente(email=${datosCliente.email})}">
            <div class="imagen-logo ajuste-texto-menu">
              <img src="../imagenes/Nani-removebg-preview.png" class=" img-logo-nav" alt="">
            </div>
          </a>
          <ul class="navbar-nav navbar4 container-fluid p-0">
			<li class="nav-item">
              <a class="nav-link  py-1 ajuste-texto-menu" th:href="@{/homeCliente(email=${datosCliente.email})}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-1 ajuste-texto-menu" th:href="@{/misdatosCliente(email=${datosCliente.email})}">Mis datos</a> <!--Le pasamos el mail a la pagina misdatosCliente para que cargue todos los datos-->
            </li>
            <li class="nav-item">
              <a class="nav-link py-1 ajuste-texto-menu" th:href="@{/tratamientos(email=${datosCliente.email}, idCliente=${datosCliente.id})}">Solicitar turno</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  py-1 ajuste-texto-menu" th:href="@{/misturnos}">Mis turnos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  py-1 ajuste-texto-menu" th:href="@{/misconsultas}">Mis consultas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-1 ajuste-texto-menu" th:href="@{/cambiarContrasenaCliente(email=${datosCliente.email})}">Cambiar contraseña</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link  py-1 ajuste-texto-menu" th:href="@{/index}">Cerrar sesion</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>


<main class="main-interno">
    <h3 class="">Formulario</h3>
    <section class=" section-misdatosS">
      <p class="text-center fs-4">Antes de seleccionar tu turno te pedimos por favor que completes estos datos por unica vez para ahorrar
       tiempo a la hora de tu consulta y brindarte un servicio mas personalizado.
      </p>
      <div class="container-fluid form-misdatos ">
         <form th:action="@{/guardarFormularioTurnos}" method="post">
			 
			 <div class="mb-3 row">
            <div class="col-md-6">
              <label for="fuma" class="form-label texto-label">¿fuma?</label>
              <select id="fuma" name="fuma" class="form-select rounded-0 " aria-label="Default select example">
            		<option th:value="Seleccione" th:text="Seleccione" th:selected="${fuma == '' || fuma == null}"></option>
                    <option th:value="SI" th:text="SI" th:selected="${fuma == 'SI'}"></option>
                    <option th:value="NO" th:text="NO" th:selected="${fuma == 'NO'}"></option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="drogas" class="form-label texto-label">¿Consume alguna droga?</label>
            <select id="drogas" name="drogas" class="form-select rounded-0 " aria-label="Default select example">
            <option th:value="Seleccione" th:text="Seleccione" th:selected="${drogas == '' || drogas == null}"></option>
            <option th:value="SI" th:text="SI" th:selected="${drogas == 'SI'}"></option>
            <option th:value="NO" th:text="NO" th:selected="${drogas == 'NO'}"></option>
          </select>
        </div>
      </div>
      
       <div class="mb-3 row">
            <div class="col-md-6">
              <label for="alcohol" class="form-label texto-label">¿Consumo aproximado de alcohol?</label>
              <select id="alcohol" name="alcohol" class="form-select rounded-0 " aria-label="Default select example">
			  <option th:value="Seleccione" th:text="Seleccione" th:selected="${alcohol == '' || alcohol == null}"></option>
              <option th:value="Poco" th:text="Poco" th:selected="${alcohol == 'Poco'}"></option>
              <option th:value="Moderado" th:text="Moderado" th:selected="${alcohol == 'Moderado'}"></option>
              <option th:value="Mucho" th:text="Mucho" th:selected="${alcohol == 'Mucho'}"></option>
              <option th:value="'No consumo alcohol'" th:text="'No consumo alcohol'" th:selected="${alcohol == 'No consumo alcohol'}"></option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="deportes" class="form-label texto-label">¿Realiza algun deporte?</label>
            <select id="deportes" name="deportes" class="form-select rounded-0 " aria-label="Default select example">
            <option th:value="Seleccione" th:text="Seleccione" th:selected="${deportes == '' || deportes == null}"></option>
            <option th:value="SI" th:text="SI" th:selected="${deportes == 'SI'}"></option>
            <option th:value="NO" th:text="NO" th:selected="${deportes == 'NO'}"></option>
          </select>
        </div>
      </div>
      
      <div class="mb-3 row">
            <div class="col-md-6">
              <label for="ejercicios" class="form-label texto-label">¿Realiza algun ejercicio?</label>
              <select id="ejercicios" name="ejercicios" class="form-select rounded-0 " aria-label="Default select example">
              <option th:value="Seleccione" th:text="Seleccione" th:selected="${ejercicios == '' || ejercicios == null}"></option>
                    <option th:value="SI" th:text="SI" th:selected="${ejercicios == 'SI'}"></option>
                    <option th:value="NO" th:text="NO" th:selected="${ejercicios == 'NO'}"></option>
            </select>
          </div>
          <div class="col-md-6">
        <label for="ciclo_menstrual" class="form-label texto-label">Ciclo menstrual</label>
        <select id="ciclo_menstrual" name="ciclo_menstrual" class="form-select rounded-0 " aria-label="Default select example">
        <option th:value="Seleccione" th:text="Seleccione" th:selected="${ciclo_menstrual == '' || ciclo_menstrual == null}"></option>
         <option th:value="Regular" th:text="Regular" th:selected="${ciclo_menstrual == 'Regular'}"></option>
         <option th:value="Irregular" th:text="Irregular" th:selected="${ciclo_menstrual == 'Irregular'}"></option>
      </select>
    </div>
      </div>
      
      <div class="mb-3 row">
  <div class="col-md-6">
    <label for="medicamentos" class="form-label texto-label">¿Toma algun medicamento?</label>
    <select id="medicamentos" name="medicamentos" class="form-select rounded-0 " aria-label="Default select example">
    	 <option th:value="Seleccione" th:text="Seleccione" th:selected="${medicamentos == '' || medicamentos == null}"></option>
         <option th:value="SI" th:text="SI" th:selected="${medicamentos == 'SI'}"></option>
         <option th:value="NO" th:text="NO" th:selected="${medicamentos == 'NO'}"></option>
  </select>
</div>
<div class="col-md-6">
  <label for="nombreMedicamento" class="form-label texto-label">¿Indique el nombre del medicamento?</label>
  <input type="text" th:value="${nombreMedicamento}" name="nombreMedicamento" class="form-control" id="nombreMedicamento" placeholder="Nombre medicamento">
</div>
</div>
			 
          <div class="mb-3 row">
            <div class="col-md-6">
              <label for="embarazo" class="form-label texto-label">¿Estas embarazada?</label>
              <select id="embarazo" name="embarazo" class="form-select rounded-0 " aria-label="Default select example">
              <option th:value="Seleccione" th:text="Seleccione" th:selected="${embarazo == '' || embarazo == null}"></option>
                    <option th:value="SI" th:text="SI" th:selected="${embarazo == 'SI'}"></option>
                    <option th:value="NO" th:text="NO" th:selected="${embarazo == 'NO'}"></option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="amamantando" class="form-label texto-label">¿Estas amamantando?</label>
            <select id="amamantando" name="amamantando" class="form-select rounded-0 " aria-label="Default select example">
            <option th:value="Seleccione" th:text="Seleccione" th:selected="${amamantando == '' || amamantando == null}"></option>
         <option th:value="SI" th:text="SI" th:selected="${amamantando == 'SI'}"></option>
         <option th:value="NO" th:text="NO" th:selected="${amamantando == 'NO'}"></option>
          </select>
        </div>
      </div>
     
  <div class="mb-3 row">
    <div class="col-md-6">
      <label for="alteracion_hormonal" class="form-label texto-label">¿Has presentado alguna alteración hormonal?</label>
      <select id="alteracion_hormonal" name="alteracion_hormonal" class="form-select rounded-0 " aria-label="Default select example">
     <option th:value="Seleccione" th:text="Seleccione" th:selected="${alteracion_hormonal == '' || alteracion_hormonal == null}"></option>
         <option th:value="SI" th:text="SI" th:selected="${alteracion_hormonal == 'SI'}"></option>
         <option th:value="NO" th:text="NO" th:selected="${alteracion_hormonal == 'NO'}"></option>
    </select>
  </div>
  <div class="col-md-6">
    <label for="vitaminas" class="form-label texto-label">¿Tomas alguna vitamina?</label>
    <select id="vitaminas" name="vitaminas" class="form-select rounded-0 " aria-label="Default select example">
     <option th:value="Seleccione" th:text="Seleccione" th:selected="${vitaminas == '' || vitaminas == null}"></option>
         <option th:value="SI" th:text="SI" th:selected="${vitaminas == 'SI'}"></option>
         <option th:value="NO" th:text="NO" th:selected="${vitaminas == 'NO'}"></option>
  </select>
</div>
</div>
<div class="mb-3 row">
  <div class="col-md-6">
    <label for="corticoides" class="form-label texto-label">¿Tomas algun corticoide?</label>
    <select id="corticoides" name="corticoides" class="form-select rounded-0 " aria-label="Default select example">
    <option th:value="Seleccione" th:text="Seleccione" th:selected="${corticoides == '' || corticoides == null}"></option>
         <option th:value="SI" th:text="SI" th:selected="${corticoides == 'SI'}"></option>
         <option th:value="NO" th:text="NO" th:selected="${corticoides == 'NO'}"></option>
  </select>
</div>

	 <div class="col-md-6">
            <label for="hormonas" class="form-label texto-label">¿Tomas hormonas?</label>
            <select id="hormonas" name="hormonas" class="form-select rounded-0 " aria-label="Default select example">
            <option th:value="Seleccione" th:text="Seleccione" th:selected="${hormonas == '' || hormonas == null}"></option>
         <option th:value="SI" th:text="SI" th:selected="${hormonas == 'SI'}"></option>
         <option th:value="NO" th:text="NO" th:selected="${hormonas == 'NO'}"></option>
          </select>
        </div>
  <!---->
</div>
  


    	<div class="mb-3 row">
          <div class="col-md-6">
        <label for="tiroides" class="form-label texto-label">¿Paciente con tiroides?</label>
        <select id="tiroides" name="tiroides" class="form-select rounded-0 " aria-label="Default select example">
        <option th:value="Seleccione" th:text="Seleccione" th:selected="${tiroides == '' || tiroides == null}"></option>
         <option th:value="SI" th:text="SI" th:selected="${tiroides == 'SI'}"></option>
         <option th:value="NO" th:text="NO" th:selected="${tiroides == 'NO'}"></option>
      </select>
    </div>
        <div class="col-md-6">
          <label for="metodo_anticonceptivo" class="form-label texto-label">¿Tomas algun anticonceptivo?</label>
          <select id="metodo_anticonceptivo" name="metodo_anticonceptivo" class="form-select rounded-0 " aria-label="Default select example">
          <option th:value="Seleccione" th:text="Seleccione" th:selected="${metodo_anticonceptivo == '' || metodo_anticonceptivo == null}"></option>
         <option th:value="NO" th:text="NO" th:selected="${metodo_anticonceptivo == 'NO'}"></option>
         <option th:value="Pastillas" th:text="Pastillas" th:selected="${metodo_anticonceptivo == 'Pastillas'}"></option>
         <option th:value="Parche" th:text="Parche" th:selected="${metodo_anticonceptivo == 'Parche'}"></option>
         <option th:value="Chip" th:text="Chip" th:selected="${metodo_anticonceptivo == 'Chip'}"></option>
         <option th:value="Inyeccion" th:text="Inyeccion" th:selected="${metodo_anticonceptivo == 'Inyeccion'}"></option>
         <option th:value="Diu" th:text="Diu" th:selected="${metodo_anticonceptivo == 'Diu'}"></option>
        </select>
      </div>
    </div>
    
    <div class="mb-3 row">
  <div class="col-md-6">
    <label for="sufre_enfermedad" class="form-label texto-label">¿Tienes algun tipo de enfermedad?</label>
    <select id="sufre_enfermedad" name="sufre_enfermedad" class="form-select rounded-0 " aria-label="Default select example">
    <option th:value="Seleccione" th:text="Seleccione" th:selected="${sufre_enfermedad == '' || sufre_enfermedad == null}"></option>
         <option th:value="SI" th:text="SI" th:selected="${sufre_enfermedad == 'SI'}"></option>
         <option th:value="NO" th:text="NO" th:selected="${sufre_enfermedad == 'NO'}"></option>
  </select>
</div>
<div class="col-md-6">
  <label for="cual_enfermedad" class="form-label texto-label">Mencione cual enfermedad</label>
  <input type="text" th:value="${cual_enfermedad}" name="cual_enfermedad" class="form-control" id="cual_enfermedad" placeholder="">
</div>
</div>

    <div class="mb-3 row">
     
    <div class="col-md-6">
      <label for="paciente_oncologica" class="form-label texto-label">¿Paciente oncologico?</label>
      <select id="paciente_oncologica" name="paciente_oncologica" class="form-select rounded-0 " aria-label="Default select example">
      <option th:value="Seleccione" th:text="Seleccione" th:selected="${paciente_oncologica == '' || paciente_oncologica == null}"></option>
         <option th:value="SI" th:text="SI" th:selected="${paciente_oncologica == 'SI'}"></option>
         <option th:value="NO" th:text="NO" th:selected="${paciente_oncologica == 'NO'}"></option>
    </select>
  </div>
  <div class="col-md-6">
      <label for="consumo_carbohidratos" class="form-label texto-label">¿Cual es su consumo de carbohidratos?</label>
    <select id="consumo_carbohidratos" name="consumo_carbohidratos" class="form-select rounded-0 " aria-label="Default select example">
    <option th:value="Seleccione" th:text="Seleccione" th:selected="${consumo_carbohidratos == '' || consumo_carbohidratos == null}"></option>
         <option th:value="Poco" th:text="Poco" th:selected="${consumo_carbohidratos == 'Poco'}"></option>
         <option th:value="Moderado" th:text="Moderado" th:selected="${consumo_carbohidratos == 'Moderado'}"></option>
         <option th:value="Abundante" th:text="Abundante" th:selected="${consumo_carbohidratos == 'Abundante'}"></option>
  </select>
</div>
</div>

<div class="mb-3 row">
  <div class="col-md-6">
    <label for="fractura_facial" class="form-label texto-label">¿Tienes una fractura facial?</label>
    <select id="fractura_facial" name="fractura_facial" class="form-select rounded-0 " aria-label="Default select example">
    <option th:value="Seleccione" th:text="Seleccione" th:selected="${fractura_facial == '' || fractura_facial == null}"></option>
         <option th:value="SI" th:text="SI" th:selected="${fractura_facial == 'SI'}"></option>
         <option th:value="NO" th:text="NO" th:selected="${fractura_facial == 'NO'}"></option>
  </select>
</div>
  <div class="col-md-6">
    <label for="tiene_implantes" class="form-label texto-label">¿Tiene implantes?</label>
    <select id="tiene_implantes" name="tiene_implantes" class="form-select rounded-0 " aria-label="Default select example">
        <option th:value="Seleccione" th:text="Seleccione" th:selected="${tiene_implantes == '' || tiene_implantes == null}"></option>
         <option th:value="SI" th:text="SI" th:selected="${tiene_implantes == 'SI'}"></option>
         <option th:value="NO" th:text="NO" th:selected="${tiene_implantes == 'NO'}"></option>
  </select>
</div>
</div>

  <div class="mb-3 row">
<div class="col-md-6">
  <label for="cirugia_estetica" class="form-label texto-label">¿Tienes alguna cirugia estetica?</label>
  <select id="cirugia_estetica" name="cirugia_estetica" class="form-select rounded-0 " aria-label="Default select example">
  <option th:value="Seleccione" th:text="Seleccione" th:selected="${cirugia_estetica == '' || cirugia_estetica == null}"></option>
         <option th:value="SI" th:text="SI" th:selected="${cirugia_estetica == 'SI'}"></option>
         <option th:value="NO" th:text="NO" th:selected="${cirugia_estetica == 'NO'}"></option>
</select>
</div>
<div class="col-md-6">
  <label for="indique_cirugia_estetica" class="form-label texto-label">Indique cirugia estetica</label>
  <input type="text" th:value="${indique_cirugia_estetica}" name="indique_cirugia_estetica" class="form-control" id="indique_cirugia_estetica" placeholder="">
</div>
</div>

<div class="mb-3 row">
  <div class="col-md-6">
    <label for="marca_pasos" class="form-label texto-label">¿Tienes marca pasos?</label>
    <select id="marca_pasos" name="marca_pasos" class="form-select rounded-0 " aria-label="Default select example">
    <option th:value="Seleccione" th:text="Seleccione" th:selected="${marca_pasos == '' || marca_pasos == null}"></option>
         <option th:value="SI" th:text="SI" th:selected="${marca_pasos == 'SI'}"></option>
         <option th:value="NO" th:text="NO" th:selected="${marca_pasos == 'NO'}"></option>
  </select>
</div>
<div class="col-md-6">
  <label for="horas_sueno" class="form-label texto-label">¿Cuantas horas de sueño al dia?</label>
  <select id="horas_sueno" name="horas_sueno" class="form-select rounded-0 " aria-label="Default select example">
  <option th:value="Seleccione" th:text="Seleccione" th:selected="${horas_sueno == '' || horas_sueno == null}"></option>
     <option th:value="'Mas de ocho horas'" th:text="'Mas de ocho horas'" th:selected="${horas_sueno == 'Mas de ocho horas'}"></option>
     <option th:value="'Menos de ocho horas'" th:text="'Menos de ocho horas'" th:selected="${horas_sueno == 'Menos de ocho horas'}"></option>
</select>
</div>
</div>

    <div class="mb-3 row">
<div class="col-md-6">
  <label for="exposicion_sol" class="form-label texto-label">¿horas de exposicion al sol tienes al día?</label>
  <input type="number" th:value="${exposicion_sol}" name="exposicion_sol" class="form-control" id="exposicion_sol" placeholder="Horas aproximadas de exposicion">
</div>
  <div class="col-md-6">
    <label for="protector_solar" class="form-label texto-label">¿Usas protector solar?</label>
    <select id="protector_solar" name="protector_solar" class="form-select rounded-0 " aria-label="Default select example">
    <option th:value="Seleccione" th:text="Seleccione" th:selected="${protector_solar == '' || protector_solar == null}"></option>
         <option th:value="SI" th:text="SI" th:selected="${protector_solar == 'SI'}"></option>
         <option th:value="NO" th:text="NO" th:selected="${protector_solar == 'NO'}"></option>
  </select>
</div>
</div>

<div class="mb-3 row">
  <div class="col-md-6">
    <label for="reaplica_protector" class="form-label texto-label">¿Reaplica el protector solar durante el dia?</label>
    <select id="reaplica_protector" name="reaplica_protector" class="form-select rounded-0 " aria-label="Default select example">
    <option th:value="Seleccione" th:text="Seleccione" th:selected="${reaplica_protector == '' || reaplica_protector == null}"></option>
         <option th:value="SI" th:text="SI" th:selected="${reaplica_protector == 'SI'}"></option>
         <option th:value="NO" th:text="NO" th:selected="${reaplica_protector == 'NO'}"></option>
  </select>
</div>
<div class="col-md-6">
    <label for="motivo_consulta" class="form-label texto-label">¿Cual es el motivo de la consulta?</label>
    <select id="motivo_consulta" name="motivo_consulta" class="form-select rounded-0 " aria-label="Default select example">
   	<option th:value="Seleccione" th:text="Seleccione" th:selected="${motivo_consulta == '' || motivo_consulta == null}"></option>
         <option th:value="'Enfermedad de la piel'" th:text="'Enfermedad de la piel'" th:selected="${motivo_consulta == 'Enfermedad de la piel'}"></option>
         <option th:value="'Condicion de la piel'" th:text="'Condicion de la piel'" th:selected="${motivo_consulta == 'Condicion de la piel'}"></option>
         <option th:value="'Prevencion'" th:text="'Prevencion'" th:selected="${motivo_consulta == 'Prevencion'}"></option>
  </select>
</div>

</div>

<div class="mb-3 row">
  <div class="col-md-6">
    <label for="tratamientosFacialesAnteriores" class="form-label texto-label">¿Te has hecho tratamientos faciales anteriormente?</label>
    <select id="tratamientosFacialesAnteriores" name="tratamientosFacialesAnteriores" class="form-select rounded-0 " aria-label="Default select example">
    <option th:value="Seleccione" th:text="Seleccione" th:selected="${tratamientosFacialesAnteriores == '' || tratamientosFacialesAnteriores == null}"></option>
         <option th:value="SI" th:text="SI" th:selected="${tratamientosFacialesAnteriores == 'SI'}"></option>
         <option th:value="NO" th:text="NO" th:selected="${tratamientosFacialesAnteriores == 'NO'}"></option>
    
  </select>
</div>
<div class="col-md-6">
  <label for="resultados_tratamiento_anterior" class="form-label texto-label">¿Resultado del tratamiento aterior?</label>
    <select id="resultados_tratamiento_anterior" name="resultados_tratamiento_anterior" class="form-select rounded-0 " aria-label="Default select example">
    <option th:value="Seleccione" th:text="Seleccione" th:selected="${resultados_tratamiento_anterior == '' || resultados_tratamiento_anterior == null}"></option>
         <option th:value="Bueno" th:text="Bueno" th:selected="${resultados_tratamiento_anterior == 'Bueno'}"></option>
         <option th:value="Regular" th:text="Regular" th:selected="${resultados_tratamiento_anterior == 'Regular'}"></option>
         <option th:value="Malo" th:text="Malo" th:selected="${resultados_tratamiento_anterior == 'Malo'}"></option>
  </select>
</div>
</div>


<div class="mb-3 row">
  
<div class="col-md-12">
  <label for="cuidado_de_piel" class="form-label texto-label">¿Describe brevemente como te cuidas las piel y que productos usas?</label>
  <textarea type="text" style="height: 100px;" th:value="${cuidado_de_piel}" name="cuidado_de_piel" class="form-control" id="cuidado_de_piel" placeholder=""></textarea>
</div>
	<input type="hidden" class="form-control" name="tratamiento" id="tratamiento" th:value="${tratamiento}" placeholder="">
	<input type="hidden" class="form-control" name="idCliente" id="idCliente" th:value="${datosCliente.id}" placeholder="">
	<input type="hidden" class="form-control" name="email" id="email" th:value="${datosCliente.email}" placeholder="">
</div>


        <div class="boton-de-registro mt-4  text-center">
          <a href="#"><button class="bn632-hover bn26">Guardar</button></a>
        </div>
        <div class="text-center mt-2 ">
          <a class="m-2 fs-5 " href="">Cambiar contraseña</a>
        </div>
        
        </form>
      </div>
    </section>
    
    <!--Modal mensaje de error, es un modal de bootstrap con algunas modificaciones para que
    funcione el jquery. La variable ${showModal} viene del metodo guardarFormularioTurnos-->
    
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true"
     th:classappend="${showModal} ? 'show d-block' : ''" th:style="${showModal} ? 'display: block;' : 'display: none;'"> <!--Las variables showModal vienen del metodo asociado y sirven como disparador del modal-->
    <div class="modal-dialog">
        <div style="background-color: #ebdf9d;" class="modal-content">
            <div class="modal-header border border-0 d-flex justify-content-center ">
			<img src="../imagenes/icons8-emoji-de-advertencia-48.png" alt="">
            </div>
            <div class="modal-body text-center text-danger text-uppercase fw-bold">
                <p th:text="${error}">Ha ocurrido un error. Por favor, revise los datos ingresados.</p>
            </div>
            <div class="modal-footer border border-0">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--Este jquery lo saque de chatgp, cumple la funcion de abrir el modal al recibir la variable de 
showModal y tambien se encarga de cerrar el modal cuando le damos al boton cerrar-->
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        var showModal = /*[[${showModal}]]*/ false;
        if (showModal) {
            $('#errorModal').modal('show');
        }

        $('#errorModal').on('hidden.bs.modal', function () {
            $(this).remove();
        });
    });
    /*]]>*/
</script>
</main>

    
  <footer class="d-flex row p-0">
    <div class="divfooter col-lg-4">
      <p class="mb-3 text-center titulos-footer-general">CONTACTOS</p>
      <div class="mb-4">
        <p class="mb-0 text-center"><img class="iconos" src="../imagenes/icons8-gps-50.png" alt="">Pablo Podesta 451,
          B1625 Belén de Escobar</p>
        <p class="text-center mt-0">Provincia de Buenos Aires</p>
      </div>
      <div class="mb-4 text-center">
        <p><img class="iconos" src="../imagenes/icons8-teléfono-celular-50.png" alt="">+54 (11)1111-1111</p>
      </div>
      <div class="mb-4 text-center">
        <p><img class="iconos" src="../imagenes/icons8-whatsapp-50negro.png" alt="">+54 (11)1111-1111</p>
      </div>
      <div class="mb-4 text-center">
        <p class=""><img class="iconos pe-1" src="../imagenes/icons8-correo-50.png" alt="">estoesunaprueba@gmail.com</p>
      </div>
      <div class="text-center iconos3  pb-2">
        <div class="">
          <a class="link" href="#"><img class=" iconos2" src="../imagenes/icons8-instagram-50 black.png" alt=""></a>
        </div>
        <div>
          <a class="link" href="#"><img class=" iconos2" src="../imagenes/icons8-tik-tok-50 black.png" alt=""></a>
        </div>
        <div>
          <a class="link" href="#"> <img class=" iconos2" src="../imagenes/icons8-facebook-50 black.png" alt=""></a>
        </div>
        <div>
          <a class="link" href="#"><img class=" iconos2" src="../imagenes/icons8-youtube-play-50 black.png" alt=""></a>
        </div>
      </div>
    </div>
  
    <div class="divfooter col-lg-4">
      <p class="text-center titulos-footer-general">COMENTARIOS</p>
      <div class="mb-3">
        <label for="exampleFormControlInput21" class="form-label texto-label">NOMBRE</label>
        <input type="text" class="form-control footer-interno" id="exampleFormControlInput21" placeholder="Nombre completo">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput22" class="form-label texto-label">TELEFONO</label>
        <input type="text" class="form-control footer-interno" id="exampleFormControlInput22" placeholder="11 - 1111 - 1111">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput23" class="form-label texto-label">EMAIL</label>
        <input type="email" class="form-control footer-interno" id="exampleFormControlInput23" placeholder="name@example.com">
      </div>
      <div class="mb-2">
        <label for="exampleFormControlTextarea24" class="form-label texto-label">COMENTARIO</label>
        <textarea class="form-control areatexto" id="exampleFormControlTextarea24" rows="3"></textarea>
      </div>
    </div>
  
    <div class="divfooter col-lg-4">
      <p class=" text-center mb-4 titulos-footer-general">UBICACIÓN</p>
      <iframe class="w-100 rounded rounded-2"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4400.61749400772!2d-58.79359358225364!3d-34.353920874961496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bb61b6066f6bc1%3A0xdc195365f6a5a98d!2sPablo%20Podesta%20451%2C%20B1625%20Bel%C3%A9n%20de%20Escobar%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1697767903353!5m2!1ses-419!2sar"
        width="600" height="303" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>
</html>