<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/c81a1e63cb.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="stylesheet" href="../css/styles.css">
        <title>Mis turnos</title>
      </head>
<body class="body-interno" th:each="datosCliente : ${datosCliente}">
  <a href="#" target="_blank" class="boton-flotante">
    <i class="fa-brands fa-whatsapp"></i>
  </a>
  <nav>
    <div class="navbar navbar1 navbar-expand-md">
      <div class="container-fluid navbar2">
        <button class="navbar-toggler mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbarlogo" id="navbarTogglerDemo01">
          <a th:href="@{/homeCliente(email=${datosCliente.email})}">
            <div class="imagen-logo ajuste-texto-menu">
              <img src="../imagenes/Nani-removebg-preview.png" class=" img-logo-nav" alt="">
            </div>
          </a>
          <ul class="navbar-nav navbar4 container-fluid p-0">
			<li class="nav-item">
              <a class="nav-link  py-1 ajuste-texto-menu" th:href="@{/homeCliente(email=${datosCliente.email})}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-1 ajuste-texto-menu" th:href="@{/misdatosCliente(email=${datosCliente.email})}">Mis datos</a> <!--Le pasamos el mail a la pagina misdatosCliente para que cargue todos los datos-->
            </li>
            <li class="nav-item">
              <a class="nav-link py-1 ajuste-texto-menu" th:href="@{/tratamientos(email=${datosCliente.email}, idCliente=${datosCliente.id})}">Solicitar turno</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  py-1 ajuste-texto-menu" th:href="@{/misturnos (email=${datosCliente.email}, idCliente=${datosCliente.id})}">Mis turnos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  py-1 ajuste-texto-menu" th:href="@{/misconsultas (email=${datosCliente.email}, idCliente=${datosCliente.id})}">Mis consultas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-1 ajuste-texto-menu" th:href="@{/cambiarContrasenaCliente(email=${datosCliente.email})}">Cambiar contraseña</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link  py-1 ajuste-texto-menu" th:href="@{/index}">Cerrar sesion</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>



  
  <main>
     <div class="main-interno">
      <h3>Mis turnos</h3>
      <div class="container-fluid d-flex flex-wrap">

<!--El iterStat es otro ietrador que agregamos en cada iteracion para darle un id unico a cada modal
que se genere en iteracion, esto evita que al tener varios turnos, se cruce la info entre ellos al
tener el mismo ID-->
        <div class="ft-misturnos" th:each="turnos, iterStat : ${datosTurno}">
          <div th:if="${turnos.activo}" class="bg-warning text-center text-white">Pendiente</div>
          <div th:unless="${turnos.activo}" class="bg-danger text-center text-white">Cancelado</div>
			<form class="" th:action="@{/cancelarTurno}" method="post">
          <ul class="ps-2 mt-3" >
            <li class="list-unstyled d-flex"><strong>Profesional:</strong>&nbsp <p class="m-0 p-0" th:text="${turnos.profesional.nombre + ' ' + turnos.profesional.apellido}"></p> </li>
            <li class="list-unstyled d-flex"><strong>Fecha:</strong>&nbsp <p class="m-0 p-0" th:text="${turnos.fecha}"></p> </li>
            <li class="list-unstyled d-flex"><strong>Hora:</strong>&nbsp <p class="m-0 p-0" th:text="${turnos.horario}"></p> </li>
            <li class="list-unstyled d-flex"><strong>Tratamiento:</strong>&nbsp <p class="m-0 p-0" th:text="${turnos.tratamiento}"></p> </li>
            </ul>
            
            <div th:if="${turnos.multa}" class="bg-danger fs-6 text-center text-white">ESTE TURNO POSEE UNA MULTA</div>
        
		<!--Estos botones solo hacen el llamado al modal-->
		  <button type="button" th:if="${turnos.activo}" class="btn btn-danger m-2" data-bs-toggle="modal" th:data-bs-target="${'#staticBackdrop' + iterStat.index}">Cancelar turno</button>
          <div th:unless="${turnos.activo}" class=""></div>
        
          <!-- Modal Cancelar turno -->
         											 <!-- se crea id unico al sumar la palabra staticBackdrop + iterStat.index que es la posicion de iteracion de este modal -->
						<div class="modal fade" th:id="${'staticBackdrop' + iterStat.index}" data-bs-backdrop="static" data-bs-keyboard="false"
							tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div style="background-color: #ebdf9d;" class="modal-content">
									<div class="modal-header d-block  text-center border border-0">
										<img src="../imagenes/icons8-emoji-de-advertencia-48.png" alt="">
										<h1 class="modal-title fs-5 fw-bold" id="staticBackdropLabel">
											Importante: Verificación de Cancelación de Turno</h1>
									</div>
									<div class="modal-body fs-6 lh-sm text-justify">
										Por favor, verifica cuidadosamente el turno que deseas cancelar. Si la cancelación se 
										realiza con <span class="bg-warning">menos de 24 horas</span> de anticipación respecto a la fecha y hora seleccionada 
										del turno, <span class="bg-warning">serás multado y bloqueado</span> para seleccionar nuevos turnos hasta que hayas 
										pagado la multa. En cambio si el turno es cancelado con <span class="bg-warning">más de 24 horas</span> de anticipación
										<span class="bg-warning">no se aplicará ninguna sanción.</span> <br><br>

										Si a pesar de esta advertencia deseas proceder con la cancelación, deberás dirigirte
										nuevamente al portal de selección de turnos para generar uno nuevo.<br><br>
										<span class="fs-5 fw-bold">¿Estás seguro de que deseas proceder con la cancelación?</span>
									</div>
									<div class="modal-footer border border-0">
										<button type="button" class="btn btn-danger"
											data-bs-dismiss="modal">Cerrar</button>
										<a href="">
											<!--Este boton es el que hace el llamado al metodo-->
											<button type="submit" class="btn btn-primary">Aceptar</button>
												
										</a>
									</div>
								</div>
							</div>
						</div>
						  <input hidden type="text" id="email" name="email" th:value="${emailCliente}"></input>
						  <input hidden type="text" id="emailCliente" name="emailCliente" th:value="${turnos.email}"></input>
          				  <input hidden type="text" id="fecha" name="fecha" th:value="${turnos.fecha}"></input>
          				  <input hidden type="text" id="horario" name="horario" th:value="${turnos.horario}"></input>
          				  <input hidden type="text" id="idTurno" name="idTurno" th:value="${turnos.id}"></input>
          				  <input hidden type="text" id="idProfesional" name="idProfesional" th:value="${turnos.profesional.id}"></input>
          				  <input hidden type="text" id="idCliente" name="idCliente" th:value="${turnos.cliente.id}"></input>
          </form>
            </div>
            </div>
            </div>
   
        

    
    					<!--Modal mensaje de exito al registrarse	-->
    					
    <div class="modal fade" id="exitoModal" data-bs-backdrop="static" data-bs-keyboard="false"
	tabindex="-1" aria-labelledby="exitoModalLabel" aria-hidden="true"
	th:classappend="${showModalExito} ? 'show d-block' : ''" th:style="${showModalExito} ? 'display: block;' : 'display: none;'">
		<div class="modal-dialog">
			<div style="background-color: #ebdf9d;" class="modal-content">
				<div class="modal-header border border-0 d-flex justify-content-center">
					<img style="height: 70px; width: 70px;" class="" src="../imagenes/icons8-aprobado2 (1).gif" alt="imagen de aprobado">
				</div>
				<div class="modal-body text-center text-danger text-uppercase fw-bold">
					<p class="fs-6" th:text="${exito}"></p>
				</div>
				<div class="modal-footer border border-0">
					<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
	
	
	
	
	<!--Scrip para el modal de mensaje de exito-->
			
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        var showModalExito = /*[[${showModalExito}]]*/ false;
        if (showModalExito) {
            $('#exitoModal').modal('show');
        }

        $('#exitoModal').on('hidden.bs.modal', function () {
            $(this).remove();
        });
    });
    /*]]>*/
</script>
  </main>



  <footer class="d-flex row p-0">
    <div class="divfooter col-lg-4">
      <p class="mb-3 text-center titulos-footer-general">CONTACTOS</p>
      <div class="mb-4">
        <p class="mb-0 text-center"><img class="iconos" src="../imagenes/icons8-gps-50.png" alt="">Pablo Podesta 451,
          B1625 Belén de Escobar</p>
        <p class="text-center mt-0">Provincia de Buenos Aires</p>
      </div>
      <div class="mb-4 text-center">
        <p><img class="iconos" src="../imagenes/icons8-teléfono-celular-50.png" alt="">+54 (11)1111-1111</p>
      </div>
      <div class="mb-4 text-center">
        <p><img class="iconos" src="../imagenes/icons8-whatsapp-50negro.png" alt="">+54 (11)1111-1111</p>
      </div>
      <div class="mb-4 text-center">
        <p class=""><img class="iconos pe-1" src="../imagenes/icons8-correo-50.png" alt="">estoesunaprueba@gmail.com</p>
      </div>
      <div class="text-center iconos3  pb-2">
        <div class="">
          <a class="link" href="#"><img class=" iconos2" src="../imagenes/icons8-instagram-50 black.png" alt=""></a>
        </div>
        <div>
          <a class="link" href="#"><img class=" iconos2" src="../imagenes/icons8-tik-tok-50 black.png" alt=""></a>
        </div>
        <div>
          <a class="link" href="#"> <img class=" iconos2" src="../imagenes/icons8-facebook-50 black.png" alt=""></a>
        </div>
        <div>
          <a class="link" href="#"><img class=" iconos2" src="../imagenes/icons8-youtube-play-50 black.png" alt=""></a>
        </div>
      </div>
    </div>
    <div class="divfooter col-lg-4">
      <p class="text-center titulos-footer-general">COMENTARIOS</p>
      <div class="mb-3">
        <label for="exampleFormControlInput21" class="form-label texto-label">NOMBRE</label>
        <input type="text" class="form-control footer-interno" id="exampleFormControlInput21" placeholder="Nombre completo">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput22" class="form-label texto-label">TELEFONO</label>
        <input type="text" class="form-control footer-interno" id="exampleFormControlInput22" placeholder="11 - 1111 - 1111">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput23" class="form-label texto-label">EMAIL</label>
        <input type="email" class="form-control footer-interno" id="exampleFormControlInput23" placeholder="name@example.com">
      </div>
      <div class="mb-2">
        <label for="exampleFormControlTextarea24" class="form-label texto-label">COMENTARIO</label>
        <textarea class="form-control areatexto" id="exampleFormControlTextarea24" rows="3"></textarea>
      </div>
    </div>
    <div class="divfooter col-lg-4">
      <p class=" text-center mb-4 titulos-footer-general">UBICACIÓN</p>
      <iframe class="w-100 rounded rounded-2"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4400.61749400772!2d-58.79359358225364!3d-34.353920874961496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bb61b6066f6bc1%3A0xdc195365f6a5a98d!2sPablo%20Podesta%20451%2C%20B1625%20Bel%C3%A9n%20de%20Escobar%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1697767903353!5m2!1ses-419!2sar"
        width="600" height="303" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>
</html>