<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/c81a1e63cb.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="../css/styles.css">
  <title>Reserva de turno</title>
  
   <script>
        function autoSubmitProvincia() {
            document.getElementById("formularioProvincia").submit();
        }
		
		function autoSubmitEspecialidad() {
		           document.getElementById("formularioEspecialidad").submit();
		       }
        
        function autoSubmitProfesional() {
            document.getElementById("formularioProfesional").submit();
        }
        
         function autoSubmitFecha() {
            document.getElementById("formularioFecha").submit();
        }
        
         function autoSubmitHorario() {
            document.getElementById("formularioHorario").submit();
        }
        
        //   <!--Scrip para la seleccion de tratamientos-->
     
        function agregarTratamiento() {
    const tratamientoSelect = document.getElementById('tratamiento');
    const tratamientoId = tratamientoSelect.value;
    const tratamientoNombre = tratamientoSelect.options[tratamientoSelect.selectedIndex].text;
    const lista = document.getElementById('listaTratamientos');

    if (!Array.from(lista.options).some(option => option.value === tratamientoId)) {
        const optionElement = document.createElement('option');
        optionElement.value = tratamientoId;
        optionElement.text = tratamientoNombre;
        lista.add(optionElement);
    }

    actualizarCampoTratamientos();
}

function actualizarCampoTratamientos() {
    const lista = document.getElementById('listaTratamientos');
    const tratamientosSeleccionados = Array.from(lista.options).map(option => option.value);
    document.getElementById('tratamientosSeleccionados').value = tratamientosSeleccionados.join(',');
}

function eliminarTratamiento() {
    const lista = document.getElementById('listaTratamientos');
    lista.remove(lista.selectedIndex);
    actualizarCampoTratamientos();
}

        
    </script>
    
    
</head>

<body class="body-interno" th:each="datosCliente : ${datosCliente}">

	<!--Boton flotante de ws-->
	 <a href="https://wa.me/541157442608?text=Nani estética" target="_blank" class="boton-flotante">
	   <i class="fa-brands fa-whatsapp"></i>
	 </a>
  
  <nav>
    <div class="navbar navbar1 navbar-expand-md">
      <div class="container-fluid navbar2">
        <button class="navbar-toggler mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbarlogo" id="navbarTogglerDemo01">
          <a th:href="@{/homeCliente(email=${datosCliente.email})}">
            <div class="imagen-logo ajuste-texto-menu">
              <img src="../imagenes/Nani-removebg-preview.png" class=" img-logo-nav" alt="">
            </div>
          </a>
          <ul class="navbar-nav navbar4 container-fluid p-0">
			<li class="nav-item">
              <a class="nav-link  py-1 ajuste-texto-menu" th:href="@{/homeCliente(email=${datosCliente.email})}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-1 ajuste-texto-menu" th:href="@{/misdatosCliente(email=${datosCliente.email})}">Mis datos</a> <!--Le pasamos el mail a la pagina misdatosCliente para que cargue todos los datos-->
            </li>
            <li class="nav-item">
              <a class="nav-link py-1 ajuste-texto-menu" th:href="@{/tratamientos(email=${datosCliente.email}, idCliente=${datosCliente.id})}">Solicitar turno</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  py-1 ajuste-texto-menu" th:href="@{/misturnos (email=${datosCliente.email}, idCliente=${datosCliente.id})}">Mis turnos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  py-1 ajuste-texto-menu" th:href="@{/misconsultas (email=${datosCliente.email}, idCliente=${datosCliente.id})}">Mis consultas</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link  py-1 ajuste-texto-menu" th:href="@{/index}">Cerrar sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>



<main class="">
  <div class="main-interno">
    <h3>Reserva de turnos faciales</h3>
  <div class=" container">
      <div class="  ft-reserva-turno">
        <div class="texto-solicitar-turno">
          <div>
          <p class="fs-4">Todos nuestros tratamientos faciales incluyen una limpieza profunda con extracciones.</p>
          <p class="fs-4">Por favor, siga los pasos a continuación para solicitar un turno.</p>
        </div>
        </div>
        <div class="container">

			<!--Este formulario es para llevar al metodo que busca crea y busca las fechas disponibles
			se usa, cuando el usuario selecciona buscar en el input de fecha-->
            <form id="formularioProvincia" th:action="@{/buscarPorEspecialidadAndProvincia}" method="get" class="form-misdatos fomularioCambiarContrasena fomularioSacarTurno pb-0">
             <label for="provincia" class="form-label mb-0 fs-4">Paso 1: Seleccione provincia <span class="text-danger ">*</span> </label>
            <select onchange="autoSubmitProvincia()" name="provincia" class="form-select" id="provincia" aria-label="Default select example">
            <option value=""  th:selected="${provinciaSeleccionada}" th:text="${provinciaSeleccionada == null ? 'Seleccione una provincia' : provinciaSeleccionada}"></option>
            <!--el th:value="${provincia.name()} viene por defecto al hacer un enum con una descripcion al lado, este metodo envia a esa descripcion como un string-->
            <option th:each="provincia : ${provincias}" th:value="${provincia.name()}" th:text="${provincia.displayName}"></option> <!--cuando uso enum, para mostrar el nombre se debe usar el metodo name()-->
            </select>
            
            <input type="hidden" class="form-control" name="identificador" id="identificador" th:value="${identificador}" placeholder="">
            <input type="hidden" class="form-control" name="idCliente" id="idCliente" th:value="${datosCliente.id}" placeholder="">
		  	<input type="hidden" class="form-control" name="emailCliente" id="emailCliente" th:value="${datosCliente.email}" placeholder="">
       
            </form>
			
			<form id="formularioEspecialidad" th:action="@{/buscarProfesionalesPorEspecialidadAndProvincia}" method="post"  class="form-misdatos fomularioCambiarContrasena fomularioSacarTurno pt-2 pb-0">
			            <div>
			              <label for="tipoEspecialidad" class="form-label mb-0 mt-2 fs-4">Paso 2: Seleccione una especialidad <span class="text-danger ">*</span></label>
			              <select th:attr="disabled=${isEspecialidadDisabled == null || !isEspecialidadDisabled ? 'disabled' : null}" onchange="autoSubmitEspecialidad()" class="form-select" id="tipoEspecialidad" name="tipoEspecialidad" aria-label="Default select example">
			                <option th:selected="${tipoDeEspecialidadSeleccionada}" th:text="${tipoDeEspecialidadSeleccionada == null || #strings.isEmpty(tipoDeEspecialidadSeleccionada) ? 'Seleccione una especialidad' : tipoDeEspecialidadSeleccionada}"></option>
			                <option th:each="tipoEspecialidades : ${tipoEspecialidad}" th:text="${tipoEspecialidades.DisplayName}" th:value="${tipoEspecialidades}"></option>
			              </select>
			            </div>
			            <div>
			            
			            <input type="hidden" class="form-control" name="provinciaString" id="provinciaString" th:value="${provinciaString}" placeholder="">
			            <input type="hidden" class="form-control" name="identificador" id="identificador" th:value="${identificador}" placeholder="">
			            <input type="hidden" class="form-control" name="idCliente" id="idCliente" th:value="${datosCliente.id}" placeholder="">
					  	<input type="hidden" class="form-control" name="emailCliente" id="emailCliente" th:value="${datosCliente.email}" placeholder="">
			            </div>
			          </form>
           
			<!--Este formulario va al metodo que guarda el turno y elimina la fecha seleccionada por el usaurio-->           
		
          <form id="formularioProfesional" th:action="@{/buscarProfesional}" method="post"  class="form-misdatos fomularioCambiarContrasena fomularioSacarTurno pt-2 pb-0">
            <div>
              <label for="profesional" class="form-label mb-0 mt-2 fs-4">Paso 2: Seleccione profesional <span class="text-danger ">*</span></label>
              <select th:attr="disabled=${isProfesionalDisabled == null || !isProfesionalDisabled ? 'disabled' : null}" onchange="autoSubmitProfesional()" class="form-select" id="profesional" name="idProfesional" aria-label="Default select example">
                <option th:selected="${profesionalSeleccionado}" th:text="${profesionalSeleccionado == null || #strings.isEmpty(profesionalSeleccionado) ? 'Seleccione un profesional' : profesionalSeleccionado}">Profesional</option>
                <option th:each="nombreProfesional : ${Profesionales}" th:text="${nombreProfesional.nombre + ' '  + nombreProfesional.apellido}" th:value="${nombreProfesional.id}"></option>
              </select>
            </div>
            <div>
            
            <input type="hidden" class="form-control" name="provinciaString" id="provinciaString" th:value="${provinciaString}" placeholder="">
            <input type="hidden" class="form-control" name="identificador" id="identificador" th:value="${identificador}" placeholder="">
            <input type="hidden" class="form-control" name="idCliente" id="idCliente" th:value="${datosCliente.id}" placeholder="">
		  	<input type="hidden" class="form-control" name="emailCliente" id="emailCliente" th:value="${datosCliente.email}" placeholder="">
			<input type="hidden" class="form-control" name="especialidad" id="especialidad" th:value="${especialidad}" placeholder="">
            </div>
          </form>
          
          <form id="formularioFecha" th:action="@{/seleccionDeFecha}" method="post" class="form-misdatos fomularioCambiarContrasena fomularioSacarTurno pt-2 pb-0">
             <label  for="fechaSeleccionada" class="form-label mb-0 mt-2  fs-4">Paso 3: Seleccione fecha <span class="text-danger ">*</span></label>
            <input th:attr="disabled=${isFechaDisabled == null || !isFechaDisabled ? 'disabled' : null}" onchange="autoSubmitFecha()" type="date" name="fechaSeleccionada" class="form-control" id="fechaSeleccionada" th:value="${fechaSeleccionada}" placeholder="Fecha">
            
            <input type="hidden" class="form-control" name="nombreDelProfesional" id="nombreDelProfesional" th:value="${nombreDelProfesional}" placeholder="">
            <input type="hidden" class="form-control" name="idProfesional" id="idProfesional" th:value="${idProfesional}" placeholder="">
            <input type="hidden" class="form-control" name="provinciaString" id="provinciaString" th:value="${provinciaString}" placeholder="">
            <input type="hidden" class="form-control" name="identificador" id="identificador" th:value="${identificador}" placeholder="">
            <input type="hidden" class="form-control" name="idCliente" id="idCliente" th:value="${datosCliente.id}" placeholder="">
		  	<input type="hidden" class="form-control" name="emailCliente" id="emailCliente" th:value="${datosCliente.email}" placeholder="">
			<input type="hidden" class="form-control" name="especialidad" id="especialidad" th:value="${especialidad}" placeholder="">
		  </form>
			  
          
            
          <form id="formularioHorario" th:action="@{/seleccionDeHorario}" method="post" class="form-misdatos fomularioCambiarContrasena fomularioSacarTurno pt-2 pb-0">
              <label for="horario" class="form-label mb-0 mt-2 fs-4">Paso 4: Seleccione hora <span class="text-danger ">*</span></label>
              <select onchange="autoSubmitHorario()" th:attr="disabled=${isHorarioDisabled == null || !isHorarioDisabled ? 'disabled' : null}"  name="horario" class="form-select" id="horario" aria-label="Default select example">
                <option  th:selected="${horarioSeleccionado}" th:text="${horarioSeleccionado == null || #strings.isEmpty(horarioSeleccionado) ? 'Seleccione un horario' : horarioSeleccionado}">Horario</option>
                <!--el th:value="${horario.hora}" viene de hacer un constructor y un metodo get llamano hora en el enum horario, este devuelve el strinf al lado del enum-->
                <option th:each="horario : ${horarios}" th:value="${horario}" th:text="${horario}"></option>
              </select>
         
          	<input type="hidden" class="form-control" name="fechaSeleccionada" id="fechaSeleccionada" th:value="${fechaSeleccionada}" placeholder="">
            <input type="hidden" class="form-control" name="nombreDelProfesional" id="nombreDelProfesional" th:value="${nombreDelProfesional}" placeholder="">
            <input type="hidden" class="form-control" name="idProfesional" id="idProfesional" th:value="${idProfesional}" placeholder="">
            <input type="hidden" class="form-control" name="provinciaString" id="provinciaString" th:value="${provinciaString}" placeholder="">
            <input type="hidden" class="form-control" name="identificador" id="identificador" th:value="${identificador}" placeholder="">
            <input type="hidden" class="form-control" name="idCliente" id="idCliente" th:value="${datosCliente.id}" placeholder="">
		  	<input type="hidden" class="form-control" name="emailCliente" id="emailCliente" th:value="${datosCliente.email}" placeholder="">
			<input type="hidden" class="form-control" name="especialidad" id="especialidad" th:value="${especialidad}" placeholder="">
          
		  </form>
		  
			
		
		  <form  th:action="@{/confimarTurnoCliente}" method="post" class="form-misdatos fomularioCambiarContrasena fomularioSacarTurno pt-2 pb-0">
          
         		 <label for="tratamiento" class="form-label mb-0 mt-2 fs-4">Paso 5: Seleccione tratamientos <span class="text-danger ">*</span></label>
         		 <p class="fs-6 fw-light">Máximo dos tratamientos por turno</p>

                <div  class="mb-5">
                  <div class="row d-flex align-items-end justify-content-center">
                    <div class="col-md-6">
                      <select th:attr="disabled=${isTratamientoDisabled == null || !isTratamientoDisabled ? 'disabled' : null}" name="tratamiento" class="form-select" id="tratamiento" aria-label="Default select example">
                        <option th:selected="${tratamientoSeleccionado}" th:text="${tratamientoSeleccionado == null || #strings.isEmpty(tratamientoSeleccionado) ? 'Seleccione tratamientos' : tratamientoSeleccionado}">Tratamientos</option>
                        <!--el th:value="${horario.hora}" viene de hacer un constructor y un metodo get llamano hora en el enum horario, este devuelve el strinf al lado del enum-->
                        <option th:each="tratamiento : ${tratamientos}" th:value="${tratamiento.id}" th:text="${tratamiento.NombreTratamientos.DisplayName + ' ' + '$'+tratamiento.CostoTratamiento}"></option>
                        </select>

                        <div class="d-flex justify-content-center mt-4">
                          <div style="margin-right: 5px; margin-top: 10px;" class="">
                            <button th:attr="disabled=${isTratamientoDisabled == null || !isTratamientoDisabled ? 'disabled' : null}" class="btn btn-primary" type="button" onclick="agregarTratamiento()">Agregar</button>
                        </div>
                        <div style="margin-left: 5px; margin-top: 10px;" class="">
                          <button th:attr="disabled=${isTratamientoDisabled == null || !isTratamientoDisabled ? 'disabled' : null}" class="btn btn-danger" type="button" onclick="eliminarTratamiento()">Eliminar</button>
                        </div>
                      </div>
                      </div>
                          
                    <div class="col-md-6 text-center">
                      <label  class="fs-5 form-label texto-label mb-0" for="listaTratamientos">Tratamientos seleccionados:</label>
                      <select th:attr="disabled=${isTratamientoDisabled == null || !isTratamientoDisabled ? 'disabled' : null}" aria-label="Default select example" class="form-select" id="listaTratamientos" name="listaTratamientos" size="5" multiple>
                      
                    </select>
                  </div>
                </div>
                     
                <input type="hidden" id="tratamientosSeleccionados" name="tratamientosSeleccionados" />
              </div>

             	 <div class="boton-pag-turno">
            <div class="boton-de-registro text-center">
              <button th:attr="disabled=${isTratamientoDisabled == null || !isTratamientoDisabled ? 'disabled' : null}" type="submit" name="action" value="aceptar" th:class="${isTratamientoDisabled == null || !isTratamientoDisabled ? 'bn632-hover bn26 enviar' : 'bn632-hover bn26'}">Enviar</button>
            </div>
            <div class="boton-de-registro text-center">
              <button  type="submit" name="action" value="cancelar" class="bn632-hover bn26">Cancelar</button>
            </div>
          </div>
              
          	<input type="hidden" class="form-control" name="fechaSeleccionada" id="fechaSeleccionada" th:value="${fechaSeleccionada}" placeholder="">
            <input type="hidden" class="form-control" name="nombreDelProfesional" id="nombreDelProfesional" th:value="${nombreDelProfesional}" placeholder="">
            <input type="hidden" class="form-control" name="idProfesional" id="idProfesional" th:value="${idProfesional}" placeholder="">
            <input type="hidden" class="form-control" name="provinciaString" id="provinciaString" th:value="${provinciaString}" placeholder="">
            <input type="hidden" class="form-control" name="identificador" id="identificador" th:value="${identificador}" placeholder="">
            <input type="hidden" class="form-control" name="idCliente" id="idCliente" th:value="${datosCliente.id}" placeholder="">
		  	<input type="hidden" class="form-control" name="emailCliente" id="emailCliente" th:value="${datosCliente.email}" placeholder="">
		  	<input type="hidden" class="form-control" name="horarioSeleccionado" id="horarioSeleccionadoente" th:value="${horarioSeleccionado}" placeholder="">
			<input type="hidden" class="form-control" name="especialidad" id="especialidad" th:value="${especialidad}" placeholder="">
			  
		  </form>
		 
			  
        </div>
      </div>
</div>
</div>
		  

<!--Modal mensajes de error-->
		
		<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true"
     th:classappend="${showModalError} ? 'show d-block' : ''" th:style="${showModalError} ? 'display: block;' : 'display: none;'">
    <div class="modal-dialog">
        <div style="background-color: #ebdf9d;" class="modal-content">
            <div class="modal-header border border-0 d-flex justify-content-center ">
			<img src="../imagenes/icons8-emoji-de-advertencia-48.png" alt="">
            </div>
            <div class="modal-body text-black lh-sm">
                <p class="text-center" th:utext="${error}"></p> <!--utext permite recibir texto en string con etiquetas html-->
            </div>
            <div class="modal-footer border border-0">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


				<!--Script para modal de error-->
				
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        var showModalError = /*[[${showModalError}]]*/ false;
        if (showModalError) {
            $('#errorModal').modal('show');
        }

        $('#errorModal').on('hidden.bs.modal', function () {
            $(this).remove();
        });
    });
    /*]]>*/
</script>
  </main>



  <footer class="d-flex row p-0">
      <div class="divfooter col-lg-6 mb-3">
        <p class="mb-3 text-center titulos-footer">CONTACTOS</p>
        <div class="mb-4">
          <p class="mb-0 text-center"><img class="iconos" src="/imagenes/icons8-gps-50.png" alt="">Rivadavia 730,
            B1625 Belén de Escobar</p>
          <p class="text-center mt-0">Provincia de Buenos Aires</p>
        </div>
        <div class="mb-4 text-center">
          <p><img class="iconos" src="/imagenes/icons8-teléfono-celular-50.png" alt="">+54 (11)5744-2608</p>
        </div>
        <div class="mb-4 text-center">
          <p><img class="iconos" src="/imagenes/icons8-whatsapp-50negro.png" alt="">+54 (11)5744-2608</p>
        </div>
        <div class="mb-4 text-center">
          <p class=""><img class="iconos pe-1" src="/imagenes/icons8-correo-50.png" alt="">estoesunaprueba@gmail.com</p>
        </div>
        <div class="text-center iconos3 mt-5 pb-4">
          <div class="">
            <a class="link" href="#"><img class=" iconos2" src="/imagenes/icons8-instagram-50 black.png" alt=""></a>
          </div>
          <div>
            <a class="link" href="#"><img class=" iconos2" src="/imagenes/icons8-tik-tok-50 black.png" alt=""></a>
          </div>
          <div>
            <a class="link" href="#"> <img class=" iconos2" src="/imagenes/icons8-facebook-50 black.png" alt=""></a>
          </div>
          <div>
            <a class="link" href="#"><img class=" iconos2" src="/imagenes/icons8-youtube-play-50 black.png" alt=""></a>
          </div>
        </div>
      </div>
  
    
    <div class="divfooter col-lg-6">
      <p class=" text-center mb-4 titulos-footer">UBICACIÓN</p>
	  <iframe class="w-100 rounded rounded-2" 
	     src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3294.081216388164!2d-58.80112362527934!3d-34.3484110440581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bb61bb0df3ff2f%3A0xd3ede6174bb9f023!2sGMP%2C%20Rivadavia%20730%2C%20B1625%20Bel%C3%A9n%20de%20Escobar%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1722992578537!5m2!1ses!2sar"
	     width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
	   </iframe>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>