<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Profesionales</title>
</head>
<body>
    <form th:action="@{/turnos/disponibles}" method="post">
    <h1>Lista de Profesionales</h1>
    <select name="profesionalId" id="fecha">
        <option th:each="profesional : ${profesionales}" 
                th:value="${profesional.id}" 
                
                th:text="${profesional.nombre + ' ' + profesional.apellido}">
        <p th:text="${profesional.id}"></p>
        </option>
    </select>
    <label for="fecha">Seleccione una Fecha:</label>
    <input type="date" id="fecha" name="fecha">
    <br>
    <button type="submit">Ver Horarios Disponibles</button>
</form>
</body>
</html>