<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/c81a1e63cb.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="./css/styles.css">
  <title>Home</title>
</head>


<body class="container-fluid p-0">
  <!--Boton flotante de ws-->
  <a href="#" target="_blank" class="boton-flotante">
    <i class="fa-brands fa-whatsapp"></i>
  </a>
  

  <!--------- NAV ------------->
  <nav class="container-fluid row p-0 m-0">
    <div class=" d-flex justify-content-end">
      <p class="tituloredes">SIGUENOS EN NUESTRAS REDES: &nbsp</p>
      <div class="iconos3">
        <div class="ms-2"><a href="#"><img class="iconos" src="./imagenes/icons8-instagram-50 black.png" alt=""></a>
        </div>
        <div class="ms-2"><a href="#"><img class="iconos" src="./imagenes/icons8-tik-tok-50 black.png" alt=""></a></div>
        <div class="ms-2"><a href="#"><img class="iconos" src="./imagenes/icons8-facebook-50 black.png" alt=""></a>
        </div>
        <div class="ms-2"><a href="#"><img class="iconos" src="./imagenes/icons8-youtube-play-50 black.png" alt=""></a>
        </div>
      </div>
    </div>
    <nav class="navbar navbar1 navbar-expand-md col-6 col-sm-8">
      <div class="container-fluid navbar2">
        <button class="navbar-toggler mb-2" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbarlogo" id="navbarTogglerDemo01">
          <a href="">
            <div class="imagen-logo alvaro">
              <img src="./imagenes/Nani-removebg-preview.png" class=" img-logo" alt="">
            </div>
          </a>
          <ul class="navbar-nav navbar4 container-fluid p-0">
            <li class="nav-item">
             <a class="nav-link active py-1 ajuste-texto-menu" aria-current="page" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-1 ajuste-texto-menu" href="./tablamisdatos.html">NOSOTROS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-1 ajuste-texto-menu" href="#">TRATAMIENTOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  py-1 ajuste-texto-menu" href="#">RESULTADOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  py-1 ajuste-texto-menu" href="./login.html">TURNOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-1 ajuste-texto-menu" href="#">PRODUCTOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-1 ajuste-texto-menu" href="./home.html">CONTACTOS</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    
    <div class=" cabecera navbar1 col-6 col-sm-4">
      <div class="d-flex justify-content-center  align-items-center">
        <a class="registrarse" href="./login.html">LOGIN</a>
      </div>
        <div class="d-flex justify-content-center  align-items-center">
          <a class="registrarse" href="./registrarse.html">REGISTRARSE</a>
        </div>
      </div>
    </nav>
    
<!--------  HEADER ------------->
  <header class="header1">
    <div class="contenido-header">
      <div class="header-flex">
        <div class="img-fondo-header">
          <img class="img-header-banner img-fluid" src="./imagenes/Nani-removebg-preview.png" alt="">
        </div>
        <div class="titulo1">
          <h1 class=" h1estetica">NANI ESTETICA</h1>
        </div>
      </div>
    </div>
    <div>
      <H2 class="titulo2 m-0">Tramientos faciales con resultados reales</H2>
    </div>
  </header>
<!---------- MAIN -------------->
  <main>
    <div class="imagen-fija-fondo">
      <h3 class="text-center pt-3">NOSOTROS</h3>
      <p class="text-center px-4 py-3 texto-img-fijas">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Consequuntur a facere dolor reiciendis qui, minus amet ab facilis architecto natus officiis laudantium assumenda
        ut, ullam debitis, aspernatur sint dolore atque?
        Consectetur repudiandae, dolore dolores quidem officiis ipsum deserunt asperiores debitis perspiciatis, labore
        cum. Non quam voluptatum aliquam aspernatur distinctio! Necessitatibus hic doloremque, ex id aspernatur amet
        excepturi natus. Hic, neque.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur dolores amet totam dignissimos facere nam quia cum laboriosam? Quisquam recusandae doloremque quo nam, placeat error voluptate dolore vero at esse, ipsam aperiam numquam et repellendus officia dignissimos distinctio, perferendis necessitatibus. Nihil quas aspernatur repellendus molestiae, voluptate cumque quidem consequatur nam?
      </p>
    </div>


    <div class="tarjetas-main px-5">
      <h3 class="text-center">BENEFICIOS DE LOS TRATAMIENTOS FACIALES</h3>
      <div class="tarjetas-centrales">
        <div class="card my-3 text-center tarjeta1 borde border-0" style="width: 40rem;">
          <img src="./imagenes/istockphoto-968940310-1024x1024.jpg" class="card-img-top" alt="...">
        </div>
        <div class="div-parrafos">
          <p class="text-center parrafos-main">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed repellendus
            reprehenderit dolore eos aperiam harum tempora quam molestiae quas ex cum modi voluptates, saepe unde
            provident dolor, ratione corporis quis? Nesciunt ex labore atque nam, eaque laudantium, esse quis, sapiente
            ipsam dolorum sequi minima nisi soluta eius. Laboriosam aperiam dolores temporibus amet suscipit explicabo
            consequuntur, cum quos autem reiciendis recusandae consectetur sapiente sit, officiis similique voluptatum
            mollitia enim obcaecati. Dolore.</p>
        </div>
      </div>

      <div class="tarjetas-centrales">
        <div class="card my-3 text-center tarjeta2 borde border-0" style="width: 40rem;">
          <img src="./imagenes/istockphoto-968940310-1024x1024.jpg" class="card-img-top" alt="...">
        </div>
        <div class="div-parrafos">
          <p class="text-center parrafos-main">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora
            repellat maxime at illum eius quas saepe recusandae tempore atque quo? Numquam quasi nulla aut incidunt eum
            excepturi accusantium eius, dolorem accusamus debitis itaque ullam id nemo voluptas inventore molestiae eos
            iusto vel consectetur. Delectus quam corporis aut, ullam, neque, corrupti voluptate beatae laudantium alias
            nobis adipisci aliquid excepturi suscipit iure.</p>
        </div>
      </div>

      <div class="tarjetas-centrales">
        <div class="card my-3 text-center tarjeta1 borde border-0" style="width: 40rem;">
          <img src="./imagenes/istockphoto-968940310-1024x1024.jpg" class="card-img-top" alt="...">
        </div>
        <div class="div-parrafos">
          <p class="text-center parrafos-main">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
            necessitatibus iusto asperiores, illo maiores reiciendis nulla ea quidem placeat a optio quae, neque odio
            esse quaerat magni beatae natus mollitia! Consequuntur, quidem harum. Quam assumenda fuga non excepturi
            sequi. Velit deserunt obcaecati nisi a at consectetur quae nam rem ipsa omnis magnam consequatur impedit
            dolore earum natus ut, modi perspiciatis officia, in necessitatibus, nemo cum iusto dolorum deleniti!
            Voluptate, aspernatur numquam maiores maxime aliquam ex totam doloribus cum architecto consectetur.</p>
        </div>
      </div>

      <div class="tarjetas-centrales">
        <div class="card my-3 text-center tarjeta2 borde border-0" style="width: 40rem;">
          <img src="./imagenes/istockphoto-968940310-1024x1024.jpg" class="card-img-top" alt="...">
        </div>
        <div class="div-parrafos">
          <p class="text-center parrafos-main">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ullam
            vel, sequi voluptas facilis eligendi dolorum aliquid blanditiis nisi inventore nesciunt corporis odio
            molestiae, facere quo quod architecto excepturi cum?</p>
        </div>
      </div>

    </div>


    <div class="imagen-fija-fondo">
      <h3 class="text-center">TITULO</h3>
      <p class="px-4 py-3 mb-0 texto-img-fijas">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident sed
        obcaecati laborum sit soluta dolor laboriosam aliquam, beatae cupiditate in adipisci ipsum dicta nisi
        perferendis velit aut commodi fuga repudiandae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
        voluptatibus consectetur voluptatem soluta nobis asperiores quasi laudantium voluptate dolore accusantium vitae
        itaque distinctio, repudiandae tenetur quis animi optio ipsa? Numquam! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, totam facere. Ab nam tempora assumenda ullam labore repellendus amet aut error totam commodi perferendis voluptatum, sapiente velit? Ut minima odit quibusdam! Voluptatem voluptatum eos at adipisci exercitationem aliquid quisquam aperiam!</p>
    </div>
    
    <div class="imagenes-main">
      <h3 class="text-center">TRATAMIENTOS</h3>
      <div class="row text-center mx-0 px-0 d-flex justify-content-center align-items-center">
        <div class="col-lg-4 p-0 img-main">
          <a href="" ;>
            <div class="img-main-tarjetas d-flex justify-content-center align-items-center">
              <p class="texto-tarjetas-main">AQUI VA EL TITULO DE LA IMAGEN</p>
            </div>
          </a>
        </div>

        <div class="col-lg-4 p-0 img-main">
          <a href="" ;>
            <div class="img-main-tarjetas d-flex justify-content-center align-items-center">
              <p class="texto-tarjetas-main">AQUI VA EL TITULO DE LA IMAGEN</p>
            </div>
          </a>
        </div>

        <div class="col-lg-4 p-0 img-main">
          <a href="" ;>
            <div class="img-main-tarjetas d-flex justify-content-center align-items-center">
              <p class="texto-tarjetas-main">AQUI VA EL TITULO DE LA IMAGEN</p>
            </div>
          </a>
        </div>

        <div class="row text-center mx-0 px-0 d-flex justify-content-center align-items-center">
          <div class="col-lg-4 p-0 img-main">
            <a href="" ;>
              <div class="img-main-tarjetas d-flex justify-content-center align-items-center">
                <p class="texto-tarjetas-main">AQUI VA EL TITULO DE LA IMAGEN</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 p-0 img-main">
            <a href="" ;>
              <div class="img-main-tarjetas d-flex justify-content-center align-items-center">
                <p class="texto-tarjetas-main">AQUI VA EL TITULO DE LA IMAGEN</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 p-0 img-main">
            <a href="" ;>
              <div class="img-main-tarjetas d-flex justify-content-center align-items-center">
                <p class="texto-tarjetas-main">AQUI VA EL TITULO DE LA IMAGEN</p>
              </div>
            </a>
          </div>
        </div>

        <div class="row text-center mx-0 px-0 d-flex justify-content-center align-items-center">
          <div class="col-lg-4 p-0 img-main">
            <a href="" ;>
              <div class="img-main-tarjetas d-flex justify-content-center align-items-center">
                <p class="texto-tarjetas-main">AQUI VA EL TITULO DE LA IMAGEN</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 p-0 img-main">
            <a href="" ;>
              <div class="img-main-tarjetas d-flex justify-content-center align-items-center">
                <p class="texto-tarjetas-main">AQUI VA EL TITULO DE LA IMAGEN</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 p-0 img-main">
            <a href="" ;>
              <div class="img-main-tarjetas d-flex justify-content-center align-items-center">
                <p class="texto-tarjetas-main">AQUI VA EL TITULO DE LA IMAGEN</p>
              </div>
            </a>
          </div>
  </main>
<!----------- FOOTER ------------>
  <footer class="d-flex row p-0">
    <div class="divfooter col-lg-4">
      <p class="mb-3 text-center titulos-footer">CONTACTOS</p>
      <div class="mb-4">
        <p class="mb-0 text-center"><img class="iconos" src="./imagenes/icons8-gps-50.png" alt="">Pablo Podesta 451,
          B1625 Belén de Escobar</p>
        <p class="text-center mt-0">Provincia de Buenos Aires</p>
      </div>
      <div class="mb-4 text-center">
        <p><img class="iconos" src="./imagenes/icons8-teléfono-celular-50.png" alt="">+54 (11)1111-1111</p>
      </div>
      <div class="mb-4 text-center">
        <p><img class="iconos" src="./imagenes/icons8-whatsapp-50negro.png" alt="">+54 (11)1111-1111</p>
      </div>
      <div class="mb-4 text-center">
        <p class=""><img class="iconos pe-1" src="./imagenes/icons8-correo-50.png" alt="">estoesunaprueba@gmail.com</p>
      </div>
      <div class="text-center iconos3 mt-5 pb-4">
        <div class="">
          <a class="link" href="#"><img class=" iconos2" src="./imagenes/icons8-instagram-50 black.png" alt=""></a>
        </div>
        <div>
          <a class="link" href="#"><img class=" iconos2" src="./imagenes/icons8-tik-tok-50 black.png" alt=""></a>
        </div>
        <div>
          <a class="link" href="#"> <img class=" iconos2" src="./imagenes/icons8-facebook-50 black.png" alt=""></a>
        </div>
        <div>
          <a class="link" href="#"><img class=" iconos2" src="./imagenes/icons8-youtube-play-50 black.png" alt=""></a>
        </div>
      </div>
    </div>

    <div class="divfooter col-lg-4">
      <p class=" mb-3 text-center titulos-footer">COMENTARIOS</p>
      <div class="mb-3">
        <label for="exampleFormControlInput21" class="form-label texto-label">NOMBRE</label>
        <input type="text" class="form-control" id="exampleFormControlInput21" placeholder="Nombre completo">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput22" class="form-label texto-label">TELEFONO</label>
        <input type="text" class="form-control" id="exampleFormControlInput22" placeholder="11 - 1111 - 1111">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput23" class="form-label texto-label">EMAIL</label>
        <input type="email" class="form-control" id="exampleFormControlInput23" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea24" class="form-label texto-label">COMENTARIO</label>
        <textarea class="form-control" id="exampleFormControlTextarea24" rows="3"></textarea>
      </div>
    </div>

    <div class="divfooter col-lg-4">
      <p class=" text-center titulos-footer">UBICACIÓN</p>
      <iframe class="w-100 rounded rounded-2"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4400.61749400772!2d-58.79359358225364!3d-34.353920874961496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bb61b6066f6bc1%3A0xdc195365f6a5a98d!2sPablo%20Podesta%20451%2C%20B1625%20Bel%C3%A9n%20de%20Escobar%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1697767903353!5m2!1ses-419!2sar"
        width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>

    <div class="contenedor-logo-final">
      <img class="img-logo-final" src="./imagenes/Nani-removebg-preview.png" alt="">
    </div>

    <div class="diseñado">
      <p class="m-0">DISEÑADO POR: <b>SHESHANYS</b></p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>