<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/c81a1e63cb.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   		<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="stylesheet" href="../css/styles.css">
        <title>Datos Profesional</title>
		
			
      </head>
<body class="body-misdatos" th:each="datosProfesional : ${datosProfesional}">

	<!--Boton flotante de ws-->
	 <a href="https://wa.me/541157442608?text=Nani estética" target="_blank" class="boton-flotante">
	   <i class="fa-brands fa-whatsapp"></i>
	 </a>
  
<nav>
  <div class="navbar navbar1 navbar-expand-md">
    <div class="container-fluid navbar2">
      <button class="navbar-toggler mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbarlogo" id="navbarTogglerDemo01">
        <a th:href="@{/homeProfesional(email=${datosProfesional.email})}">
          <div class="imagen-logo ajuste-texto-menu">
            <img src="./imagenes/Nani-removebg-preview.png" class=" img-logo-nav" alt="">
          </div>
        </a>
        <ul class="navbar-nav navbar4 container-fluid p-0">
			<li class="nav-item">
            <a class="nav-link py-1 ajuste-texto-menu" th:href="@{/homeProfesional(email=${datosProfesional.email})}">Home</a>
          </li>
		  <li class="nav-item">
		             <a class="nav-link py-1 ajuste-texto-menu" th:href="@{/misdatosProfesional(email=${datosProfesional.email})}">Datos personales</a>
		           </li>
		  	  <li class="nav-item">
		  	     <a class="nav-link py-1 ajuste-texto-menu" th:href="@{/datosProfesional(email=${datosProfesional.email}, idProfesional=${datosProfesional.id})}">Datos profesionales</a>
		  	   </li>
          <li class="nav-item">
            <a class="nav-link py-1 ajuste-texto-menu" th:href="@{/listarPacientesOcultos(email=${datosProfesional.email})}">Clientes</a>
          </li>
          <li class="nav-item">
             <a class="nav-link  py-1 ajuste-texto-menu" th:href="@{/misturnosProfesional(email=${datosProfesional.email}, idProfesional=${datosProfesional.id})}">Turnos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  py-1 ajuste-texto-menu" th:href="@{/index}">Cerrar Sesion</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<main class="main-misdatos">
  <h3 class="">Datos profesionales</h3>
    <section class=" section-misdatos">
      <div class="container-fluid form-misdatos ">
         
			<div class="row">
				
          <div class="mb-3 col-lg-12">
            <label for="idProfesional" class="form-label texto-label" disabled >ID profesional</label>
            <input id="idProfesional" type="text" th:value="${#strings.toUpperCase(datosProfesional.id)}" class="form-control"  placeholder="Nombre" disabled >
          </div>
		  
		  <div class="mb-3 col-lg-12">
		   <label for="nombreProfesional" class="form-label texto-label" disabled >Nombre</label>
		   <input id="nombreProfesional" type="text" th:value="${#strings.toUpperCase(datosProfesional.nombre + ' ' + datosProfesional.apellido)}" class="form-control"  placeholder="Nombre" disabled >
		  </div>
		  
		  <div class="mb-3 col-lg-12">
		  <label for="especialidadProfesional" class="form-label texto-label" disabled >Especialidad</label>
		  <input id="especialidadProfesional" type="text" th:value="${#strings.toUpperCase(datosProfesional.tipoEspecialidad.displayName)}" class="form-control" placeholder="Nombre" disabled >
		  </div>
		  </div>
		  

<h4 class="text-center mt-5">Modificar datos laborales</h4>
<p class="text-center fs-6">Para modificar los elementos, primero debes presionar el botón <span class="fw-bold">"Modificar"</span> en cada casilla,
	 lo que habilitará la edición. Una vez habilitada, podrás seleccionar un nuevo elemento de la lista y agregarlo
	  a la casilla pulsando el botón <span class="fw-bold">"Agregar"</span>. Si deseas eliminar un elemento, selecciona el que está en la casilla
	   y pulsa el botón <span class="fw-bold">"Eliminar"</span>. Para guardar los cambios realizados, presiona el botón <span class="fw-bold">"Guardar"</span>.
	    Si prefieres cancelar o no guardar los cambios, presiona el botón <span class="fw-bold">"Cancelar"</span>.</p>
		  	  
		  <div class="row mt-5">
		 
        <form id="formularioDiasLaborales" th:action="@{/actualizarDiaLaboral}" method="post" class="mb-3 col-lg-6 elemento-hover">
			
		 <div>
			<div id="divSeleccionDias" style="display: none;" class="text-center">
			    <label class="fs-5 form-label texto-label mb-0" for="selectDiasLaborales">Selecciona un día laboral:</label>
			    <select aria-label="Default select example" class="form-select" id="selectDiasLaborales" name="selectDiasLaborales" disabled>
			        <option th:each="dia : ${diasDeLaSemana}" th:value="${dia}" th:text="${dia}"></option>
			    </select>
			</div>

			<div class="row d-flex align-items-center justify-content-center">
				
				<!-- Botones para agregar o eliminar días -->
			<div id="divBotones" style="display: none;" class="text-center col-md-6">
			<button type="button" onclick="agregarDia('selectDiasLaborales', 'listaSeleccionadas3', 'diasSeleccionadosCampo')" class="btn btn-primary mt-2">Agregar</button>
			 <button type="button" onclick="eliminarDia('listaSeleccionadas3', 'diasSeleccionadosCampo')" class="btn btn-danger mt-2">Eliminar</button>
			</div>	
				
			<!-- Select de días seleccionados (precargados con días guardados en la base de datos) -->
			<div class="text-center mt-3 col-md-6">
			    <label class="fs-5 form-label texto-label mb-0" for="listaSeleccionadas3">Días laborales</label>
			    <select aria-label="Default select example" class="form-select" id="listaSeleccionadas3" name="listaSeleccionadas3" size="6" multiple disabled>
			        <!-- Pre-cargar con los días almacenados en la base de datos -->
			        <option th:each="diaSeleccionado : ${diasLaborales}" th:value="${diaSeleccionado}" th:text="${diaSeleccionado}"></option>
			    </select>
			</div>

			</div>
			
			
			
			<div id="divModificar" class="text-center">
				<button type="button" class="bn632-hover bn26" onclick="habilitarEdicion()" >Modificar</button>
			</div>
			
			<div class="text-center d-flex justify-content-center">
				<button id="btnGuardar" style="display: none;" type="button" class="bn632-hover bn26" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">Guardar</button>
				 <button id="btnCancelar" style="display: none;" type="button" class="bn632-hover bn26 cancelar" onclick="cancelarEdicion()">Cancelar</button>
			</div>
			

			<!-- Campo oculto para enviar los días seleccionados al backend -->
			<input type="hidden" id="diasSeleccionadosCampo" name="diasSeleccionados">
			<input type="hidden" th:value="${datosProfesional.id}" class="form-control" name="idProfesional" id="idProfesional"> <!--input oculto para enviar el id del profesional al controlador actualizarDatosProfesional-->
			<input type="hidden" th:value="${datosProfesional.email}" class="form-control" name="emailProfesional" id="email">
		 </div>
			      
		 
		 <!--Modal para guardar la actualizacion de dias laborales-->

		 						<div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false"
		 							tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		 							<div class="modal-dialog">
		 								<div style="background-color: #ebdf9d;" class="modal-content">
		 									<div class="modal-header d-block  text-center border border-0">
		 										<img src="../imagenes/icons8-emoji-de-advertencia-48.png" alt="">
		 										<h1 class="modal-title text-black lh-sm text-center fs-5 fw-bold" id="staticBackdropLabel"></h1>
		 									</div>
		 									<div class="modal-body text-black lh-sm text-center">
		 										<span class="fs-6 fw-bold">Estimado usuario,</span><br><br>
		 										<span class="fs-6">¿Estas seguro de guardar los cambios realizados?</span>
		 									</div>
		 									<div class="modal-footer border border-0">
		 										<button type="button" class="btn btn-danger"
		 											data-bs-dismiss="modal">Cerrar</button>
		 										<a href="">
		 											<!--Este boton es el que hace el llamado al metodo-->
		 											<button type="submit" name="action" value="modificarRol"
		 												class="btn btn-primary">Aceptar</button>
		 										</a>
		 									</div>
		 								</div>
		 							</div>
		 						</div>
        </form>
		
		<form id="formularioHorarioLaboral" th:action="@{actualizarHorarioLaboral}" method="post" class="mb-3 col-lg-6 elemento-hover">
			
		 <div>
			<div id="divHorasMinutos" style="display: none;" class="row">
			<div class="text-center col-md-6">
			       <label class="form-label texto-label mb-0" for="selectHorasLaborales">Selecciona la hora:</label>
			       <select aria-label="Default select example" class="form-select" id="selectHorasLaborales" name="selectHorasLaborales" disabled>
			           <!-- Opciones de horas (puedes agregar más) -->
			         <option value="08">08</option>
			        <option value="09">09</option>
			        <option value="10">10</option>
			        <option value="11">11</option>
			        <option value="12">12</option>
			        <option value="13">13</option>
			        <option value="14">14</option>
			        <option value="15">15</option>
			        <option value="16">16</option>
			        <option value="17">17</option>
			        <option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
			       </select>
			     </div>
				 
				 
				 <div class="col-md-6">
				      <label class="form-label texto-label mb-0" for="selectMinutos">Selecciona minutos:</label>
				      <select aria-label="Default select example" class="form-select" id="selectMinutos" name="selectMinutos" disabled>
				          <!-- Opciones de minutos -->
				          <option value="00">00</option>
				          <option value="15">15</option>
				          <option value="30">30</option>
				          <option value="45">45</option>
				      </select>
				    </div>
				</div>
				
					
					
				 <div class="row d-flex align-items-center justify-content-center">
					<!-- Botones para agregar o eliminar días -->
					<div id="divBotones2" style="display: none;"  class="text-center col-md-6">
					<button type="button" onclick="agregarHora('selectHorasLaborales', 'selectMinutos', 'listaSeleccionadas2', 'horasSeleccionadosCampo')" class="btn btn-primary mt-2">Agregar</button>
					<button type="button" onclick="eliminarHora('listaSeleccionadas2', 'horasSeleccionadosCampo')" class="btn btn-danger mt-2">Eliminar</button>
					</div>	
					
					<!-- Select de días seleccionados (precargados con días guardados en la base de datos) -->
					<div class="text-center mt-3 col-md-6">
					<label class="fs-5 form-label texto-label mb-0" for="listaSeleccionadas2">Horas laborales</label>
					<select aria-label="Default select example" class="form-select" id="listaSeleccionadas2" name="listaSeleccionadas2" size="6" multiple disabled>
						<!-- Pre-cargar con los días almacenados en la base de datos -->
					<option th:each="horariosLaborales : ${horariosLaborales}" th:value="${horariosLaborales}" th:text="${horariosLaborales}"></option>
					</select>
					</div>
					
					<div id="divModificar2" class="text-center">
					<button type="button" class="bn632-hover bn26" onclick="habilitarEdicion2()" >Modificar</button>
					</div>
								
					<div class="text-center d-flex justify-content-center">
						<button id="btnGuardar2" style="display: none;" type="button" class="bn632-hover bn26" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">Guardar</button>
						<button id="btnCancelar2" style="display: none;" type="button" class="bn632-hover bn26 cancelar" onclick="cancelarEdicion2()">Cancelar</button>
					</div>
								

					<!-- Campo oculto para enviar los días seleccionados al backend -->
					<input type="hidden" id="horasSeleccionadosCampo" name="horasSeleccionados">
					<input type="hidden" th:value="${datosProfesional.id}" class="form-control" name="idProfesional" id="idProfesional"> <!--input oculto para enviar el id del profesional al controlador actualizarDatosProfesional-->
					<input type="hidden" th:value="${datosProfesional.email}" class="form-control" name="emailProfesional" id="email">
					
				 </div>
		 </div>
		 
		 
		 <!-- Modal boton guardar actualizacion de horas laborales -->
		 
		 						<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
		 							tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		 							<div class="modal-dialog">
		 								<div style="background-color: #ebdf9d;" class="modal-content">
		 									<div class="modal-header d-block  text-center border border-0">
		 										<img src="../imagenes/icons8-emoji-de-advertencia-48.png" alt="">
		 										<h1 class="modal-title text-black lh-sm fs-4 fw-bold text-center" id="staticBackdropLabel"></h1>
		 									</div>
		 									<div class="modal-body lh-sm text-center">
		 										<span class="fs-6 fw-bold">Estimado usuario,</span><br><br>
		 										<span class="fs-6">¿Estas seguro de guardar los cambios realizados?</span>
		 									</div>
		 									<div class="modal-footer border border-0">
		 										<button type="button" class="btn btn-danger"
		 											data-bs-dismiss="modal">Cerrar</button>
		 										<a href="">
		 											<!--Este boton es el que hace el llamado al metodo-->
		 											<button type="submit" name="action" value="altaUsuario"
		 												class="btn btn-primary">Aceptar</button>
		 										</a>
		 									</div>
		 								</div>
		 							</div>
		 						</div>
		 
		</form>
		 </div>
		 
		 		
	   <div class="row">
		
		<form id="formularioTratamientos" th:action="@{actualizarTratamientos}" method="post" class="mb-3 col-lg-12 elemento-hover">
			
		<div>
			<div id="divSeleccionTratamientos", style="display: none;" class="row">
				
			<div class="col-md-6">
				<label class="fs-5 form-label texto-label mb-0" for="selectTratamientos">Selecciona un tratamiento:</label>
				<select aria-label="Default select example" class="form-select" id="selectTratamientos" name="selectTratamientos" disabled>
					<option th:each="tratamientos : ${tratamientosFiltrados}" th:value="${tratamientos.displayName}" th:text="${tratamientos.displayName}"></option>
				</select>
			</div>
			
			<div class="col-md-6">
			   <label class="form-label texto-label mb-0" for="costoTratamiento">Costo:</label>
			   <input aria-label="Default select example" class="form-control" type="number" id="costoTratamiento" name="costoTratamiento" placeholder="ingrese costo del tratamiento" />
			</div>
			
			</div>
			
			
			<div class="row d-flex align-items-center justify-content-center">
							
			<!-- Botones para agregar o eliminar tratamientos -->
			<div id="divBotones1" style="display: none;" class="text-center col-md-6">
				<button type="button" onclick="agregarTratamiento('selectTratamientos', 'listaSeleccionadas1', 'tratamientosSeleccionadosCampo', 'costoTratamiento')" class="btn btn-primary mt-2">Agregar</button>
				<button type="button" onclick="eliminarTratamiento('listaSeleccionadas1', 'tratamientosSeleccionadosCampo')" class="btn btn-danger mt-2">Eliminar</button>
			</div>	
							
			<!-- Select de días seleccionados (precargados con días guardados en la base de datos) -->
				<div class="text-center mt-3 col-md-6">
					<label class="fs-5 form-label texto-label mb-0" for="listaSeleccionadas1">Tratamientos</label>
					<select aria-label="Default select example" class="form-select" id="listaSeleccionadas1" name="listaSeleccionadas1" size="6" multiple disabled>
					 <!-- Pre-cargar con los días almacenados en la base de datos -->
					<option th:each="tratamientos : ${tratamientos}" th:value="${tratamientos.nombreTratamientos.displayName + ' - $' + tratamientos.costoTratamiento}" th:text="${tratamientos.nombreTratamientos.displayName + ' - $' + tratamientos.costoTratamiento}"></option>
					</select>
				</div>
				

				<div id="divModificar1" class="text-center">
					<button type="button" class="bn632-hover bn26" onclick="habilitarEdicion1()" >Modificar</button>
				</div>

				<div class="text-center d-flex justify-content-center">
					<button id="btnGuardar1" style="display: none;" type="button" class="bn632-hover bn26" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">Guardar</button>
					 <button id="btnCancelar1" style="display: none;" type="button" class="bn632-hover bn26 cancelar" onclick="cancelarEdicion1()">Cancelar</button>
				</div>


				<!-- Campo oculto para enviar los días seleccionados al backend -->
				<input type="hidden" id="tratamientosSeleccionadosCampo" name="tratamientosSeleccionadosCampo">
				<input type="hidden" th:value="${datosProfesional.id}" class="form-control" name="idProfesional" id="idProfesional"> <!--input oculto para enviar el id del profesional al controlador actualizarDatosProfesional-->
				<input type="hidden" th:value="${datosProfesional.email}" class="form-control" name="emailProfesional" id="email">

			</div>
		</div>
		
		
		<!-- Modal boton guardar actualizacion de tratamientos -->
								<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false"
									tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div style="background-color: #ebdf9d;" class="modal-content">
											<div class="modal-header d-block  text-center border border-0">
												<img src="../imagenes/icons8-emoji-de-advertencia-48.png" alt="">
												<h1 class="modal-title text-black lh-sm fs-4 fw-bold text-center" id="staticBackdropLabel"></h1>
											</div>
											<div class="modal-body lh-sm text-center">
												<span class="fs-6 fw-bold">Estimado usuario,</span><br><br>
												<span class="fs-6">¿Estas seguro de guardar los cambios realizados?</span>
											</div>
											<div class="modal-footer border border-0">
												<button type="button" class="btn btn-danger"
													data-bs-dismiss="modal">Cerrar</button>
												<a href="">
													<!--Este boton es el que hace el llamado al metodo-->
													<button type="submit" name="action" value="bajaUsuario"
														class="btn btn-primary">Aceptar</button>
												</a>
											</div>
										</div>
									</div>
								</div>			
		
		</form>
	   </div>
       
      </div>
    </section>
        </div>
      
	   
	   
	   
    
    <!--Modal mensaje de exito misDatosProfesional	-->
	
	<div class="modal fade" id="exitoModal" data-bs-backdrop="static" data-bs-keyboard="false"
	tabindex="-1" aria-labelledby="exitoModalLabel" aria-hidden="true"
	th:classappend="${showModalExito} ? 'show d-block' : ''" th:style="${showModalExito} ? 'display: block;' : 'display: none;'">
		<div class="modal-dialog">
			<div style="background-color: #ebdf9d;" class="modal-content">
				<div class="modal-header border border-0 d-flex justify-content-center">
					<img style="height: 70px; width: 70px;" class="" src="../imagenes/icons8-aprobado2 (1).gif" alt="imagen de aprobado">
				</div>
				<div class="modal-body text-black lh-sm">
					<p class="text-center" th:utext="${exito}"></p>
				</div>
				<div class="modal-footer border border-0">
					<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
	
	<!--Modal mensajes de error misDatosProfesional-->
		
		<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true"
     th:classappend="${showModalError} ? 'show d-block' : ''" th:style="${showModalError} ? 'display: block;' : 'display: none;'">
    <div class="modal-dialog">
        <div style="background-color: #ebdf9d;" class="modal-content">
            <div class="modal-header border border-0 d-flex justify-content-center ">
			<img src="../imagenes/icons8-emoji-de-advertencia-48.png" alt="">
            </div>
            <div class="modal-body text-black lh-sm">
                <p class="text-center" th:utext="${error}"></p>
            </div>
            <div class="modal-footer border border-0">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

				<!--Script para modal de exito-->
	
	<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        var showModalExito = /*[[${showModalExito}]]*/ false;
        if (showModalExito) {
            $('#exitoModal').modal('show');
        }

        $('#exitoModal').on('hidden.bs.modal', function () {
            $(this).remove();
        });
    });
    /*]]>*/
</script>

				<!--Script para modal de error-->
				
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        var showModalError = /*[[${showModalError}]]*/ false;
        if (showModalError) {
            $('#errorModal').modal('show');
        }

        $('#errorModal').on('hidden.bs.modal', function () {
            $(this).remove();
        });
    });
    /*]]>*/
</script>
  </main>

    
  <footer class="d-flex row p-0">
      <div class="divfooter col-lg-6 mb-3">
        <p class="mb-3 text-center titulos-footer">CONTACTOS</p>
        <div class="mb-4">
          <p class="mb-0 text-center"><img class="iconos" src="/imagenes/icons8-gps-50.png" alt="">Rivadavia 730,
            B1625 Belén de Escobar</p>
          <p class="text-center mt-0">Provincia de Buenos Aires</p>
        </div>
        <div class="mb-4 text-center">
          <p><img class="iconos" src="/imagenes/icons8-teléfono-celular-50.png" alt="">+54 (11)5744-2608</p>
        </div>
        <div class="mb-4 text-center">
          <p><img class="iconos" src="/imagenes/icons8-whatsapp-50negro.png" alt="">+54 (11)5744-2608</p>
        </div>
        <div class="mb-4 text-center">
          <p class=""><img class="iconos pe-1" src="/imagenes/icons8-correo-50.png" alt="">estoesunaprueba@gmail.com</p>
        </div>
        <div class="text-center iconos3 mt-5 pb-4">
          <div class="">
            <a class="link" href="#"><img class=" iconos2" src="/imagenes/icons8-instagram-50 black.png" alt=""></a>
          </div>
          <div>
            <a class="link" href="#"><img class=" iconos2" src="/imagenes/icons8-tik-tok-50 black.png" alt=""></a>
          </div>
          <div>
            <a class="link" href="#"> <img class=" iconos2" src="/imagenes/icons8-facebook-50 black.png" alt=""></a>
          </div>
          <div>
            <a class="link" href="#"><img class=" iconos2" src="/imagenes/icons8-youtube-play-50 black.png" alt=""></a>
          </div>
        </div>
      </div>
  
    
  
    <div class="divfooter col-lg-6">
      <p class=" text-center mb-4 titulos-footer">UBICACIÓN</p>
	  <iframe class="w-100 rounded rounded-2" 
	     src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3294.081216388164!2d-58.80112362527934!3d-34.3484110440581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bb61bb0df3ff2f%3A0xd3ede6174bb9f023!2sGMP%2C%20Rivadavia%20730%2C%20B1625%20Bel%C3%A9n%20de%20Escobar%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1722992578537!5m2!1ses!2sar"
	     width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
	   </iframe>
    </div>
  </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
	
	<script src="../js/datosProfesionales.js"></script> <!--Hoja de todos los scripts para la manipuñacion de los dias laborales, horas y tratamientos-->
	
</body>
</html>