<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/c81a1e63cb.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="../css/styles.css">
  <title>Datos cliente</title>
</head>

<body class="body-misdatos" th:each="datosProfesional : ${datosProfesional}">

	<!--Boton flotante de ws-->
	 <a href="https://wa.me/541157442608?text=Nani estética" target="_blank" class="boton-flotante">
	   <i class="fa-brands fa-whatsapp"></i>
	 </a>
  
  <nav>
    <div class="navbar navbar1 navbar-expand-md">
      <div class="container-fluid navbar2">
        <button class="navbar-toggler mb-2" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbarlogo" id="navbarTogglerDemo01">
          <a th:href="@{/homeProfesional(email=${datosProfesional.email})}">
            <div class="imagen-logo ajuste-texto-menu">
              <img src="./imagenes/Nani-removebg-preview.png" class=" img-logo-nav" alt="">
            </div>
          </a>
          <ul class="navbar-nav navbar4 container-fluid p-0">
            <li class="nav-item">
              <a class="nav-link py-1 ajuste-texto-menu"
                th:href="@{/homeProfesional(email=${datosProfesional.email})}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-1 ajuste-texto-menu"
                th:href="@{/misdatosProfesional(email=${datosProfesional.email})}">Mis Datos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-1 ajuste-texto-menu" th:href="@{/listarPacientesOcultos(email=${datosProfesional.email})}">Pacientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-1 ajuste-texto-menu" href="./solicitartuno.html">Turnos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  py-1 ajuste-texto-menu" href="./misturnos.html">Consultas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  py-1 ajuste-texto-menu" th:href="@{/index}">Cerrar Sesion</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <main class="main-interno">
    <h3 class="">Datos personales</h3>
    <section class=" section-misdatos">
      <div class="container-fluid form-misdatos ">
          
        <form   th:each="datosCliente : ${datosCliente}">
          <div class="row">
            <div class="mb-3 col-lg-4">
              <label for="nombre" class="form-label texto-label" disabled>Nombre</label>
              <input type="text" th:value="${#strings.toUpperCase(datosCliente.nombre)}" class="form-control"
                id="nombre" placeholder="" disabled>
            </div>
            <div class="mb-3 col-lg-4">
              <label for="apellido" class="form-label texto-label">Apellido</label>
              <input type="text" th:value="${#strings.toUpperCase(datosCliente.apellido)}" class="form-control"
                id="apellido" placeholder="" disabled>
            </div>
            <div class="mb-3 col-lg-4">
              <label for="idpaciente" class="form-label texto-label">ID Paciente</label>
              <input type="text" th:value="${#strings.toUpperCase(datosCliente.id)}" class="form-control"
                id="idpaciente" placeholder="" disabled>
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-lg-4">
              <label for="dni" class="form-label texto-label">DNI</label>
              <input type="number" th:value="${#strings.toUpperCase(datosCliente.dni)}" class="form-control" id="dni"
                placeholder="" disabled>
            </div>
			<div class="mb-3 col-lg-4 ">
			<label for="fechaAltaFormateada" class="form-label texto-label">Fecha de alta</label>
			<input type="text" name="fechaAltaFormateada" th:value="${fechaAltaFormateada}"
			 class="form-control" id="fechaAltaFormateada" placeholder="" disabled>
			</div>
            <div class="mb-3 col-lg-4 ">
              <label for="nacimiento" class="form-label texto-label">Fecha Nacimiento</label>
              <input type="date" th:value="${#strings.toUpperCase(datosCliente.fechaNacimiento)}" class="form-control"
                id="nacimiento" placeholder="" disabled>
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-lg-4">
              <label for="email" class="form-label texto-label">Email</label>
              <input type="email" name="email" th:value="${#strings.toUpperCase(datosCliente.email)}"
                class="form-control" id="email" placeholder="" disabled>
            </div>
			<div class="mb-3 col-lg-4 ">
			<label for="ocupacion" class="form-label texto-label">Ocupación</label>
			<input type="text" name="ocupacion" th:value="${#strings.toUpperCase(datosCliente.ocupacion)}"
			 class="form-control" id="ocupacion" placeholder="" disabled>
			</div>
            <div class="mb-3 col-lg-4">
              <label for="domicilio" class="form-label texto-label">Direccion</label>
              <input type="text" name="domicilio" th:value="${#strings.toUpperCase(datosCliente.domicilio)}"
                class="form-control" id="domicilio" placeholder="" disabled>
            </div>
          </div>
          <div class="row ">
            <div class="mb-3 col-lg-6">
              <label for="sexo" class="form-label texto-label">Sexo</label>
              <input type="text" name="sexo" th:value="${#strings.toUpperCase(datosCliente.sexo)}" class="form-control"
                id="sexo" placeholder="" disabled>
            </div>
            <div class="mb-3 col-lg-6">
              <label for="telefono" class="form-label texto-label">Telefono</label>
              <input type="text" name="telefono" th:value="${#strings.toUpperCase(datosCliente.telefono)}"
                class="form-control" id="telefono" placeholder="" disabled>
            </div>
          </div>
		
		 <div class="row ">
		<div class="mb-3 col-lg-6">
	    <label for="multa" class="form-label texto-label">Estado</label>
	    <input  th:if="${datosCliente.activo}" type="text" name="multa" value="ACTIVO" class="form-control bg-success bg-gradient text-center text-white" id="multa1" placeholder="" disabled>
		<input th:unless="${datosCliente.activo}"  type="text" name="multa" value="INACTIVO" class="form-control bg-danger bg-gradient text-center text-white" id="multa2" placeholder="" disabled>
		</div>	
		
		 <div class="mb-3 col-lg-6">
		 <label for="multa" class="form-label texto-label">Multas</label>
		 <input  th:if="${datosCliente.multa}" type="text" name="multa" value="EL CLIENTE TIENE MULTAS" class="form-control bg-danger bg-gradient text-center text-white" id="multa1" placeholder="" disabled>
		 <input th:unless="${datosCliente.multa}"  type="text" name="multa" value="EL CLIENTE NO TIENE MULTAS" class="form-control bg-success bg-gradient text-center text-white" id="multa2" placeholder="" disabled>
		 </div>
        </form>
      </div>
    </section>
		 
		
		            

    <h3 class="mb-1">Formulario de preguntas</h3>
    <section class=" section-misdatos">
      <div class="container-fluid form-misdatos ">
        <form th:action="@{/editarDatosPersonalesPaciente}" method="post" th:each="datosPaciente : ${datosPaciente}">
			
			<p th:if="${!isEditarDisabled}" style="box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.500);" class="bg-danger bg-gradient text-white fs-5 text-center">El cliente todavía no ha llenado el formulario de preguntas, por lo que no es posible habilitar la edición de estos campos.</p>

          <div class="boton-de-registro mt-4 text-star">
            <button th:class="${isEditarDisabled == null || !isEditarDisabled ? 'bn632-hover bn26 enviar' : 'bn632-hover bn26'}" th:attr="disabled=${isEditarDisabled == null || !isEditarDisabled ? 'disabled' : null}" class="bn632-hover bn26 ms-2 rounded rounded-0">Habilitar edicion</button>
          </div>

          <div class="mb-3 row">
            <div class="col-md-6">
				<label for="fuma" class="form-label texto-label">¿Fuma?</label>
				<select id="fuma" name="fuma" class="form-select rounded-0" aria-label="Default select example" disabled>
				    <option th:if="${#strings.isEmpty(datosPaciente.fuma)}" value="" th:text="'Todavía no se proporcionó esta información'"></option>
				    <option th:unless="${#strings.isEmpty(datosPaciente.fuma)}" th:value="${datosPaciente.fuma}" th:text="${datosPaciente.fuma}" th:selected="${datosPaciente.fuma}"></option>
				</select>

            </div>
            <div class="col-md-6">
              <label for="drogas" class="form-label texto-label">¿Consume alguna droga?</label>
              <select id="drogas" name="drogas" class="form-select rounded-0 " aria-label="Default select example" disabled>
				<option th:if="${#strings.isEmpty(datosPaciente.drogas)}" value="" th:text="'Todavía no se proporcionó esta información'"></option>
                <option th:unless="${#strings.isEmpty(datosPaciente.drogas)}" th:value="${datosPaciente.drogas}" th:text="${datosPaciente.drogas}" th:selected="${datosPaciente.drogas}"></option>
              </select>
            </div>
          </div>

          <div class="mb-3 row">
            <div class="col-md-6">
              <label for="alcohol" class="form-label texto-label">¿Consumo aproximado de alcohol?</label>
              <select id="alcohol" name="alcohol" class="form-select rounded-0 " aria-label="Default select example" disabled>
				<option th:if="${#strings.isEmpty(datosPaciente.alcohol)}" value="" th:text="'Todavía no se proporcionó esta información'"></option>
                <option th:unless="${#strings.isEmpty(datosPaciente.alcohol)}" th:value="${datosPaciente.alcohol}" th:text="${datosPaciente.alcohol}" th:selected="${datosPaciente.alcohol}"></option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="deportes" class="form-label texto-label">¿Realiza algun deporte?</label>
              <select id="deportes" name="deportes" class="form-select rounded-0 " aria-label="Default select example" disabled>
				<option th:if="${#strings.isEmpty(datosPaciente.deportes)}" value="" th:text="'Todavía no se proporcionó esta información'"></option>
                <option th:unless="${#strings.isEmpty(datosPaciente.deportes)}" th:value="${datosPaciente.deportes}" th:text="${datosPaciente.deportes}" th:selected="${datosPaciente.deportes}">
                </option>
               
              </select>
            </div>
          </div>

          <div class="mb-3 row">
            <div class="col-md-6">
              <label for="ejercicios" class="form-label texto-label">¿Realiza algun ejercicio?</label>
              <select id="ejercicios" name="ejercicios" class="form-select rounded-0 "
                aria-label="Default select example" disabled>
				<option th:if="${#strings.isEmpty(datosPaciente.ejercicio)}" value="" th:text="'Todavía no se proporcionó esta información'"></option>
                <option th:unless="${#strings.isEmpty(datosPaciente.ejercicio)}"  th:value="${datosPaciente.ejercicio}" th:text="${datosPaciente.ejercicio}" th:selected="${datosPaciente.ejercicio}"></option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="ciclo_menstrual" class="form-label texto-label">Ciclo menstrual</label>
              <select id="ciclo_menstrual" name="ciclo_menstrual" class="form-select rounded-0 "
                aria-label="Default select example" disabled>
				<option th:if="${#strings.isEmpty(datosPaciente.ciclo_menstrual)}" value="" th:text="'Todavía no se proporcionó esta información'"></option>
                <option th:unless="${#strings.isEmpty(datosPaciente.ciclo_menstrual)}"  th:value="${datosPaciente.ciclo_menstrual}" th:text="${datosPaciente.ciclo_menstrual}" th:selected="${datosPaciente.ciclo_menstrual}"></option>
              </select>
            </div>
          </div>

          <div class="mb-3 row">
            <div class="col-md-6">
              <label for="medicamentos" class="form-label texto-label">¿Toma algun medicamento?</label>
              <select id="medicamentos" name="medicamentos" class="form-select rounded-0 "
                aria-label="Default select example" disabled>
				<option th:if="${#strings.isEmpty(datosPaciente.medicamentos)}" value="" th:text="'Todavía no se proporcionó esta información'"></option>
                <option th:unless="${#strings.isEmpty(datosPaciente.medicamentos)}"  th:value="${datosPaciente.medicamentos}" th:text="${datosPaciente.medicamentos}" th:selected="${datosPaciente.medicamentos}"></option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="nombreMedicamento" class="form-label texto-label">¿Indique el nombre del medicamento?</label>
              <input type="text" th:value="${datosPaciente.nombreMedicamento}" name="nombreMedicamento" class="form-control"
                id="nombreMedicamento" placeholder="Nombre medicamento" disabled>
            </div>
          </div>

          <div class="mb-3 row">
            <div class="col-md-6">
              <label for="embarazo" class="form-label texto-label">¿Estas embarazada?</label>
              <select id="embarazo" name="embarazo" class="form-select rounded-0 " aria-label="Default select example" disabled>
				<option th:if="${#strings.isEmpty(datosPaciente.embarazo)}" value="" th:text="'Todavía no se proporcionó esta información'"></option>
                <option th:unless="${#strings.isEmpty(datosPaciente.embarazo)}"  th:value="${datosPaciente.embarazo}" th:text="${datosPaciente.embarazo}" th:selected="${datosPaciente.embarazo}">
                </option>
               
              </select>
            </div>
            <div class="col-md-6">
              <label for="amamantando" class="form-label texto-label">¿Estas amamantando?</label>
              <select id="amamantando" name="amamantando" class="form-select rounded-0 "
                aria-label="Default select example" disabled>
				<option th:if="${#strings.isEmpty(datosPaciente.amamantando)}" value="" th:text="'Todavía no se proporcionó esta información'"></option>
                <option th:unless="${#strings.isEmpty(datosPaciente.amamantando)}" th:value="${datosPaciente.amamantando}" th:text="${datosPaciente.amamantando}" th:selected="${datosPaciente.amamantando}"></option>
             
              </select>
            </div>
          </div>

          <div class="mb-3 row">
            <div class="col-md-6">
              <label for="alteracion_hormonal" class="form-label texto-label">¿Has presentado alguna alteración
                hormonal?</label>
              <select id="alteracion_hormonal" name="alteracion_hormonal" class="form-select rounded-0 "
                aria-label="Default select example" disabled>
				<option th:if="${#strings.isEmpty(datosPaciente.alteracion_hormonal)}" value="" th:text="'Todavía no se proporcionó esta información'"></option>
                <option th:unless="${#strings.isEmpty(datosPaciente.alteracion_hormonal)}" th:value="${datosPaciente.alteracion_hormonal}" th:text="${datosPaciente.alteracion_hormonal}" th:selected="${datosPaciente.alteracion_hormonal}"></option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="vitaminas" class="form-label texto-label">¿Tomas alguna vitamina?</label>
              <select id="vitaminas" name="vitaminas" class="form-select rounded-0 "
                aria-label="Default select example" disabled>
				<option th:if="${#strings.isEmpty(datosPaciente.vitaminas)}" value="" th:text="'Todavía no se proporcionó esta información'"></option>
                <option th:unless="${#strings.isEmpty(datosPaciente.vitaminas)}" th:value="${datosPaciente.vitaminas}" th:text="${datosPaciente.vitaminas}" th:selected="${datosPaciente.vitaminas}"></option>
                
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-md-6">
              <label for="corticoides" class="form-label texto-label">¿Tomas algun corticoide?</label>
              <select id="corticoides" name="corticoides" class="form-select rounded-0 "
                aria-label="Default select example" disabled>
				<option th:if="${#strings.isEmpty(datosPaciente.corticoides)}" value="" th:text="'Todavía no se proporcionó esta información'"></option>
                <option th:unless="${#strings.isEmpty(datosPaciente.corticoides)}" th:value="${datosPaciente.corticoides}" th:text="${datosPaciente.corticoides}" th:selected="${datosPaciente.corticoides}"></option>
                
              </select>
            </div>

            <div class="col-md-6">
              <label for="hormonas" class="form-label texto-label">¿Tomas hormonas?</label>
              <select id="hormonas" name="hormonas" class="form-select rounded-0 " aria-label="Default select example" disabled>
				<option th:if="${#strings.isEmpty(datosPaciente.hormonas)}" value="" th:text="'Todavía no se proporcionó esta información'"></option>
                <option th:unless="${#strings.isEmpty(datosPaciente.hormonas)}" th:value="${datosPaciente.hormonas}" th:text="${datosPaciente.hormonas}" th:selected="${datosPaciente.hormonas}">
                </option>
               
              </select>
            </div>
            <!---->
          </div>



          <div class="mb-3 row">
            <div class="col-md-6">
              <label for="tiroides" class="form-label texto-label">¿Paciente con tiroides?</label>
              <select id="tiroides" name="tiroides" class="form-select rounded-0 " aria-label="Default select example" disabled>
				<option th:if="${#strings.isEmpty(datosPaciente.tiroides)}" value="" th:text="'Todavía no se proporcionó esta información'"></option>
                <option th:unless="${#strings.isEmpty(datosPaciente.tiroides)}" th:value="${datosPaciente.tiroides}" th:text="${datosPaciente.tiroides}" th:selected="${datosPaciente.tiroides}">
                </option>
               
              </select>
            </div>
            <div class="col-md-6">
              <label for="metodo_anticonceptivo" class="form-label texto-label">¿Tomas algun anticonceptivo?</label>
              <select id="metodo_anticonceptivo" name="metodo_anticonceptivo" class="form-select rounded-0 "
                aria-label="Default select example" disabled>
				<option th:if="${#strings.isEmpty(datosPaciente.metodo_anticonceptivo)}" value="" th:text="'Todavía no se proporcionó esta información'"></option>
                <option th:unless="${#strings.isEmpty(datosPaciente.metodo_anticonceptivo)}" th:value="${datosPaciente.metodo_anticonceptivo}" th:text="${datosPaciente.metodo_anticonceptivo}" th:selected="${datosPaciente.metodo_anticonceptivo}"></option>
              </select>
            </div>
          </div>

          <div class="mb-3 row">
            <div class="col-md-6">
              <label for="sufre_enfermedad" class="form-label texto-label">¿Tienes algun tipo de enfermedad?</label>
              <select id="sufre_enfermedad" name="sufre_enfermedad" class="form-select rounded-0 "
                aria-label="Default select example" disabled>
				<option th:if="${#strings.isEmpty(datosPaciente.sufre_enfermedad)}" value="" th:text="'Todavía no se proporcionó esta información'"></option>
                <option th:unless="${#strings.isEmpty(datosPaciente.sufre_enfermedad)}" th:value="${datosPaciente.sufre_enfermedad}" th:text="${datosPaciente.sufre_enfermedad}" th:selected="${datosPaciente.sufre_enfermedad}"></option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="cual_enfermedad" class="form-label texto-label">Mencione cual enfermedad</label>
              <input type="text" th:value="${datosPaciente.cual_enfermedad}" name="cual_enfermedad" class="form-control" id="cual_enfermedad" placeholder="Nombre enfermedad" disabled>
            </div>
          </div>

          <div class="mb-3 row">

            <div class="col-md-6">
              <label for="paciente_oncologica" class="form-label texto-label">¿Paciente oncologico?</label>
              <select id="paciente_oncologica" name="paciente_oncologica" class="form-select rounded-0 "
                aria-label="Default select example" disabled>
				<option th:if="${#strings.isEmpty(datosPaciente.paciente_oncologica)}" value="" th:text="'Todavía no se proporcionó esta información'"></option>
                <option th:unless="${#strings.isEmpty(datosPaciente.paciente_oncologica)}" th:value="${datosPaciente.paciente_oncologica}" th:text="${datosPaciente.paciente_oncologica}" th:selected="${datosPaciente.paciente_oncologica}"></option>
               
              </select>
            </div>
            <div class="col-md-6">
              <label for="consumo_carbohidratos" class="form-label texto-label">¿Cual es su consumo de
                carbohidratos?</label>
              <select id="consumo_carbohidratos" name="consumo_carbohidratos" class="form-select rounded-0 "
                aria-label="Default select example" disabled>
				<option th:if="${#strings.isEmpty(datosPaciente.consumo_carbohidratos)}" value="" th:text="'Todavía no se proporcionó esta información'"></option>
                <option th:unless="${#strings.isEmpty(datosPaciente.consumo_carbohidratos)}" th:value="${datosPaciente.consumo_carbohidratos}" th:text="${datosPaciente.consumo_carbohidratos}" th:selected="${datosPaciente.consumo_carbohidratos}"></option>
              </select>
            </div>
          </div>

          <div class="mb-3 row">
            <div class="col-md-6">
              <label for="fractura_facial" class="form-label texto-label">¿Tienes una fractura facial?</label>
              <select id="fractura_facial" name="fractura_facial" class="form-select rounded-0 " aria-label="Default select example" disabled>
				<option th:if="${#strings.isEmpty(datosPaciente.fractura_facial)}" value="" th:text="'Todavía no se proporcionó esta información'"></option>
                <option th:unless="${#strings.isEmpty(datosPaciente.fractura_facial)}" th:value="${datosPaciente.fractura_facial}" th:text="${datosPaciente.fractura_facial}" th:selected="${datosPaciente.fractura_facial}"></option>
               
              </select>
            </div>
            <div class="col-md-6">
              <label for="tiene_implantes" class="form-label texto-label">¿Tiene implantes?</label>
              <select id="tiene_implantes" name="tiene_implantes" class="form-select rounded-0 "
                aria-label="Default select example" disabled>
				<option th:if="${#strings.isEmpty(datosPaciente.tiene_implantes)}" value="" th:text="'Todavía no se proporcionó esta información'"></option>
                <option th:unless="${#strings.isEmpty(datosPaciente.tiene_implantes)}" th:value="${datosPaciente.tiene_implantes}" th:text="${datosPaciente.tiene_implantes}" th:selected="${datosPaciente.tiene_implantes}"></option>
                
              </select>
            </div>
          </div>

          <div class="mb-3 row">
            <div class="col-md-6">
              <label for="cirugia_estetica" class="form-label texto-label">¿Tienes alguna cirugia estetica?</label>
              <select id="cirugia_estetica" name="cirugia_estetica" class="form-select rounded-0 "
                aria-label="Default select example" disabled>
				<option th:if="${#strings.isEmpty(datosPaciente.cirugia_estetica)}" value="" th:text="'Todavía no se proporcionó esta información'"></option>
                <option th:unless="${#strings.isEmpty(datosPaciente.cirugia_estetica)}" th:value="${datosPaciente.cirugia_estetica}" th:text="${datosPaciente.cirugia_estetica}" th:selected="${datosPaciente.cirugia_estetica}"></option>
               
              </select>
            </div>
            <div class="col-md-6">
              <label for="indique_cirugia_estetica" class="form-label texto-label">Indique cirugia estetica</label>
              <input type="text" th:value="${datosPaciente.indique_cirugia_estetica}" name="indique_cirugia_estetica" class="form-control" id="indique_cirugia_estetica" placeholder="Nombre cirugia estética" disabled>
            </div>
          </div>

          <div class="mb-3 row">
            <div class="col-md-6">
              <label for="marca_pasos" class="form-label texto-label">¿Tienes marca pasos?</label>
              <select id="marca_pasos" name="marca_pasos" class="form-select rounded-0 "
                aria-label="Default select example" disabled>
				<option th:if="${#strings.isEmpty(datosPaciente.marca_pasos)}" value="" th:text="'Todavía no se proporcionó esta información'"></option>
                <option th:unless="${#strings.isEmpty(datosPaciente.marca_pasos)}" th:value="${datosPaciente.marca_pasos}" th:text="${datosPaciente.marca_pasos}" th:selected="${datosPaciente.marca_pasos}"></option>
                
              </select>
            </div>
            <div class="col-md-6">
              <label for="horas_sueno" class="form-label texto-label">¿Cuantas horas de sueño al dia?</label>
              <select id="horas_sueno" name="horas_sueno" class="form-select rounded-0 "
                aria-label="Default select example" disabled>
				<option th:if="${#strings.isEmpty(datosPaciente.horas_sueno)}" value="" th:text="'Todavía no se proporcionó esta información'"></option>
                <option th:unless="${#strings.isEmpty(datosPaciente.horas_sueno)}" th:value="${datosPaciente.horas_sueno}" th:text="${datosPaciente.horas_sueno}" th:selected="${datosPaciente.horas_sueno}"></option>
               
              </select>
            </div>
          </div>

          <div class="mb-3 row">
            <div class="col-md-6">
              <label for="exposicion_sol" class="form-label texto-label">¿horas de exposicion al sol tienes al
                día?</label>
              <input type="number" th:value="${datosPaciente.exposicion_sol}" name="exposicion_sol" class="form-control"
                id="exposicion_sol" placeholder="Horas aproximadas de exposicion" disabled>
            </div>
            <div class="col-md-6">
              <label for="protector_solar" class="form-label texto-label">¿Usas protector solar?</label>
              <select id="protector_solar" name="protector_solar" class="form-select rounded-0 "
                aria-label="Default select example" disabled>
				<option th:if="${#strings.isEmpty(datosPaciente.protector_solar)}" value="" th:text="'Todavía no se proporcionó esta información'"></option>
                <option th:unless="${#strings.isEmpty(datosPaciente.protector_solar)}" th:value="${datosPaciente.protector_solar}" th:text="${datosPaciente.protector_solar}" th:selected="${datosPaciente.protector_solar}"></option>
             
              </select>
            </div>
          </div>

          <div class="mb-3 row">
            <div class="col-md-6">
              <label for="reaplica_protector" class="form-label texto-label">¿Reaplica el protector solar durante el
                dia?</label>
              <select id="reaplica_protector" name="reaplica_protector" class="form-select rounded-0 "
                aria-label="Default select example" disabled>
				<option th:if="${#strings.isEmpty(datosPaciente.reaplica_protector)}" value="" th:text="'Todavía no se proporcionó esta información'"></option>
                <option th:unless="${#strings.isEmpty(datosPaciente.reaplica_protector)}" th:value="${datosPaciente.reaplica_protector}" th:text="${datosPaciente.reaplica_protector}" th:selected="${datosPaciente.reaplica_protector}"></option>
               
              </select>
            </div>
            <div class="col-md-6">
              <label for="motivo_consulta" class="form-label texto-label">¿Motivo de la consulta?</label>
              <input type="text" th:value="${datosPaciente.motivo_consulta}" name="motivo_consulta" class="form-control"
                id="motivo_consulta" placeholder="Indique motivo de la consulta" disabled>
            </div>

          </div>

          <div class="mb-3 row">
            <div class="col-md-6">
              <label for="tratamientosFacialesAnteriores" class="form-label texto-label">¿tratamientos faciales
                anteriores?</label>
              <select id="tratamientosFacialesAnteriores" name="tratamientosFacialesAnteriores"
                class="form-select rounded-0 " aria-label="Default select example" disabled>
				<option th:if="${#strings.isEmpty(datosPaciente.tratamientos_faciales_anteriores)}" value="" th:text="'Todavía no se proporcionó esta información'"></option>
                <option th:unless="${#strings.isEmpty(datosPaciente.tratamientos_faciales_anteriores)}" th:value="${datosPaciente.tratamientos_faciales_anteriores}" th:text="${datosPaciente.tratamientos_faciales_anteriores}" th:selected="${datosPaciente.tratamientos_faciales_anteriores}">
                </option>
              

              </select>
            </div>
            <div class="col-md-6">
              <label for="resultados_tratamiento_anterior" class="form-label texto-label">¿Resultado del tratamiento
                aterior?</label>
              <select id="resultados_tratamiento_anterior" name="resultados_tratamiento_anterior"
                class="form-select rounded-0 " aria-label="Default select example" disabled>
				<option th:if="${#strings.isEmpty(datosPaciente.resultados_tratamiento_anterior)}" value="" th:text="'Todavía no se proporcionó esta información'"></option>
                <option th:unless="${#strings.isEmpty(datosPaciente.resultados_tratamiento_anterior)}" th:value="${datosPaciente.resultados_tratamiento_anterior}" th:text="${datosPaciente.resultados_tratamiento_anterior}" th:selected="${datosPaciente.resultados_tratamiento_anterior}">
                </option>
              </select>
            </div>
          </div>
          
          <div class="mb-3 row">
            <div class="col-md-12">
              <label for="cuidado_de_piel" class="form-label texto-label">¿Describe brevemente como te cuidas las piel y
                que productos usas?</label>
              <textarea type="text" style="height: 100px;" th:text="${datosPaciente.cuidado_de_piel}" th:value="${cuidado_de_piel}"
                name="cuidado_de_piel" class="form-control" id="cuidado_de_piel" placeholder="" disabled>
              </textarea>
            </div>
            
            <input type="hidden" class="form-control" name="idCliente" id="idCliente" th:value="${datosPaciente.id}"
              placeholder="">
            <input type="hidden" class="form-control" name="emailCliente" id="emailCliente" th:value="${datosPaciente.email}"
              placeholder="">
              <input type="hidden" class="form-control" name="emailProfesional" id="emailProfesional" th:value="${datosProfesional.email}"
              placeholder="">
          </div>
          </form>
          </div>
          </section>

    <h3 class="mb-0">Notas del paciente</h3>
       <section class="section-misdatos">
        <div class="container-fluid form-misdatos ">
          <form th:action="@{/editarDatosPersonalesPaciente}" method="post" th:each="datosPaciente : ${datosPaciente}">
			
		<p th:if="${!isEditarDisabled}" style="box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.500);" class="bg-danger bg-gradient text-white fs-5 text-center">El cliente todavía no ha llenado el formulario de preguntas, por lo que no es posible habilitar la edición de estos campos.</p>

            <div class="boton-de-registro mt-4 text-star">
              <button th:class="${isEditarDisabled == null || !isEditarDisabled ? 'bn632-hover bn26 enviar' : 'bn632-hover bn26'}" th:attr="disabled=${isEditarDisabled == null || !isEditarDisabled ? 'disabled' : null}" type="submit" class="bn632-hover bn26 ms-2 rounded rounded-0">Habilitar edicion</button>
            </div>

         <div class="mb-3 row">
          <div class="col-12">
            <label for="notas_profesional" class="form-label texto-label">Notas adicionales sobre el paciente</label>
            <textarea type="text" style="height: 200px;" th:text="${datosPaciente.notas_profesional}" th:value="${datosPaciente.notas_profesional}"
              name="notas_profesional" class="form-control" id="notas_profesional" placeholder="" disabled>
            </textarea>
              
          </div>
        </div>
	        <input type="hidden" class="form-control" name="idCliente" id="idCliente" th:value="${datosPaciente.id}"
	              placeholder="">
	            <input type="hidden" class="form-control" name="emailCliente" id="emailCliente" th:value="${datosPaciente.email}"
	              placeholder="">
	              <input type="hidden" class="form-control" name="emailProfesional" id="emailProfesional" th:value="${datosProfesional.email}"
	     		placeholder="">
				
	      </form>
      </div>
       </section>



    <!--Modal mensaje de exito misDatosCliente	-->

    <div class="modal fade" id="exitoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="exitoModalLabel" aria-hidden="true" th:classappend="${showModalExito} ? 'show d-block' : ''"
      th:style="${showModalExito} ? 'display: block;' : 'display: none;'">
      <div class="modal-dialog">
        <div style="background-color: #ebdf9d;" class="modal-content">
          <div class="modal-header border border-0 d-flex justify-content-center">
            <img style="height: 70px; width: 70px;" class="" src="../imagenes/icons8-aprobado2 (1).gif"
              alt="imagen de aprobado">
          </div>
          <div class="modal-body text-black lh-sm">
            <p class="text-center" th:utext="${exito}"></p>
          </div>
          <div class="modal-footer border border-0">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <!--Modal mensajes de error-->

    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true"
      th:classappend="${showModalError} ? 'show d-block' : ''"
      th:style="${showModalError} ? 'display: block;' : 'display: none;'">
      <div class="modal-dialog">
        <div style="background-color: #ebdf9d;" class="modal-content">
          <div class="modal-header border border-0 d-flex justify-content-center ">
            <img src="../imagenes/icons8-emoji-de-advertencia-48.png" alt="">
          </div>
          <div class="modal-body text-black lh-sm">
            <p class="text-center" th:utext="${error}"></p>
          </div>
          <div class="modal-footer border border-0">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <!--Script para modal de exito-->

    <script th:inline="javascript">
      /*<![CDATA[*/
      $(document).ready(function () {
        var showModalExito = /*[[${showModalExito}]]*/ false;
        if (showModalExito) {
          $('#exitoModal').modal('show');
        }

        $('#exitoModal').on('hidden.bs.modal', function () {
          $(this).remove();
        });
      });
      /*]]>*/
    </script>

    <!--Script para modal de error-->

    <script th:inline="javascript">
      /*<![CDATA[*/
      $(document).ready(function () {
        var showModalError = /*[[${showModalError}]]*/ false;
        if (showModalError) {
          $('#errorModal').modal('show');
        }

        $('#errorModal').on('hidden.bs.modal', function () {
          $(this).remove();
        });
      });
      /*]]>*/
    </script>
  </main>


  <footer class="d-flex row p-0">
      <div class="divfooter col-lg-6 mb-3">
        <p class="mb-3 text-center titulos-footer">CONTACTOS</p>
        <div class="mb-4">
          <p class="mb-0 text-center"><img class="iconos" src="/imagenes/icons8-gps-50.png" alt="">Rivadavia 730,
            B1625 Belén de Escobar</p>
          <p class="text-center mt-0">Provincia de Buenos Aires</p>
        </div>
        <div class="mb-4 text-center">
          <p><img class="iconos" src="/imagenes/icons8-teléfono-celular-50.png" alt="">+54 (11)5744-2608</p>
        </div>
        <div class="mb-4 text-center">
          <p><img class="iconos" src="/imagenes/icons8-whatsapp-50negro.png" alt="">+54 (11)5744-2608</p>
        </div>
        <div class="mb-4 text-center">
          <p class=""><img class="iconos pe-1" src="/imagenes/icons8-correo-50.png" alt="">estoesunaprueba@gmail.com</p>
        </div>
        <div class="text-center iconos3 mt-5 pb-4">
          <div class="">
            <a class="link" href="#"><img class=" iconos2" src="/imagenes/icons8-instagram-50 black.png" alt=""></a>
          </div>
          <div>
            <a class="link" href="#"><img class=" iconos2" src="/imagenes/icons8-tik-tok-50 black.png" alt=""></a>
          </div>
          <div>
            <a class="link" href="#"> <img class=" iconos2" src="/imagenes/icons8-facebook-50 black.png" alt=""></a>
          </div>
          <div>
            <a class="link" href="#"><img class=" iconos2" src="/imagenes/icons8-youtube-play-50 black.png" alt=""></a>
          </div>
        </div>
      </div>

    

    <div class="divfooter col-lg-6">
      <p class=" text-center mb-4 titulos-footer">UBICACIÓN</p>
	  <iframe class="w-100 rounded rounded-2" 
	     src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3294.081216388164!2d-58.80112362527934!3d-34.3484110440581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bb61bb0df3ff2f%3A0xd3ede6174bb9f023!2sGMP%2C%20Rivadavia%20730%2C%20B1625%20Bel%C3%A9n%20de%20Escobar%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1722992578537!5m2!1ses!2sar"
	     width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
	   </iframe>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>