<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/c81a1e63cb.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="./css/styles.css">
  <title>Home Profesional</title>
</head>

<body class="body-interno"  th:each="datosProfesional : ${datosProfesional}">

	<!--Boton flotante de ws-->
	 <a href="https://wa.me/541157442608?text=Nani estética" target="_blank" class="boton-flotante">
	   <i class="fa-brands fa-whatsapp"></i>
	 </a>
  
<nav>
  <div class="navbar navbar1 navbar-expand-md">
    <div class="container-fluid navbar2">
      <button class="navbar-toggler mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse navbarlogo" id="navbarTogglerDemo01">
        <a th:href="@{/homeProfesional(email=${datosProfesional.email})}">
          <div class="imagen-logo ajuste-texto-menu">
            <img src="./imagenes/Nani-removebg-preview.png" class=" img-logo-nav" alt="">
          </div>
        </a>
        <ul class="navbar-nav navbar4 container-fluid p-0">
			<li class="nav-item">
            <a class="nav-link py-1 ajuste-texto-menu" th:href="@{/homeProfesional(email=${datosProfesional.email})}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1 ajuste-texto-menu" th:href="@{/misdatosProfesional(email=${datosProfesional.email})}">Mis Datos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-1 ajuste-texto-menu" th:href="@{/listarPacientesOcultos(email=${datosProfesional.email})}">Clientes</a>
          </li>
          <li class="nav-item">
         <a class="nav-link  py-1 ajuste-texto-menu" th:href="@{/misturnosProfesional(email=${datosProfesional.email}, idProfesional=${datosProfesional.id})}">Turnos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  py-1 ajuste-texto-menu" href="./misconsultas.html">Consultas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  py-1 ajuste-texto-menu" th:href="@{/index}">Cerrar Sesion</a>
          </li>
        </ul>
      </div>
      
      
    </div>
  </div>
</nav>



  
  <main>
     <div class="">
      <h3>Mis turnos</h3>
      <div class="container-fluid">

<!--El iterStat es otro ietrador que agregamos en cada iteracion para darle un id unico a cada modal
que se genere en iteracion, esto evita que al tener varios turnos, se cruce la info entre ellos al
tener el mismo ID-->

<div class="d-block mb-4">
		<p class="fs-3 text-center">En este apartado podrás ver un resumen de los turnos en un lapso de sietes días.
			En caso de querer visualizar un historico de todos los turnos, pulsa en el siguiente botón.
		</p>

		<form class="text-center mb-4" th:action="@{/historicoDeTurnos}" method="get">
			<button class="btn btn-primary fs-4">Visualizar todos mis turnos</button>
			<input hidden type="text" id="idProfesional" name="idProfesional" th:value="${datosProfesional.id}"></input>
			<input hidden type="text" id="emailProfesional" name="emailProfesional" th:value="${datosProfesional.email}"></input>
		</form>
			
		<p style="border-bottom: solid 5px;" class="fs-1 border-warning">Turnos activos desde el <span th:text="${fechaActualProximosTurnos}"></span>
			 hasta el <span th:text="${fechaLimiteProximosTurnos}"></span></p>
		
		
		<div class="d-flex flex-wrap justify-content-center">	
		<div class="text-center" th:if="${#lists.isEmpty(turnosActivos)}">
		<p style="box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.500);" class="fs-3 fw-light bg-warning bg-gradient text-white">En este momento no posee turnos en esta categoria</p>
		</div>
		
        <div class="ft-misturnos" th:each="turnoActivo, iterStat : ${turnosActivos}">
          <div class="bg-warning bg-gradient text-center text-white">Pendiente</div>
		  
		  <div th:unless="${#lists.isEmpty(turnosActivos)}">
			<form class="" th:action="@{/cancelarOrConfimarTurnoProfesional}" method="post">
          <ul class="ps-2 me-2 mt-3" >
			<li class="list-unstyled d-flex"><strong>Id del turno:</strong>&nbsp <p class="m-0 p-0" th:text="${#strings.substring(turnoActivo.id, turnoActivo.id.length() - 12)}"></p> </li>
			<li class="list-unstyled d-flex"><strong>Fecha de creación:</strong>&nbsp <p class="m-0 p-0" th:text="${turnoActivo.fechaCreacion}"></p> </li>
            <li class="list-unstyled d-flex"><strong>Cliente:</strong>&nbsp <p class="m-0 p-0" th:text="${turnoActivo.cliente.nombre + ' ' + turnoActivo.cliente.apellido}"></p> </li>
			<li class="list-unstyled d-flex"><strong>Dni cliente:</strong>&nbsp <p class="m-0 p-0" th:text="${turnoActivo.dni}"></p> </li>
			<li class="list-unstyled d-flex"><strong>Fecha del turno:</strong>&nbsp <p class="m-0 p-0" th:text="${turnoActivo.fecha}"></p> </li>
            <li class="list-unstyled d-flex"><strong>Hora del turno:</strong>&nbsp <p class="m-0 p-0" th:text="${turnoActivo.horario}"></p> </li>
            <span><strong>Tratamientos seleccionado:</strong></span>
            <ul class="" style="list-style-type: disc;">
            <li class="" th:each="tratamientoActivo : ${turnoActivo.tratamientos}">
            	<span th:text="${tratamientoActivo.nombreTratamientos.DisplayName}"></span>
            </li>
            </ul>
            </ul>
			
			
		<!--Estos botones solo hacen el llamado al modal-->
		<div class="d-flex justify-content-center align-items-center">

			<!-- Botón para confirmar turno -->
		  <button type="button" class="btn btn-success m-2" data-bs-toggle="modal" th:attr="data-bs-target='#confirmBackdrop' + ${iterStat.index}">Confirmar asistencia</button>

			<!-- Botón para cancelar turno -->
		  <button type="button" class="btn btn-danger m-2" data-bs-toggle="modal" th:attr="data-bs-target='#staticBackdrop' + ${iterStat.index}">Cancelar turno</button>
		
		</div>

		
		  <!-- Modal Cancelar turno -->
		           			<!-- se crea id unico al sumar la palabra staticBackdrop + iterStat.index que es la posicion de iteracion de este modal -->
		  						<div class="modal fade" th:id="'staticBackdrop' + ${iterStat.index}" data-bs-backdrop="static" data-bs-keyboard="false"
		  							tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  							<div class="modal-dialog">
		  								<div style="background-color: #ebdf9d;" class="modal-content">
		  									<div class="modal-header d-block  text-center border border-0">
		  										<img src="../imagenes/icons8-emoji-de-advertencia-48.png" alt="">
		  										<h1 class="modal-title fs-5 fw-bold" id="staticBackdropLabel">
		  											Cancelación de Turno</h1>
		  									</div>
		  									<div style="text-align: justify;" class="modal-body fs-6 lh-sm">
		  										<span class="fw-bold">Estimado Usuario,</span><br><br>
		  										
		  										Por favor, verifica cuidadosamente el turno que deseas cancelar. Una vez cancelado no se podrá
												revertir la acción. Los turnos cancelados por los usuarios con un rol de profesional no generan
												multas al cliente, pero elimian ese horario de la lista de horas disponibles para esa fecha
												. El sistema se encarga automaticamente de generar multas a los clientes que no
												se presenten al turno en la fecha y hora seleccionada. <br><br>
												
		  										<br><br>
		  										<span class="fs-5 fw-bold">¿Estás seguro de que deseas proceder con la cancelación?</span>
		  									</div>
		  									<div class="modal-footer border border-0">
		  										<button type="button" class="btn btn-danger"
		  											data-bs-dismiss="modal">Cerrar</button>
		  										<a href="">
		  											<!--Este boton es el que hace el llamado al metodo-->
		  											<button type="submit" name="accionDelBoton" value="cancelarTurno"  class="btn btn-primary">Aceptar</button>
		  												
		  										</a>
		  									</div>
		  								</div>
		  							</div>
		  						</div>

<!-- Modal Confirmar turno -->
<div class="modal fade" th:id="'confirmBackdrop' + ${iterStat.index}" data-bs-backdrop="static" data-bs-keyboard="false"
tabindex="-1" aria-labelledby="confirmBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
  <div style="background-color: #ebdf9d;" class="modal-content">
	<div class="modal-header d-block text-center border border-0">
	  <img src="../imagenes/icons8-emoji-de-aprobacion-48.png" alt="">
	  <h1 class="modal-title fs-5 fw-bold" id="confirmBackdropLabel">Confirmación de Turno</h1>
	</div>
	<div style="text-align: justify;" class="modal-body fs-6 lh-sm">
	  <span class="fw-bold">Estimado Usuario,</span><br><br>
	  Estás a punto de confirmar la asistencia del turno. Por favor, revisa todos los detalles antes de proceder. 
	  Una vez confirmado, no podrás deshacer los cambios.
	  <br><br>
	  <span class="fs-5 fw-bold">¿Estás seguro de que deseas proceder con la confirmación?</span>
	</div>
	<div class="modal-footer border border-0">
	  <button type="button"  class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
	  <a href="">
		<!-- Botón que llama al método para aceptar la confirmación -->
		<button type="submit" name="accionDelBoton" value="confirmarTurno" class="btn btn-primary">Aceptar</button>
	  </a>
	</div>
  </div>
</div>
</div>
			
				  <input hidden type="text" id="email" name="emailProfesional" th:value="${datosProfesional.email}"></input>
				  <input hidden type="text" id="emailCliente" name="emailCliente" th:value="${turnoActivo.email}"></input>
				  <input hidden type="text" id="fecha" name="fecha" th:value="${turnoActivo.fecha}"></input>
				  <input hidden type="text" id="horario" name="horario" th:value="${turnoActivo.horario}"></input>
				  <input hidden type="text" id="idTurno" name="idTurno" th:value="${turnoActivo.id}"></input>
				  <input hidden type="text" id="idProfesional" name="idProfesional" th:value="${turnoActivo.profesional.id}"></input>
				  <input hidden type="text" id="idCliente" name="idCliente" th:value="${turnoActivo.cliente.id}"></input>
			</form>
			</div>
			  </div>
			  </div>  
			
			  <p style="border-bottom: 5px solid;" class="fs-1 border-success">Turnos asistidos desde el <span th:text="${fechaLimiteTurnosAnteriores}"></span>
			   hasta el <span th:text="${fechaActualTurnosAnteriores}"></span></p>
			  <div class="d-flex flex-wrap justify-content-center">
				
			  
			  <div class="text-center" th:if="${#lists.isEmpty(turnosAsistidos)}">
				<p style="box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.500);" class="fs-3 fw-light bg-success bg-gradient text-white">En este momento no posee turnos en esta categoria</p>
			  </div>
			  
			  <div class="ft-misturnos" th:each="turnoAsistido : ${turnosAsistidos}">
			  <div class="bg-success gb-gradient text-center text-white">Asistido</div>
			  		  
			  <div th:unless="${#lists.isEmpty(turnosAsistidos)}">
			   <ul class="ps-2 me-2 mt-3" >
			   <li class="list-unstyled d-flex"><strong>Id del turno:</strong>&nbsp <p class="m-0 p-0" th:text="${#strings.substring(turnoAsistido.id, turnoAsistido.id.length() - 12)}"></p> </li>
			   <li class="list-unstyled d-flex"><strong>Cliente:</strong>&nbsp <p class="m-0 p-0" th:text="${turnoAsistido.cliente.nombre + ' ' + turnoAsistido.cliente.apellido}"></p> </li>
			   <li class="list-unstyled d-flex"><strong>Dni cliente:</strong>&nbsp <p class="m-0 p-0" th:text="${turnoAsistido.dni}"></p> </li>
			   <li class="list-unstyled d-flex"><strong>Fecha del turno:</strong>&nbsp <p class="m-0 p-0" th:text="${turnoAsistido.fecha}"></p> </li>
			   <li class="list-unstyled d-flex"><strong>Hora del turno:</strong>&nbsp <p class="m-0 p-0" th:text="${turnoAsistido.horario}"></p> </li>
			   <span><strong>Tratamientos:</strong></span>
			   <ul class="pb-3" style="list-style-type: disc;">
			   <li th:each="tratamientoAsistido : ${turnoAsistido.tratamientos}">
			   <span th:text="${tratamientoAsistido.nombreTratamientos.DisplayName}"></span>
			   </li>
			   </ul>
			   </ul>
			  </div>
			   </div>
			   </div>
						  
			   
			
			<p style="border-bottom: 5px solid;" class="fs-1 border-danger">Turnos con multa desde el <span th:text="${fechaLimiteTurnosAnteriores}"></span>
				 hasta el <span th:text="${fechaActualTurnosAnteriores}"></span></p>
			 <div class="d-flex flex-wrap justify-content-center">		  
				
			<div class="text-center" th:if="${#lists.isEmpty(turnosConMulta)}">
			<p style="box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.500);" class="fs-3 fw-light bg-danger bg-gradient text-white">En este momento no posee turnos en esta categoria</p>
			</div>
						  
			 <div class="ft-misturnos" th:each="turnoMulta : ${turnosConMulta}">
			 <div  class="bg-danger bg-gradient text-center text-white">Cancelado</div>
			 
			<div th:unless="${#lists.isEmpty(turnosConMulta)}">
			<ul class="ps-2 me-2 mt-3" >
			<li class="list-unstyled d-flex"><strong>Id del turno:</strong>&nbsp <p class="m-0 p-0" th:text="${#strings.substring(turnoMulta.id, turnoMulta.id.length() - 12)}"></p> </li>
			<li class="list-unstyled d-flex"><strong>Cliente:</strong>&nbsp <p class="m-0 p-0" th:text="${turnoMulta.cliente.nombre + ' ' + turnoMulta.cliente.apellido}"></p> </li>
			<li class="list-unstyled d-flex"><strong>Dni cliente:</strong>&nbsp <p class="m-0 p-0" th:text="${turnoMulta.dni}"></p> </li>
			<li class="list-unstyled d-flex"><strong>Cancelado por:</strong>&nbsp <p class="m-0 p-0">INASISTENCIA</p> </li>
			<li class="list-unstyled d-flex"><strong>Fecha del turno:</strong>&nbsp <p class="m-0 p-0" th:text="${turnoMulta.fecha}"></p> </li>
			<li class="list-unstyled d-flex"><strong>Hora del turno:</strong>&nbsp <p class="m-0 p-0" th:text="${turnoMulta.horario}"></p> </li>
			<li class="list-unstyled d-flex"><strong>Costo multa:</strong>&nbsp <p class="m-0 p-0" th:text="'$' + ${turnoMulta.costoMulta}"></p> </li>
			<span><strong>Tratamientos:</strong></span>
			<ul class="pb-3" style="list-style-type: disc;">
			<li th:each="tratamientoMulta: ${turnoMulta.tratamientos}">
			<span th:text="${tratamientoMulta.nombreTratamientos.DisplayName}"></span>
			</li>
			</ul>
			</ul>

			<!--Estos botones solo hacen el llamado al modal-->
			<div class="bg-danger fs-6 text-center text-white">ESTE TURNO POSEE UNA MULTA</div>
			</div>
			</div>
			</div>
			
			
			
			<p style="border-bottom: 5px solid;" class="fs-1 border-dark">Turnos cancelados desde el <span th:text="${fechaLimiteTurnosAnteriores}"></span>
				 hasta el <span th:text="${fechaActualTurnosAnteriores}"></span></p>
			<div class="d-flex flex-wrap justify-content-center">
				
			<div class="text-center" th:if="${#lists.isEmpty(turnosCancelados)}">
			<p style="box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.500);" class="fs-3 fw-light bg-dark bg-gradient text-white">En este momento no posee turnos en esta categoria</p>
			</div>
			
			<div class="ft-misturnos" th:each="turnoCancelado : ${turnosCancelados}">
			<div class="bg-dark bg-gradient text-center text-white">Cancelado</div>
				
						  		  
			<div th:unless="${#lists.isEmpty(turnosCancelados)}">
			<ul class="ps-2 me-2 mt-3" >
			<li class="list-unstyled d-flex"><strong>Id del turno:</strong>&nbsp <p class="m-0 p-0" th:text="${#strings.substring(turnoCancelado.id, turnoCancelado.id.length() - 12)}"></p> </li>
			<li class="list-unstyled d-flex"><strong>Cliente:</strong>&nbsp <p class="m-0 p-0" th:text="${turnoCancelado.cliente.nombre + ' ' + turnoCancelado.cliente.apellido}"></p> </li>
			<li class="list-unstyled d-flex"><strong>Dni cliente:</strong>&nbsp <p class="m-0 p-0" th:text="${turnoCancelado.dni}"></p> </li>
			<li class="list-unstyled d-flex"><strong>Cancelado por:</strong>&nbsp <p class="m-0 p-0" th:text="${turnoCancelado.canceladoPor}"></p> </li>
			<li class="list-unstyled d-flex"><strong>Fecha del turno:</strong>&nbsp <p class="m-0 p-0" th:text="${turnoCancelado.fecha}"></p> </li>
			<li class="list-unstyled d-flex"><strong>Hora del turno:</strong>&nbsp <p class="m-0 p-0" th:text="${turnoCancelado.horario}"></p> </li>
			<span><strong>Tratamientos:</strong></span>
			<ul class="pb-3" style="list-style-type: disc;">
			<li th:each="tratamientoCancelado : ${turnoCancelado.tratamientos}">
			<span th:text="${tratamientoCancelado.nombreTratamientos.DisplayName}"></span>
			</li>
			</ul>
			</ul>
			</div>
			</div>
			</div>
	        </div>			
          
		
            </div>
            </div>
   
        

    
    					<!--Modal mensaje de exito al registrarse	-->
    					
    <div class="modal fade" id="exitoModal" data-bs-backdrop="static" data-bs-keyboard="false"
	tabindex="-1" aria-labelledby="exitoModalLabel" aria-hidden="true"
	th:classappend="${showModalExito} ? 'show d-block' : ''" th:style="${showModalExito} ? 'display: block;' : 'display: none;'">
		<div class="modal-dialog">
			<div style="background-color: #ebdf9d;" class="modal-content">
				<div class="modal-header border border-0 d-flex justify-content-center">
					<img style="height: 70px; width: 70px;" class="" src="../imagenes/icons8-aprobado2 (1).gif" alt="imagen de aprobado">
				</div>
				<div class="modal-body text-black lh-sm">
					<p style="text-align: justify;" class="text-center" th:utext="${exito}"></p>
				</div>
				<div class="modal-footer border border-0">
					<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
	
	<!--Modal mensajes de error-->
		
		<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true"
     th:classappend="${showModalError} ? 'show d-block' : ''" th:style="${showModalError} ? 'display: block;' : 'display: none;'">
    <div class="modal-dialog">
        <div style="background-color: #ebdf9d;" class="modal-content">
            <div class="modal-header border border-0 d-flex justify-content-center ">
			<img src="../imagenes/icons8-emoji-de-advertencia-48.png" alt="">
            </div>
            <div class="modal-body text-black lh-sm">
                <p class="text-center" th:utext="${error}"></p> <!--utext permite recibir texto en string con etiquetas html-->
            </div>
            <div class="modal-footer border border-0">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


				<!--Script para modal de error-->
				
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        var showModalError = /*[[${showModalError}]]*/ false;
        if (showModalError) {
            $('#errorModal').modal('show');
        }

        $('#errorModal').on('hidden.bs.modal', function () {
            $(this).remove();
        });
    });
    /*]]>*/
</script>
	
	
	
	
	<!--Scrip para el modal de mensaje de exito-->
			
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        var showModalExito = /*[[${showModalExito}]]*/ false;
        if (showModalExito) {
            $('#exitoModal').modal('show');
        }

        $('#exitoModal').on('hidden.bs.modal', function () {
            $(this).remove();
        });
    });
    /*]]>*/
</script>
  </main>



  <footer class="d-flex row p-0">
      <div class="divfooter col-lg-6 mb-3">
        <p class="mb-3 text-center titulos-footer">CONTACTOS</p>
        <div class="mb-4">
          <p class="mb-0 text-center"><img class="iconos" src="/imagenes/icons8-gps-50.png" alt="">Rivadavia 730,
            B1625 Belén de Escobar</p>
          <p class="text-center mt-0">Provincia de Buenos Aires</p>
        </div>
        <div class="mb-4 text-center">
          <p><img class="iconos" src="/imagenes/icons8-teléfono-celular-50.png" alt="">+54 (11)5744-2608</p>
        </div>
        <div class="mb-4 text-center">
          <p><img class="iconos" src="/imagenes/icons8-whatsapp-50negro.png" alt="">+54 (11)5744-2608</p>
        </div>
        <div class="mb-4 text-center">
          <p class=""><img class="iconos pe-1" src="/imagenes/icons8-correo-50.png" alt="">estoesunaprueba@gmail.com</p>
        </div>
        <div class="text-center iconos3 mt-5 pb-4">
          <div class="">
            <a class="link" href="#"><img class=" iconos2" src="/imagenes/icons8-instagram-50 black.png" alt=""></a>
          </div>
          <div>
            <a class="link" href="#"><img class=" iconos2" src="/imagenes/icons8-tik-tok-50 black.png" alt=""></a>
          </div>
          <div>
            <a class="link" href="#"> <img class=" iconos2" src="/imagenes/icons8-facebook-50 black.png" alt=""></a>
          </div>
          <div>
            <a class="link" href="#"><img class=" iconos2" src="/imagenes/icons8-youtube-play-50 black.png" alt=""></a>
          </div>
        </div>
      </div>
	
    
	
    <div class="divfooter col-lg-6">
      <p class=" text-center mb-4 titulos-footer">UBICACIÓN</p>
	  <iframe class="w-100 rounded rounded-2" 
	     src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3294.081216388164!2d-58.80112362527934!3d-34.3484110440581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bb61bb0df3ff2f%3A0xd3ede6174bb9f023!2sGMP%2C%20Rivadavia%20730%2C%20B1625%20Bel%C3%A9n%20de%20Escobar%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1722992578537!5m2!1ses!2sar"
	     width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
	   </iframe>
    </div>
  </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>
</html>