<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/c81a1e63cb.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   		<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="stylesheet" href="../css/styles.css">
        <title>Datos Admin</title>
      </head>
<body class="body-interno" th:each="datosAdmin : ${datosAdmin}"> <!--La variable datosAdmin viene del metodo misdatosAdmin,-->
																	   <!--usea el bucle en el body para que los datos esten disponibles para todos los enlaces de la pag-->

  <a href="#" target="_blank" class="boton-flotante">
    <i class="fa-brands fa-whatsapp"></i>
  </a>
  <nav>
    <div class="navbar navbar1 navbar-expand-md">
      <div class="container-fluid navbar2">
        <button class="navbar-toggler mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbarlogo" id="navbarTogglerDemo01">
          <a th:href="@{/homeAdmin(email=${datosAdmin.email})}">
            <div class="imagen-logo ajuste-texto-menu">
              <img src="../imagenes/Nani-removebg-preview.png" class=" img-logo-nav" alt="">
            </div>
          </a>
          <ul class="navbar-nav navbar4 container-fluid p-0">
            <li class="nav-item">
              <a class="nav-link py-1 ajuste-texto-menu" th:href="@{/homeAdmin(email=${datosAdmin.email})}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-1 ajuste-texto-menu" th:href="@{/misdatosAdmin(email=${datosAdmin.email})}">Mis datos</a>
            </li>
             <li class="nav-item">
              <a class="nav-link py-1 ajuste-texto-menu" th:href="@{/cambiarContrasenaAdmin(email=${datosAdmin.email})}">Cambiar contraseña</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link  py-1 ajuste-texto-menu" th:href="@{/index}">Cerrar sesion</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <main class="main-interno">
    <h3 class="">Datos personales</h3>
    <section class=" section-misdatos">
      <div class="container-fluid form-misdatos ">
         
        <form th:action="@{/actualizarDatosAdmin}" method="post">
          <div class="row">
          <div class="mb-3 col-lg-4">
            <label for="nombre" class="form-label texto-label" disabled >Nombre</label>
            <input type="text" th:value="${#strings.toUpperCase(datosAdmin.nombre)}" class="form-control" id="nombre" placeholder="Nombre" disabled >
          </div>
          <div class="mb-3 col-lg-4">
            <label for="apellido" class="form-label texto-label">Apellido</label>
            <input type="text" th:value="${#strings.toUpperCase(datosAdmin.apellido)}" class="form-control" id="apellido" placeholder="Apellido" disabled >
          </div>
          <div class="mb-3 col-lg-4">
            <label for="dni" class="form-label texto-label">DNI</label>
            <input type="number" th:value="${#strings.toUpperCase(datosAdmin.dni)}" class="form-control" id="dni" placeholder="123456789" disabled >
          </div>
        </div>
        <div class="row">
          <div class="mb-3 col-lg-6 ">
            <label for="nacimiento" class="form-label texto-label">Fecha Nacimiento</label>
            <input type="date" th:value="${#strings.toUpperCase(datosAdmin.fechaNacimiento)}" class="form-control" id="nacimiento" placeholder="Fecha Nacimineto" disabled>
          </div>
          <div class="mb-3 col-lg-6 ">
            <label for="edad" class="form-label texto-label">Ocupación</label>
            <input type="text" name="ocupacion" th:value="${#strings.toUpperCase(datosAdmin.ocupacion)}" class="form-control" id="edad" placeholder="">
          </div>
        </div>
        <div class="row">
          <div class="mb-3 col-lg-6">
            <label for="email" class="form-label texto-label">Email</label>
            <input type="email" name="email" th:value="${#strings.toUpperCase(datosAdmin.email)}" class="form-control" id="email" placeholder="">
          </div>
          <div class="mb-3 col-lg-6">
            <label for="direccion" class="form-label texto-label">Direccion</label>
            <input type="text" name="domicilio" th:value="${#strings.toUpperCase(datosAdmin.domicilio)}" class="form-control" id="direccion" placeholder="">
          </div>
        </div>
        <div class="row ">
          <div class="mb-3 col-lg-6">
            <label for="sexo" class="form-label texto-label">Sexo</label>
            <input type="text" name="sexo" th:value="${#strings.toUpperCase(datosAdmin.sexo)}" class="form-control" id="sexo" placeholder="">
          </div>
          <div class="mb-3 col-lg-6">
            <label for="telefono" class="form-label texto-label">Telefono</label>
            <input type="text" name="telefono" th:value="${#strings.toUpperCase(datosAdmin.telefono)}" class="form-control" id="telefono" placeholder="">
          </div>
        </div>
        <input type="hidden" th:value="${datosAdmin.id}" class="form-control" name="idAdmin" id="idAdmin"> <!--input oculto para enviar el id del admin al controlador actualizarDatosAdmin-->
        
        <div class="boton-de-registro mt-4  text-center">
          <a href="#"><button class="bn632-hover bn26">Guardar</button></a>
        </div>
        <div class="text-center mt-2 ">
          <a class="m-2 fs-5 " th:href="@{/cambiarContrasenaAdmin(email=${datosAdmin.email})}">¿Quieres cambiar tu contraseña?</a>
        </div>
        </form>
      </div>
    </section>
    
    <!--Modal mensaje de exito misDatosCliente	-->
	
	<div class="modal fade" id="exitoModal" data-bs-backdrop="static" data-bs-keyboard="false"
	tabindex="-1" aria-labelledby="exitoModalLabel" aria-hidden="true"
	th:classappend="${showModalExito} ? 'show d-block' : ''" th:style="${showModalExito} ? 'display: block;' : 'display: none;'">
		<div class="modal-dialog">
			<div style="background-color: #ebdf9d;" class="modal-content">
				<div class="modal-header border border-0 d-flex justify-content-center">
					<img style="height: 70px; width: 70px;" class="" src="../imagenes/icons8-aprobado2 (1).gif" alt="imagen de aprobado">
				</div>
				<div class="modal-body text-black lh-sm">
					<p class="text-center" th:utext="${exito}"></p>
				</div>
				<div class="modal-footer border border-0">
					<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
	
	<!--Modal mensajes de error-->
		
		<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true"
     th:classappend="${showModalError} ? 'show d-block' : ''" th:style="${showModalError} ? 'display: block;' : 'display: none;'">
    <div class="modal-dialog">
        <div style="background-color: #ebdf9d;" class="modal-content">
            <div class="modal-header border border-0 d-flex justify-content-center ">
			<img src="../imagenes/icons8-emoji-de-advertencia-48.png" alt="">
            </div>
            <div class="modal-body text-black lh-sm">
                <p class="text-center" th:utext="${error}"></p>
            </div>
            <div class="modal-footer border border-0">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

				<!--Script para modal de exito-->
	
	<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        var showModalExito = /*[[${showModalExito}]]*/ false;
        if (showModalExito) {
            $('#exitoModal').modal('show');
        }

        $('#exitoModal').on('hidden.bs.modal', function () {
            $(this).remove();
        });
    });
    /*]]>*/
</script>

				<!--Script para modal de error-->
				
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        var showModalError = /*[[${showModalError}]]*/ false;
        if (showModalError) {
            $('#errorModal').modal('show');
        }

        $('#errorModal').on('hidden.bs.modal', function () {
            $(this).remove();
        });
    });
    /*]]>*/
</script>
  </main>

    
  <footer class="d-flex row p-0">
    <div class="divfooter col-lg-4">
      <p class="mb-3 text-center titulos-footer-general">CONTACTOS</p>
      <div class="mb-4">
        <p class="mb-0 text-center"><img class="iconos" src="../imagenes/icons8-gps-50.png" alt="">Pablo Podesta 451,
          B1625 Belén de Escobar</p>
        <p class="text-center mt-0">Provincia de Buenos Aires</p>
      </div>
      <div class="mb-4 text-center">
        <p><img class="iconos" src="../imagenes/icons8-teléfono-celular-50.png" alt="">+54 (11)1111-1111</p>
      </div>
      <div class="mb-4 text-center">
        <p><img class="iconos" src="../imagenes/icons8-whatsapp-50negro.png" alt="">+54 (11)1111-1111</p>
      </div>
      <div class="mb-4 text-center">
        <p class=""><img class="iconos pe-1" src="../imagenes/icons8-correo-50.png" alt="">estoesunaprueba@gmail.com</p>
      </div>
      <div class="text-center iconos3  pb-2">
        <div class="">
          <a class="link" href="#"><img class=" iconos2" src="../imagenes/icons8-instagram-50 black.png" alt=""></a>
        </div>
        <div>
          <a class="link" href="#"><img class=" iconos2" src="../imagenes/icons8-tik-tok-50 black.png" alt=""></a>
        </div>
        <div>
          <a class="link" href="#"> <img class=" iconos2" src="../imagenes/icons8-facebook-50 black.png" alt=""></a>
        </div>
        <div>
          <a class="link" href="#"><img class=" iconos2" src="../imagenes/icons8-youtube-play-50 black.png" alt=""></a>
        </div>
      </div>
    </div>
  
    <div class="divfooter col-lg-4">
      <p class="text-center titulos-footer-general">COMENTARIOS</p>
      <div class="mb-3">
        <label for="exampleFormControlInput21" class="form-label texto-label">NOMBRE</label>
        <input type="text" class="form-control footer-interno" id="exampleFormControlInput21" placeholder="Nombre completo">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput22" class="form-label texto-label">TELEFONO</label>
        <input type="text" class="form-control footer-interno" id="exampleFormControlInput22" placeholder="11 - 1111 - 1111">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput23" class="form-label texto-label">EMAIL</label>
        <input type="email" class="form-control footer-interno" id="exampleFormControlInput23" placeholder="name@example.com">
      </div>
      <div class="mb-2">
        <label for="exampleFormControlTextarea24" class="form-label texto-label">COMENTARIO</label>
        <textarea class="form-control areatexto" id="exampleFormControlTextarea24" rows="3"></textarea>
      </div>
    </div>
  
    <div class="divfooter col-lg-4">
      <p class=" text-center mb-4 titulos-footer-general">UBICACIÓN</p>
      <iframe class="w-100 rounded rounded-2"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4400.61749400772!2d-58.79359358225364!3d-34.353920874961496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bb61b6066f6bc1%3A0xdc195365f6a5a98d!2sPablo%20Podesta%20451%2C%20B1625%20Bel%C3%A9n%20de%20Escobar%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1697767903353!5m2!1ses-419!2sar"
        width="600" height="303" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>
</html>