<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/c81a1e63cb.js" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css}" rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="/css/styles.css">
	<title>Portal Admin</title>
	<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.0/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.2/css/responsive.dataTables.css">
    <script src="https://cdn.datatables.net/2.1.0/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/2.1.0/i18n/es-ES.json"></script>
</head>

<script>
    <!--Scrip para darle funcionalidad a la tabla y colocarla en español-->
    $(document).ready(function() {
        $('#myTable').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/2.1.0/i18n/es-ES.json'
            },
            columnDefs: [
                { orderable: false, targets: 0 } // Desactiva la ordenación para la columna del checkbox
            ]
        });
    });
    </script>

<body class="body-interno">

	<!--Boton flotante de ws-->
	 <a href="https://wa.me/541157442608?text=Nani estética" target="_blank" class="boton-flotante">
	   <i class="fa-brands fa-whatsapp"></i>
	 </a>
	
	<nav>
		<div class="navbar navbar1 navbar-expand-md">
			<div class="container-fluid navbar2">
				<button class="navbar-toggler mb-2" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div th:if="${usuariosEmail}" class="collapse navbar-collapse navbarlogo" id="navbarTogglerDemo01">
					<!--El valor de la variable viene del metodo listarUsuariosOcultos que a su vez viene del homeAdmin-->
					<a th:href="@{/homeAdmin(email=${usuariosEmail})}">
						<!--Usamos el mismo valor de la variable para retornal al homeAdmin y poder mostrar el nombre-->
						<div class="imagen-logo ajuste-texto-menu">
							<img src="../imagenes/Nani-removebg-preview.png" class=" img-logo-nav" alt="">
						</div>
					</a>
					<ul class="navbar-nav navbar4 container-fluid p-0">
						<li class="nav-item">
							<a class="nav-link py-1 ajuste-texto-menu"
								th:href="@{/homeAdmin(email=${usuariosEmail})}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link py-1 ajuste-texto-menu"
								th:href="@{/misdatosAdmin(email=${usuariosEmail})}">Mis datos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link  py-1 ajuste-texto-menu" th:href="@{/index}">Cerrar sesion</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>

	<main class="">
		<div class="">
			<section class=" section-misdatos">
				<div class="container-fluid form-misdatos d-block  justify-content-center align-items-center ">
					<div>
						<h3 class="text-center mb-5 ">Buscador de usuarios</h3>
					</div>

					<div class=" d-flex justify-content-center">
						<div class="mb-3 w-75">
							<form th:action="@{/buscarDNIoNombre}" method="post">
								
								<div class="">
									<input type="text" class="form-control mb-3" id="dato" name="dato" placeholder="Buscar por nombre o DNI">
									<input hidden type="text" id="emailAdmin" name="emailAdmin" th:value="${usuariosEmail}"></input>
									<!--Obtenemos el valor de la variable usuariosEmail del metodo listarUsuariosOcultos que a su vez la obtenemos de la pagina homeAdmin y darle al boton buscar la pasa al metod buscarPorDni-->
								</div>
								<div class="d-flex justify-content-center">
									<button type="submit" class="btn btn-primary ms-3">Buscar</button>
								</div>
								</div>
								
							
					<!--Modal de exito y redireccionamiento a el usuario con datos actualizados	-->
	
	<div class="modal fade" id="exitoModal" data-bs-backdrop="static" data-bs-keyboard="false"
	tabindex="-1" aria-labelledby="exitoModalLabel" aria-hidden="true"
	th:classappend="${showModalExito} ? 'show d-block' : ''" th:style="${showModalExito} ? 'display: block;' : 'display: none;'">
		<div class="modal-dialog">
			<div style="background-color: #ebdf9d;" class="modal-content">
				<div class="modal-header border border-0 d-flex justify-content-center">
					<img style="height: 70px; width: 70px;" class="" src="../imagenes/icons8-aprobado2 (1).gif" alt="imagen de aprobado">
				</div>
				<div class="modal-body text-black lh-sm">
					<p class="text-center" th:utext="${exito}"></p>
				</div>
				<div class="modal-footer border border-0">
					<!--Recibe el valor de ${dato2} cuando el usuario da a buscar a un usuario en el buscador
                 		Luego al presionar aceptar el boton tipo submit vuelven a disparar el metodo buscarDNIoNombre con ese valor de
                		${dato2}. Esto tiene la finalidad de cuando el admin modifique a un usuario, salga el modal de exito y luego
                		cuando se presione el boton cerrar se cargue la pagina de busqueda con los datos actualizados del usuario-->
						<button type="submit" name="dato2" th:value="${dato2}" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
						
				</div>
			</div>
		</div>
	</div>

</form>
	</div>
		</div>
			</div>
				</section>
				
			<section th:if="${usuarios}">
				<form class="alinear-tabla" th:action="@{/modificarUsuario}" method="post">
					<input hidden type="text" id="emailAdministrador" name="emailAdministrador"
						th:value="${usuariosEmail}"></input> 					<!--El valor de la variable viene del metodo listarUsuariosOcultos que a su vez viene del homeAdmin-->
						<input hidden type="text" id="dato" name="dato" th:value="${dato}"></input> <!--El valor de la variable viene de buscarDNIoNombre y va hacia modificarUsuario y a su vez va mensajeErrorNoId-->

						<div class="container-fluid">
							<table id="myTable" class="table table-striped display responsive nowrap tablaUsuario" style="width:100%">
								<thead>
									<tr class="">
										<th class="text-center">Seleccionar</th>
										<th class="text-center">DNI</th>
										<th class="text-center">ID</th>
										<th class="text-center">Nombre</th>
										<th class="text-center">Apellido</th>
										<th class="text-center">Email</th>
										<th class="text-center">Rol</th>
										<th class="text-center">Activo</th>
									</tr>
								</thead>
								
								<tbody>
									<!--El valor de la variable para el each viene del metodo listarUsuariosVisibles-->
									<tr class="" th:each="usuarios : ${usuarios}">
										<td class="text-center">
											<div class="">
												<input class="form-check-input" type="radio" name="idUsuario" th:value="${usuarios.id}" id="idUsuario">
											</div>
										</td> 
										<td class="text-center" th:text="${usuarios.dni}"></td>
										<td class="text-center" th:text="${#strings.substring(usuarios.id, usuarios.id.length() - 12)}"></td>
										<td class="text-center" th:text="${#strings.toUpperCase(usuarios.nombre)}"></td>
										<td class="text-center" th:text="${#strings.toUpperCase(usuarios.apellido)}"></td>
										<td class="text-center" th:text="${#strings.toLowerCase(usuarios.email)}"></td>
										<td class="text-center" th:text="${usuarios.rol}"></td>
										<td class="text-center" th:text="${usuarios.activo ? 'SI' : 'NO'}"></td>
										<input hidden type="text" id="usuarioEmail" name="usuarioEmail"
										th:value="${usuarios.email}"></input>
									</tr>    
								</tbody>
							</table>
						</div>

					<div class="d-flex justify-content-center align-items-center  ">
						<div class="fila-tabla-select">
							<select id="nuevoRol" name="nuevoRol" class="form-select select-tabla"
								aria-label="Default select example">
								<!--Enviamos el valor del rol con el name nuevoRol al metodo modificarUsuario-->
								<option selected>Mofidicar rol</option>
								<option value="ADMIN">Admin</option>
								<option value="PROFESIONAL">Profesional</option>
								<option value="CLIENTE">Cliente</option>
							</select>
						</div>
						<div class="boton-de-registro boton-listado text-center">
							<!--Estos botones solo hacen el llamado al modal-->
							<button type="button" class=" bn632-hover bn26" data-bs-toggle="modal"
								data-bs-target="#staticBackdrop3">Guardar</button>
						</div>
					</div>

					<div class="d-flex container mb-5">
						<div class="filas-tabla-baja mb-2">
							<!--Estos botones solo hacen el llamado al modal-->
							<button type="button" class="btn btn-primary" data-bs-toggle="modal"
								data-bs-target="#staticBackdrop2">Alta</button>
						</div>


						<div class="filas-tabla-baja mb-2">
							<!--Estos botones solo hacen el llamado al modal-->
							<button type="button" class="btn btn-warning" data-bs-toggle="modal"
								data-bs-target="#staticBackdrop1">Baja</button>
						</div>

						<div class="filas-tabla-baja mb-2">
							<!--Estos botones solo hacen el llamado al modal-->
							<button type="button" class="btn btn-danger" data-bs-toggle="modal"
								data-bs-target="#staticBackdrop">Eliminar</button>
						</div>
						
						
						<!-- Modal modificarRol -->
						<div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false"
							tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div style="background-color: #ebdf9d;" class="modal-content">
									<div class="modal-header d-block  text-center border border-0">
										<img src="../imagenes/icons8-emoji-de-advertencia-48.png" alt="">
										<h1 class="modal-title text-black lh-sm text-center fs-5 fw-bold" id="staticBackdropLabel">¿Estas seguro de modificar el
											rol de este usuario?</h1>
									</div>
									<div class="modal-body text-black lh-sm text-center">
										<span class="fs-6 fw-bold">Estimado usuario,</span><br><br>
										<span class="fs-6">Al modificar el rol de este usuario le das diferentes tipos de permisos como pueden ser permisos
										de profesional o de administrador, asi que por verifica que el rol que le estes asigando al usuario
										sea el adecuado.</span>
									</div>
									<div class="modal-footer border border-0">
										<button type="button" class="btn btn-danger"
											data-bs-dismiss="modal">Cerrar</button>
										<a href="">
											<!--Este boton es el que hace el llamado al metodo-->
											<button type="submit" name="action" value="modificarRol"
												class="btn btn-primary">Aceptar</button>
										</a>
									</div>
								</div>
							</div>
						</div>


						<!-- Modal altaUsuario -->
						<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
							tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div style="background-color: #ebdf9d;" class="modal-content">
									<div class="modal-header d-block  text-center border border-0">
										<img src="../imagenes/icons8-emoji-de-advertencia-48.png" alt="">
										<h1 class="modal-title text-black lh-sm fs-4 fw-bold text-center" id="staticBackdropLabel">¿Estas seguro de
											darle de alta a este usuario?</h1>
									</div>
									<div class="modal-body lh-sm text-center">
										<span class="fs-6 fw-bold">Estimado usuario,</span><br><br>
										<span class="fs-6">Al darle de alta a un usuario, este queda activo nuevamente en el sistema, por
										lo que puede
										volver a iniciar sesion en su cuenta y usar los servicios ofrecidos por la
										pagina.</span>
									</div>
									<div class="modal-footer border border-0">
										<button type="button" class="btn btn-danger"
											data-bs-dismiss="modal">Cerrar</button>
										<a href="">
											<!--Este boton es el que hace el llamado al metodo-->
											<button type="submit" name="action" value="altaUsuario"
												class="btn btn-primary">Alta</button>
										</a>
									</div>
								</div>
							</div>
						</div>

						<!-- Modal BajaUsuario -->
						<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false"
							tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div style="background-color: #ebdf9d;" class="modal-content">
									<div class="modal-header d-block  text-center border border-0">
										<img src="../imagenes/icons8-emoji-de-advertencia-48.png" alt="">
										<h1 class="modal-title text-black lh-sm fs-4 fw-bold text-center" id="staticBackdropLabel">¿Estas seguro de
											darle de baja a este usuario?</h1>
									</div>
									<div class="modal-body lh-sm text-center">
										<span class="fs-6 fw-bold">Estimado usuario,</span><br><br>
										<span class="fs-6">Si le das de baja al usuario, este quedara inhabilitado del sistema, por lo que
										no podra iniciar sesión en su cuenta ni
										usar los servicios ofrecidos por la pagina. Esta acción se puede revertir dadole
										de alta nuevamente al usuario.</span>
									</div>
									<div class="modal-footer border border-0">
										<button type="button" class="btn btn-danger"
											data-bs-dismiss="modal">Cerrar</button>
										<a href="">
											<!--Este boton es el que hace el llamado al metodo-->
											<button type="submit" name="action" value="bajaUsuario"
												class="btn btn-primary">Baja</button>
										</a>
									</div>
								</div>
							</div>
						</div>



						<!-- Modal Eliminar -->
						<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
							tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div style="background-color: #ebdf9d;" class="modal-content">
									<div class="modal-header d-block  text-center border border-0">
										<img src="../imagenes/icons8-emoji-de-advertencia-48.png" alt="">
										<h1 class="modal-title fs-4 fw-bold text-black lh-sm text-center" id="staticBackdropLabel">¿Estas seguro de
											eliminar este usuario?</h1>
									</div>
									<div class="modal-body text-black lh-sm">
										<span class="fs-6 fw-bold">Estimado usuario,</span><br><br>
										<span class="fs-6">Si eliminas este usuario, todos sus datos se borrarán
											 permanentemente de la base de datos y no podrán ser recuperados. Esta 
											 acción es irreversible.</span>
									</div>
									<div class="modal-footer border border-0">
										<button type="button" class="btn btn-danger"
											data-bs-dismiss="modal">Cerrar</button>
										<a href="">
											<!--Este boton es el que hace el llamado al metodo-->
											<button type="submit" name="action" value="eliminarUsuario"
												class="btn btn-primary">Eliminar</button>
										</a>
									</div>
								</div>
							</div>
						</div>

					</div>
				</form>
			</section>
		</div>
		
		<!--Modal mensajes de error-->
		
		<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true"
     th:classappend="${showModalError} ? 'show d-block' : ''" th:style="${showModalError} ? 'display: block;' : 'display: none;'">
    <div class="modal-dialog">
        <div style="background-color: #ebdf9d;" class="modal-content">
            <div class="modal-header border border-0 d-flex justify-content-center ">
			<img src="../imagenes/icons8-emoji-de-advertencia-48.png" alt="">
            </div>
            <div class="modal-body text-black lh-sm">
                <p class="text-center" th:utext="${error}"></p>
            </div>
            <div class="modal-footer border border-0">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

			<!--Modal mensajes de elimar usuario exitoso-->
		
		<div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="eliminarModalLabel" aria-hidden="true"
     th:classappend="${showModalBorradoExitoso} ? 'show d-block' : ''" th:style="${showModalBorradoExitoso} ? 'display: block;' : 'display: none;'">
    <div class="modal-dialog">
        <div style="background-color: #ebdf9d;" class="modal-content">
            <div class="modal-header border border-0 d-flex justify-content-center ">
			<img style="height: 70px; width: 70px;" class="" src="../imagenes/icons8-aprobado2 (1).gif" alt="imagen de aprobado">
            </div>
            <div class="modal-body text-black lh-sm">
                <p class="text-center" th:utext="${exito}"></p>
            </div>
            <div class="modal-footer border border-0">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--Este jquery lo saque de chatgp, cumple la funcion de abrir el modal al recibir la variable de 
showModal y tambien se encarga de cerrar el modal cuando le damos al boton cerrar-->

			<!--Scrip para el modal de eliminar usuario exitoso-->
			
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        var showModalBorradoExitoso = /*[[${showModalBorradoExitoso}]]*/ false;
        if (showModalBorradoExitoso) {
            $('#eliminarModal').modal('show');
        }

        $('#eliminarModal').on('hidden.bs.modal', function () {
            $(this).remove();
        });
    });
    /*]]>*/
</script>

			<!--Scrip para el modal de mensaje de exito-->
			
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        var showModalExito = /*[[${showModalExito}]]*/ false;
        if (showModalExito) {
            $('#exitoModal').modal('show');
        }

        $('#exitoModal').on('hidden.bs.modal', function () {
            $(this).remove();
        });
    });
    /*]]>*/
</script>

			<!--Scrip para el modal de mensaje de error-->


<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        var showModalError = /*[[${showModalError}]]*/ false;
        if (showModalError) {
            $('#errorModal').modal('show');
        }

        $('#errorModal').on('hidden.bs.modal', function () {
            $(this).remove();
        });
    });
    /*]]>*/
</script>
	</main>




	<footer class="d-flex row p-0">
	    <div class="divfooter col-lg-6 mb-3">
	      <p class="mb-3 text-center titulos-footer">CONTACTOS</p>
	      <div class="mb-4">
	        <p class="mb-0 text-center"><img class="iconos" src="/imagenes/icons8-gps-50.png" alt="">Rivadavia 730,
	          B1625 Belén de Escobar</p>
	        <p class="text-center mt-0">Provincia de Buenos Aires</p>
	      </div>
	      <div class="mb-4 text-center">
	        <p><img class="iconos" src="/imagenes/icons8-teléfono-celular-50.png" alt="">+54 (11)5744-2608</p>
	      </div>
	      <div class="mb-4 text-center">
	        <p><img class="iconos" src="/imagenes/icons8-whatsapp-50negro.png" alt="">+54 (11)5744-2608</p>
	      </div>
	      <div class="mb-4 text-center">
	        <p class=""><img class="iconos pe-1" src="/imagenes/icons8-correo-50.png" alt="">estoesunaprueba@gmail.com</p>
	      </div>
	      <div class="text-center iconos3 mt-5 pb-4">
	        <div class="">
	          <a class="link" href="#"><img class=" iconos2" src="/imagenes/icons8-instagram-50 black.png" alt=""></a>
	        </div>
	        <div>
	          <a class="link" href="#"><img class=" iconos2" src="/imagenes/icons8-tik-tok-50 black.png" alt=""></a>
	        </div>
	        <div>
	          <a class="link" href="#"> <img class=" iconos2" src="/imagenes/icons8-facebook-50 black.png" alt=""></a>
	        </div>
	        <div>
	          <a class="link" href="#"><img class=" iconos2" src="/imagenes/icons8-youtube-play-50 black.png" alt=""></a>
	        </div>
	      </div>
	    </div>
		
		
		
		<div class="divfooter col-lg-6">
			<p class=" text-center mb-4 titulos-footer">UBICACIÓN</p>
			<iframe class="w-100 rounded rounded-2" 
			   src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3294.081216388164!2d-58.80112362527934!3d-34.3484110440581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bb61bb0df3ff2f%3A0xd3ede6174bb9f023!2sGMP%2C%20Rivadavia%20730%2C%20B1625%20Bel%C3%A9n%20de%20Escobar%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1722992578537!5m2!1ses!2sar"
			   width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
			 </iframe>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
</body>
<script src="https://cdn.datatables.net/responsive/3.0.2/js/dataTables.responsive.js"></script>
<script src="https://cdn.datatables.net/responsive/3.0.2/js/responsive.dataTables.js"></script>
</html>